Repository bevyengine/bevy, pull requests merged in 2024-12, with the labels that each got.

#16581 Update example link
  crates/bevy_reflect/src/lib.rs
Labels: C-Docs, D-Trivial, C-Examples

#16585 Updated comment: ZIndex::Local(0) -> ZIndex(0).
  examples/ui/z_index.rs
Labels: C-Docs, D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#16180 enable_state_scoped_entities() as a derive attribute
  crates/bevy_state/macros/src/lib.rs
  crates/bevy_state/macros/src/states.rs
  crates/bevy_state/src/app.rs
  crates/bevy_state/src/state/states.rs
  crates/bevy_state/src/state_scoped.rs
  examples/state/sub_states.rs
  examples/testbed/2d.rs
  examples/testbed/3d.rs
Labels: C-Usability, S-Ready-For-Final-Review, D-Straightforward, A-States

#16434 Getting `QueryState` from immutable `World` reference
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, M-Needs-Release-Note

#16514 Refactor `FunctionSystem` to use a single `Option`
  crates/bevy_ecs/src/system/function_system.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#16574 make example external_source_external_thread deterministic
  examples/async_tasks/external_source_external_thread.rs
Labels: C-Examples, S-Ready-For-Final-Review, D-Straightforward

#16022 Add .contains_aabb for Frustum
  crates/bevy_render/src/primitives/mod.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Straightforward

#16502 Multiple box shadow support
  crates/bevy_ui/src/render/box_shadow.rs
  crates/bevy_ui/src/ui_node.rs
  examples/testbed/ui.rs
  examples/ui/box_shadow.rs
Labels: C-Feature, A-UI, S-Ready-For-Final-Review, M-Needs-Migration-Guide, M-Needs-Release-Note, D-Straightforward

#16592 Update Contributor's Guide link in README.md
  README.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review

#16537 Add `Commands::run_schedule`
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: C-Feature, D-Trivial, A-ECS, S-Ready-For-Final-Review, X-Uncontroversial

#13443 implement the full set of sorts on QueryManyIter
  crates/bevy_ecs/src/query/iter.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Modest, D-Unsafe

#15810 Add `no_std` Support to `bevy_math`
  crates/bevy_math/Cargo.toml
  crates/bevy_math/clippy.toml
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/bounding/bounded3d/extrusion.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
  crates/bevy_math/src/bounding/raycast2d.rs
  crates/bevy_math/src/bounding/raycast3d.rs
  crates/bevy_math/src/common_traits.rs
  crates/bevy_math/src/compass.rs
  crates/bevy_math/src/cubic_splines.rs
  crates/bevy_math/src/curve/adaptors.rs
  crates/bevy_math/src/curve/cores.rs
  crates/bevy_math/src/curve/easing.rs
  crates/bevy_math/src/curve/interval.rs
  crates/bevy_math/src/curve/iterable.rs
  crates/bevy_math/src/curve/mod.rs
  crates/bevy_math/src/curve/sample_curves.rs
  crates/bevy_math/src/direction.rs
  crates/bevy_math/src/float_ord.rs
  crates/bevy_math/src/lib.rs
  crates/bevy_math/src/ops.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/primitives/serde.rs
  crates/bevy_math/src/ray.rs
  crates/bevy_math/src/rects/rect.rs
  crates/bevy_math/src/rotation2d.rs
  crates/bevy_math/src/sampling/mesh_sampling.rs
  crates/bevy_math/src/sampling/mod.rs
  crates/bevy_math/src/sampling/shape_sampling.rs
  tools/ci/src/commands/compile_check_no_std.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Math, X-Contentious, D-Straightforward

#15844 Upgrade to Taffy 0.6
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/layout/convert.rs
  crates/bevy_ui/src/ui_node.rs
Labels: C-Dependencies, A-UI, S-Ready-For-Final-Review, M-Needs-Migration-Guide, D-Straightforward

#15884 bevy_winit(emit raw winit events)
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
Labels: A-Windowing, C-Usability, S-Ready-For-Final-Review, X-Contentious, D-Straightforward

#16050 Compute better smooth normals for cheaper, maybe
  crates/bevy_mesh/src/mesh.rs
  crates/bevy_mesh/src/vertex.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review

#16095 Native unclipped depth on supported platforms
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/meshlet/pipelines.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_hardware_raster.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_raster_node.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_software_raster.wgsl
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/prepass/prepass_io.wgsl
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, D-Straightforward, D-Shaders

#16132 Entity cloning
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/clone_entities.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/observer/entity_observer.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_hierarchy/src/components/children.rs
  crates/bevy_hierarchy/src/components/parent.rs
  crates/bevy_hierarchy/src/hierarchy.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, M-Needs-Release-Note, D-Modest

#16161 Move `all_tuples` to a new crate
  crates/bevy_app/Cargo.toml
  crates/bevy_app/src/plugin.rs
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/world_query.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/exclusive_system_param.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/reflect_fn.rs
  crates/bevy_reflect/src/func/reflect_fn_mut.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/render_graph/node.rs
  crates/bevy_render/src/render_phase/draw.rs
  crates/bevy_render/src/render_resource/bind_group_entries.rs
  crates/bevy_render/src/render_resource/bind_group_layout_entries.rs
  crates/bevy_state/Cargo.toml
  crates/bevy_state/src/state/state_set.rs
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/macros/Cargo.toml
  crates/bevy_utils/macros/src/lib.rs
  crates/bevy_utils/src/lib.rs
  tools/publish.sh
Labels: S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Utils, D-Straightforward

#16359 Update rodio requirement from 0.19 to 0.20
  crates/bevy_audio/Cargo.toml
Labels: A-Audio, C-Dependencies, S-Ready-For-Final-Review, D-Straightforward

#16402 Use `IntoIterator` instead of `Into<Vec<..>>` in cubic splines interfaces
  crates/bevy_math/src/cubic_splines.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#16459 Remove the `min` and `max` fields from `LayoutContext`.
  crates/bevy_ui/src/layout/convert.rs
  crates/bevy_ui/src/layout/mod.rs
Labels: D-Trivial, A-UI, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#16460 Remove flush_and_reserve_invalid_assuming_no_entities
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/storage/table/mod.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#16505 Rename `UiBoxShadowSamples` to `BoxShadowSamples`.
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/box_shadow.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/ui_node.rs
  examples/testbed/ui.rs
  examples/ui/box_shadow.rs
Labels: D-Trivial, A-UI, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#16575 Move required components doc to type doc
  crates/bevy_core_pipeline/src/motion_blur/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_input/src/gamepad.rs
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/ssr/mod.rs
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/mesh/components.rs
  crates/bevy_scene/src/components.rs
  crates/bevy_sprite/src/sprite.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_transform/src/components/transform.rs
  crates/bevy_ui/src/ui_material.rs
  crates/bevy_ui/src/widget/button.rs
  crates/bevy_ui/src/widget/text.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, X-Contentious

#16612 Make `StateTransitionSteps` public
  crates/bevy_state/src/state/transitions.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-States

#16619 switch bevy_mesh to use wgpu-types instead of wgpu
  crates/bevy_mesh/Cargo.toml
  crates/bevy_mesh/src/index.rs
  crates/bevy_mesh/src/mesh.rs
  crates/bevy_mesh/src/mikktspace.rs
  crates/bevy_mesh/src/morph.rs
  crates/bevy_mesh/src/primitives/dim2.rs
  crates/bevy_mesh/src/primitives/dim3/capsule.rs
  crates/bevy_mesh/src/primitives/dim3/cone.rs
  crates/bevy_mesh/src/primitives/dim3/conical_frustum.rs
  crates/bevy_mesh/src/primitives/dim3/cuboid.rs
  crates/bevy_mesh/src/primitives/dim3/cylinder.rs
  crates/bevy_mesh/src/primitives/dim3/plane.rs
  crates/bevy_mesh/src/primitives/dim3/sphere.rs
  crates/bevy_mesh/src/primitives/dim3/tetrahedron.rs
  crates/bevy_mesh/src/primitives/dim3/torus.rs
  crates/bevy_mesh/src/primitives/dim3/triangle3d.rs
  crates/bevy_mesh/src/primitives/extrusion.rs
  crates/bevy_mesh/src/vertex.rs
Labels: A-Rendering, C-Code-Quality, S-Ready-For-Final-Review

#15519 Remove `petgraph` from `bevy_ecs`
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/schedule/graph/graph_map.rs
  crates/bevy_ecs/src/schedule/graph/mod.rs
  crates/bevy_ecs/src/schedule/graph/node.rs
  crates/bevy_ecs/src/schedule/graph/tarjan_scc.rs
  crates/bevy_ecs/src/schedule/mod.rs
  crates/bevy_ecs/src/schedule/schedule.rs
Labels: C-Feature, A-ECS, C-Performance, S-Ready-For-Final-Review, X-Contentious, D-Modest

#16286 Make visibility range (HLOD) dithering work when prepasses are enabled.
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/prepass/prepass_io.wgsl
  crates/bevy_pbr/src/render/mesh.wgsl
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
  examples/3d/visibility_range.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#16649 Add missing registration for `TextEntity`
  crates/bevy_text/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, A-Text

#16613 BrpQueryRow has field deserialization fix
  crates/bevy_remote/src/builtin_methods.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Dev-Tools, D-Straightforward

#15473 Retained `Gizmo`s
  crates/bevy_dev_tools/src/ui_debug_overlay/inset.rs
  crates/bevy_dev_tools/src/ui_debug_overlay/mod.rs
  crates/bevy_gizmos/src/arcs.rs
  crates/bevy_gizmos/src/arrows.rs
  crates/bevy_gizmos/src/circles.rs
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/cross.rs
  crates/bevy_gizmos/src/curves.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_gizmos/src/grid.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/line_joints.wgsl
  crates/bevy_gizmos/src/lines.wgsl
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_gizmos/src/primitives/dim2.rs
  crates/bevy_gizmos/src/primitives/dim3.rs
  crates/bevy_gizmos/src/retained.rs
  crates/bevy_gizmos/src/rounded_box.rs
  examples/gizmos/2d_gizmos.rs
  examples/gizmos/3d_gizmos.rs
  examples/gizmos/light_gizmos.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Gizmos, M-Needs-Release-Note

#13746 Cluster light probes using conservative spherical bounds.
  assets/shaders/irradiance_volume_voxel_visualization.wgsl
  crates/bevy_pbr/src/cluster/assign.rs
  crates/bevy_pbr/src/cluster/mod.rs
  crates/bevy_pbr/src/light_probe/environment_map.wgsl
  crates/bevy_pbr/src/light_probe/irradiance_volume.wgsl
  crates/bevy_pbr/src/light_probe/light_probe.wgsl
  crates/bevy_pbr/src/render/clustered_forward.wgsl
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/ssr/ssr.wgsl
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, D-Modest

#16625 Expose `SystemMeta`'s access field as part of public API
  crates/bevy_ecs/src/system/function_system.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Modest, D-Unsafe

#16642 Turn `apply_deferred` into a ZST System
  Cargo.toml
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/simple.rs
  crates/bevy_ecs/src/schedule/graph/mod.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_render/src/view/window/screenshot.rs
  crates/bevy_transform/src/commands.rs
  crates/bevy_ui/src/layout/mod.rs
Labels: A-ECS, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, D-Modest

#16299 Improve profiling instructions
  docs/profiling.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review, D-Straightforward

#16219 Flush commands after every mutation in `WorldEntityMut`
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, M-Needs-Migration-Guide, P-Unsound

#16655 Do not attempt to send screenshots to Pixel Eagle without a token
  .github/workflows/send-screenshots-to-pixeleagle.yml
Labels: A-Build-System, S-Ready-For-Final-Review, D-Straightforward

#16103 Window picking
  crates/bevy_ecs/src/event/base.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/traversal.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_hierarchy/src/components/parent.rs
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_picking/src/window.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Picking

#16385 Retain `RenderMeshInstance` and `MeshInputUniform` data from frame to frame.
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/render/gpu_preprocess.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/render_resource/buffer_vec.rs
  crates/bevy_render/src/view/visibility/mod.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#16633 Add `no_std` support to `bevy_color`
  crates/bevy_color/Cargo.toml
  crates/bevy_color/src/color_difference.rs
  crates/bevy_color/src/color_gradient.rs
  crates/bevy_color/src/color_ops.rs
  crates/bevy_color/src/hwba.rs
  crates/bevy_color/src/lib.rs
  crates/bevy_color/src/linear_rgba.rs
  crates/bevy_color/src/srgba.rs
  tools/ci/src/commands/compile_check_no_std.rs
Labels: C-Feature, D-Trivial, S-Ready-For-Final-Review, X-Uncontroversial, A-Color

#16641 Fix the `texture_binding_array`, `specialized_mesh_pipeline`, and `custom_shader_instancing` examples after the bindless change.
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/material_bind_groups.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/render_resource/bind_group.rs
  examples/shader/texture_binding_array.rs
Labels: C-Bug, A-Rendering, C-Examples, S-Ready-For-Final-Review, P-Regression

#16657 picking: disable raycast backface culling for Mesh2d
  crates/bevy_picking/src/mesh_picking/ray_cast/mod.rs
Labels: C-Bug, S-Ready-For-Final-Review, D-Straightforward, A-Picking

#16589 Fallible systems
  Cargo.toml
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/result.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/schedule/executor/simple.rs
  crates/bevy_ecs/src/schedule/executor/single_threaded.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/schedule/stepping.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/schedule_system.rs
  examples/README.md
  examples/ecs/fallible_systems.rs
Labels: C-Feature, A-ECS, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, M-Needs-Release-Note, X-Contentious

#16499 Run observers before hooks for `on_replace` and `on_remove`
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#16665 bevy_input_focus improvements (follow-up PR)
  crates/bevy_input_focus/src/lib.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_internal/src/lib.rs
Labels: C-Bug, D-Trivial, A-Input, A-UI, S-Ready-For-Final-Review

#15464 Add `no_std` support to `bevy_tasks`
  crates/bevy_tasks/Cargo.toml
  crates/bevy_tasks/README.md
  crates/bevy_tasks/src/executor.rs
  crates/bevy_tasks/src/iter/adapters.rs
  crates/bevy_tasks/src/iter/mod.rs
  crates/bevy_tasks/src/lib.rs
  crates/bevy_tasks/src/single_threaded_task_pool.rs
  crates/bevy_tasks/src/slice.rs
  crates/bevy_tasks/src/task.rs
  crates/bevy_tasks/src/task_pool.rs
  crates/bevy_tasks/src/thread_executor.rs
  crates/bevy_tasks/src/usages.rs
  tools/ci/src/commands/compile_check_no_std.rs
Labels: C-Feature, A-Tasks, X-Contentious, D-Straightforward, S-Needs-Review, D-Async

#16677 Fix error in volumetric fog shader
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#16685 add missing type registration for `Monitor`
  crates/bevy_window/src/lib.rs
Labels: D-Trivial, C-Usability, A-Reflection

#16672 Move `clone_entity` commands to `EntityCommands`
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_hierarchy/src/hierarchy.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#16688 Fix mehses -> meshes typo
  crates/bevy_picking/src/mesh_picking/ray_cast/mod.rs
Labels: C-Docs, D-Trivial, A-Picking

#16577 Update breakout to use Required Components
  examples/games/breakout.rs
Labels: A-ECS, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#16707 Add `World::try_resource_scope`
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#16712 :arrow_up: Upgrade typos and its configuration
  .github/workflows/ci.yml
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_mesh/src/index.rs
  crates/bevy_mesh/src/primitives/dim2.rs
  crates/bevy_ui/src/stack.rs
  typos.toml
Labels: A-Build-System, S-Ready-For-Final-Review, D-Straightforward

#16699 Replace deperacted bundle mention in the comment
  examples/games/desk_toy.rs
Labels: C-Docs, D-Trivial, C-Examples, S-Needs-Review

#16716 Rename `trigger.entity()` to `trigger.target()`
  crates/bevy_ecs/README.md
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_render/src/sync_world.rs
  crates/bevy_scene/src/scene_spawner.rs
  crates/bevy_winit/src/cursor.rs
  examples/animation/animated_fox.rs
  examples/ecs/observer_propagation.rs
  examples/ecs/observers.rs
  examples/ecs/removal_detection.rs
  examples/picking/mesh_picking.rs
  examples/picking/simple_picking.rs
  examples/picking/sprite_picking.rs
  examples/testbed/3d.rs
  examples/ui/scroll.rs
Labels: C-Usability, M-Needs-Migration-Guide, S-Waiting-on-Author

#16695 Allow holes in the `MeshInputUniform` buffer.
  crates/bevy_pbr/src/render/gpu_preprocess.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/batching/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, P-Regression

#15074 bevy_reflect: Function Overloading (Generic & Variadic Functions)
  benches/benches/bevy_reflect/function.rs
  crates/bevy_reflect/src/func/args/arg.rs
  crates/bevy_reflect/src/func/args/count.rs
  crates/bevy_reflect/src/func/args/error.rs
  crates/bevy_reflect/src/func/args/list.rs
  crates/bevy_reflect/src/func/args/mod.rs
  crates/bevy_reflect/src/func/dynamic_function.rs
  crates/bevy_reflect/src/func/dynamic_function_internal.rs
  crates/bevy_reflect/src/func/dynamic_function_mut.rs
  crates/bevy_reflect/src/func/error.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/into_function.rs
  crates/bevy_reflect/src/func/into_function_mut.rs
  crates/bevy_reflect/src/func/mod.rs
  crates/bevy_reflect/src/func/reflect_fn.rs
  crates/bevy_reflect/src/func/reflect_fn_mut.rs
  crates/bevy_reflect/src/func/signature.rs
  examples/reflection/function_reflection.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Reflection, D-Complex, M-Needs-Release-Note

#15981 Polygon simplicity
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/mod.rs
  crates/bevy_math/src/primitives/polygon.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Math, D-Straightforward

#16324 Document why `MAX_JOINTS` and `MAX_MORPH_WEIGHTS` are set
  crates/bevy_pbr/src/render/mesh_bindings.rs
  crates/bevy_pbr/src/render/skin.rs
Labels: C-Docs, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#16331 Rename Pointer<Down/Up> -> Pointer<Pressed/Released> in bevy_picking.
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/input.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_picking/src/pointer.rs
  examples/picking/mesh_picking.rs
  examples/picking/sprite_picking.rs
  examples/ui/scroll.rs
Labels: C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward, A-Picking

#16591 Added stress test for large ecs worlds
  Cargo.toml
  examples/README.md
  examples/stress_tests/many_components.rs
Labels: A-ECS, S-Ready-For-Final-Review, C-Benchmarks, D-Modest

#16663 Improve child_builder add_child documentation slightly
  crates/bevy_hierarchy/src/child_builder.rs
Labels: C-Docs, D-Trivial, A-ECS, S-Ready-For-Final-Review

#16667 fix tiny copy-paste mistake in `bevy_text::font_atlas_set`
  crates/bevy_text/src/font_atlas_set.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Text

#16673 Fix atan2 docs
  crates/bevy_math/src/ops.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Math

#16696 Rename `EntityCommands::clone` to `clone_and_spawn`
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_hierarchy/src/hierarchy.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, X-Contentious

#16703 Rename `RayCastSettings` to `MeshRayCastSettings`
  crates/bevy_picking/src/lib.rs
  crates/bevy_picking/src/mesh_picking/mod.rs
  crates/bevy_picking/src/mesh_picking/ray_cast/mod.rs
  examples/3d/mesh_ray_cast.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Picking

#16723 Don't unconditionally create temporary render entities for visible objects.
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_render/src/camera/camera.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, P-Regression

#16724 BRP serialization tests
  crates/bevy_remote/src/builtin_methods.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Dev-Tools, D-Straightforward

#16729 box shadows comment fix
  crates/bevy_ui/src/render/box_shadow.rs
Labels: C-Docs, D-Trivial, A-UI, S-Ready-For-Final-Review

#16687 Link to required components docs in component type docs
  crates/bevy_ecs/macros/src/component.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#16735 Fix crash when component parameters are invalid
  crates/bevy_remote/src/builtin_methods.rs
Labels: D-Trivial, P-Crash, S-Ready-For-Final-Review, A-Dev-Tools

#16739 Feature gate `is_polygon_simple` behind the `alloc` feature.
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/polygon.rs
Labels: S-Ready-For-Final-Review, P-Regression, A-Math

#16692 Use multidraw for shadows when GPU culling is in use.
  crates/bevy_pbr/src/render/light.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#16644 Make `StandardMaterial` bindless.
  crates/bevy_pbr/src/extended_material.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/material_bind_groups.rs
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/parallax_mapping.wgsl
  crates/bevy_pbr/src/render/pbr_bindings.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
  crates/bevy_pbr/src/render/pbr_prepass_functions.wgsl
  crates/bevy_render/macros/src/as_bind_group.rs
  crates/bevy_render/src/render_resource/bind_group.rs
  examples/shader/texture_binding_array.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#16516 one shot system cleanup
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_registry.rs
  crates/bevy_remote/src/lib.rs
  crates/bevy_ui/src/layout/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, D-Straightforward

#16599 Batch skinned meshes on platforms where storage buffers are available.
  crates/bevy_pbr/src/meshlet/instance_manager.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh.wgsl
  crates/bevy_pbr/src/render/mesh_bindings.rs
  crates/bevy_pbr/src/render/mesh_preprocess.wgsl
  crates/bevy_pbr/src/render/mesh_types.wgsl
  crates/bevy_pbr/src/render/mod.rs
  crates/bevy_pbr/src/render/skin.rs
  crates/bevy_pbr/src/render/skinning.wgsl
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, A-Animation

#16741 Add RenderDiagnosticsPlugin to diagnostics example
  examples/diagnostics/log_diagnostics.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Diagnostics

#16503 Derivative access patterns for curves
  crates/bevy_math/src/common_traits.rs
  crates/bevy_math/src/cubic_splines/curve_impls.rs
  crates/bevy_math/src/cubic_splines/mod.rs
  crates/bevy_math/src/curve/adaptors.rs
  crates/bevy_math/src/curve/derivatives/adaptor_impls.rs
  crates/bevy_math/src/curve/derivatives/mod.rs
  crates/bevy_math/src/curve/mod.rs
  typos.toml
Labels: C-Feature, S-Ready-For-Final-Review, A-Math, M-Needs-Release-Note, X-Contentious, D-Modest

#16733 Make benchmark setup consistent
  benches/Cargo.toml
  benches/benches/bevy_ecs/benches.rs
  benches/benches/bevy_ecs/change_detection.rs
  benches/benches/bevy_ecs/components/mod.rs
  benches/benches/bevy_ecs/empty_archetypes.rs
  benches/benches/bevy_ecs/events/mod.rs
  benches/benches/bevy_ecs/fragmentation.rs
  benches/benches/bevy_ecs/iteration/mod.rs
  benches/benches/bevy_ecs/main.rs
  benches/benches/bevy_ecs/observers/mod.rs
  benches/benches/bevy_ecs/observers/propagation.rs
  benches/benches/bevy_ecs/param/mod.rs
  benches/benches/bevy_ecs/scheduling/mod.rs
  benches/benches/bevy_ecs/scheduling/run_condition.rs
  benches/benches/bevy_ecs/scheduling/running_systems.rs
  benches/benches/bevy_ecs/scheduling/schedule.rs
  benches/benches/bevy_ecs/world/entity_hash.rs
  benches/benches/bevy_ecs/world/mod.rs
  benches/benches/bevy_ecs/world/world_get.rs
  benches/benches/bevy_math/bezier.rs
  benches/benches/bevy_math/main.rs
  benches/benches/bevy_picking/main.rs
  benches/benches/bevy_picking/ray_mesh_intersection.rs
  benches/benches/bevy_reflect/function.rs
  benches/benches/bevy_reflect/list.rs
  benches/benches/bevy_reflect/main.rs
  benches/benches/bevy_reflect/map.rs
  benches/benches/bevy_reflect/path.rs
  benches/benches/bevy_reflect/struct.rs
  benches/benches/bevy_render/main.rs
  benches/benches/bevy_render/render_layers.rs
  benches/benches/bevy_render/torus.rs
  benches/benches/bevy_tasks/iter.rs
  benches/benches/bevy_tasks/main.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, C-Benchmarks, A-Cross-Cutting, D-Straightforward

#16693 Draw the UI debug overlay using the UI renderer
  Cargo.toml
  crates/bevy_dev_tools/Cargo.toml
  crates/bevy_dev_tools/src/lib.rs
  crates/bevy_dev_tools/src/ui_debug_overlay/inset.rs
  crates/bevy_dev_tools/src/ui_debug_overlay/mod.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/debug_overlay.rs
  crates/bevy_ui/src/render/mod.rs
  docs/cargo_features.md
  examples/testbed/ui.rs
Labels: A-UI, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Dev-Tools

#16750 Register type `BoxShadow`
  crates/bevy_ui/src/lib.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Reflection

#16756 fix doc links for PointerHits
  crates/bevy_picking/src/backend.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Picking

#16648 Descriptive error message for circular required components recursion
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/lib.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#16747 Support tuple structs in AnimatedField
  crates/bevy_animation/src/animation_curves.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Animation, D-Straightforward

#16763 Ignore the 'instant is unmaintained' advisory.
  deny.toml
Labels: D-Trivial, A-Build-System, S-Ready-For-Final-Review, X-Contentious

#16769 Remove TODO and add docs about limitations of `PlaybackMode::Once`
  crates/bevy_audio/src/audio.rs
Labels: A-Audio, C-Usability, S-Ready-For-Final-Review, X-Contentious

#16755 Update the prepass shaders and fix the batching logic for bindless and multidraw.
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/deferred/mod.rs
  crates/bevy_core_pipeline/src/prepass/mod.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
  crates/bevy_render/src/batching/gpu_preprocessing.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#16727 `BorderRect` maintenance
  crates/bevy_sprite/src/texture_slice/border_rect.rs
  crates/bevy_sprite/src/texture_slice/slicer.rs
  crates/bevy_ui/src/render/debug_overlay.rs
  crates/bevy_ui/src/render/mod.rs
  examples/2d/sprite_slice.rs
  examples/ui/ui_texture_atlas_slice.rs
  examples/ui/ui_texture_slice.rs
  examples/ui/ui_texture_slice_flip_and_tile.rs
Labels: C-Docs, A-Rendering, A-UI, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#16772 UI slice bug
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review, D-Straightforward

#16767 Remove duplicated instruction line in `lighting` example
  examples/3d/lighting.rs
Labels: C-Bug, D-Trivial, C-Examples, S-Needs-Review

#16778 Event source location tracking
  crates/bevy_ecs/src/event/base.rs
  crates/bevy_ecs/src/event/collections.rs
  crates/bevy_ecs/src/event/send_event.rs
  crates/bevy_ecs/src/event/writer.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_reflect/src/impls/std.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Diagnostics, M-Needs-Release-Note

#16780 Upgrade Taffy to 0.7
  crates/bevy_ui/Cargo.toml
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#16749 Improve `bevy_input_focus`
  crates/bevy_input_focus/Cargo.toml
  crates/bevy_input_focus/src/lib.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, C-Testing, D-Modest

#16786 Misc. docs and renames for niche ECS internals
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Docs, A-ECS, C-Code-Quality, S-Ready-For-Final-Review

#16616 Remove the coordinate rounding from `extract_text_sections`. The coor…
  crates/bevy_ui/src/render/mod.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review, D-Straightforward

#16757 Make indirect drawing opt-out instead of opt-in, enabling multidraw by default.
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_pbr/src/render/gpu_preprocess.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_preprocess.wgsl
  crates/bevy_pbr/src/render/mesh_types.wgsl
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/view/mod.rs
  examples/shader/custom_shader_instancing.rs
  examples/stress_tests/many_cubes.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#16791 Reorder PickSet::Focus systems
  crates/bevy_picking/src/focus.rs
  crates/bevy_picking/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, D-Straightforward, A-Picking

#15487 Remove the `meta` field from `LoadedAsset` and `ErasedLoadedAsset`.
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/loader_builders.rs
  crates/bevy_asset/src/processor/process.rs
  crates/bevy_asset/src/server/mod.rs
  crates/bevy_gltf/src/loader.rs
Labels: A-Assets, X-Contentious, D-Straightforward, S-Needs-Review

#16790 box-shadow clipping fix
  crates/bevy_ui/src/render/box_shadow.rs
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review

#16725 BRP strict field in query
  crates/bevy_remote/src/builtin_methods.rs
  crates/bevy_remote/src/lib.rs
  examples/remote/client.rs
Labels: C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Dev-Tools

#16808 Fix Clippy lints in benchmarks
  benches/Cargo.toml
  benches/benches/bevy_ecs/change_detection.rs
  benches/benches/bevy_ecs/empty_archetypes.rs
  benches/benches/bevy_ecs/iteration/iter_simple_foreach_hybrid.rs
  benches/benches/bevy_ecs/iteration/par_iter_simple_foreach_hybrid.rs
  benches/benches/bevy_ecs/observers/simple.rs
  benches/benches/bevy_ecs/scheduling/schedule.rs
  benches/benches/bevy_math/bezier.rs
  benches/benches/bevy_reflect/function.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, C-Benchmarks

#16814 Support `SystemInput` tuples up to 8 elements
  crates/bevy_ecs/src/system/input.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#16827 doc: fix camera link
  crates/bevy_render/src/camera/camera.rs
Labels: C-Docs, D-Trivial, A-Rendering, S-Needs-Review

#16828 Fix rounding bug in camera projection
  crates/bevy_render/src/camera/projection.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#16823 Made UIRect initialisation functions `const`
  crates/bevy_ui/src/geometry.rs
Labels: D-Trivial, A-UI, C-Usability, S-Ready-For-Final-Review

#16821 Fix stale comment on `LoadContext::finish`.
  crates/bevy_asset/src/loader.rs
Labels: C-Docs, D-Trivial, A-Assets, S-Ready-For-Final-Review

#16816 Add missing `#[reflect(Component, Default)]` to `SceneRoot` and `DynamicSceneRoot`.
  crates/bevy_scene/src/components.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Reflection, A-Scenes

#16818 Make `#[bindless]` in `ExtendedMaterial` actually enable bindless mode.
  crates/bevy_pbr/src/extended_material.rs
  crates/bevy_pbr/src/material_bind_groups.rs
  crates/bevy_render/macros/src/as_bind_group.rs
  crates/bevy_render/src/render_resource/bind_group.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#16813 Add ability to mute audio sinks
  crates/bevy_audio/src/audio.rs
  crates/bevy_audio/src/audio_output.rs
  crates/bevy_audio/src/sinks.rs
  examples/audio/audio_control.rs
  examples/audio/soundtrack.rs
  examples/audio/spatial_audio_3d.rs
  tools/example-showcase/disable-audio.patch
Labels: C-Feature, A-Audio, S-Ready-For-Final-Review, M-Needs-Migration-Guide, X-Contentious, D-Straightforward

#16833 Remove benchmarks from CI test
  tools/ci/src/commands/test.rs
Labels: C-Bug, A-Build-System, S-Ready-For-Final-Review

#16800 Fix registering all reflection types that are components as reflection components
  crates/bevy_gizmos/src/retained.rs
  crates/bevy_input/src/gamepad.rs
  crates/bevy_render/src/sync_world.rs
  crates/bevy_ui/src/ui_node.rs
Labels: C-Bug, D-Trivial, A-ECS, S-Ready-For-Final-Review, A-Reflection

#16838 Move Volume and GlobalVolume to own file
  crates/bevy_audio/src/audio.rs
  crates/bevy_audio/src/lib.rs
  crates/bevy_audio/src/volume.rs
Labels: D-Trivial, A-Audio, C-Code-Quality, S-Ready-For-Final-Review

#16837 Rename AudioSinkPlayback::toggle to toggle_playback
  crates/bevy_audio/src/sinks.rs
  examples/audio/audio_control.rs
Labels: C-Examples, A-Audio, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, D-Straightforward

#16826 Extend cloning functionality and add convenience methods to `EntityWorldMut` and `EntityCommands`
  crates/bevy_ecs/src/entity/clone_entities.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: A-ECS, C-Usability, M-Needs-Release-Note, S-Waiting-on-Author

#16561 Rust 1.83, allow -> expect (missing_docs)
  Cargo.toml
  crates/bevy_app/src/lib.rs
  crates/bevy_asset/macros/src/lib.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_derive/src/lib.rs
  crates/bevy_diagnostic/src/lib.rs
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_encase_derive/src/lib.rs
  crates/bevy_image/src/lib.rs
  crates/bevy_math/src/lib.rs
  crates/bevy_mesh/src/lib.rs
  crates/bevy_mikktspace/tests/regression_test.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_picking/src/backend.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_render/macros/src/lib.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_state/macros/src/lib.rs
  crates/bevy_state/src/lib.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_window/src/event.rs
  tests/how_to_test_systems.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Cross-Cutting, D-Straightforward

#16576 bevy_reflect: Remove `PartialReflect::serializable`
  crates/bevy_reflect/src/func/dynamic_function.rs
  crates/bevy_reflect/src/reflect.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection, M-Needs-Migration-Guide

#16617 `ScrollPosition` scale factor fix
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/ui_node.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review, D-Straightforward

#16653 Implement bindless lightmaps.
  assets/shaders/bindless_material.wgsl
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_pbr/src/lightmap/lightmap.wgsl
  crates/bevy_pbr/src/lightmap/mod.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/material_bind_groups.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_bindings.rs
  crates/bevy_pbr/src/render/mesh_preprocess.wgsl
  crates/bevy_pbr/src/render/mesh_types.wgsl
  crates/bevy_pbr/src/render/parallax_mapping.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_prepass_functions.wgsl
  crates/bevy_render/src/render_resource/bind_group.rs
  examples/shader/custom_phase_item.rs
  examples/shader/specialized_mesh_pipeline.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#16705 Remove COPY_DST from AsBindGroup uniform buffers
  crates/bevy_render/macros/src/as_bind_group.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#16711 Use frostbite's specular sampling direction for environment map light
  crates/bevy_pbr/src/light_probe/environment_map.wgsl
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#16761 Introduce support for mixed lighting by allowing lights to opt out of contributing diffuse light to lightmapped objects.
  Cargo.toml
  assets/lightmaps/MixedLightingExample-Baked.zstd.ktx2
  assets/lightmaps/MixedLightingExample-MixedDirect.zstd.ktx2
  assets/lightmaps/MixedLightingExample-MixedIndirect.zstd.ktx2
  assets/models/MixedLightingExample/MixedLightingExample.bin
  assets/models/MixedLightingExample/MixedLightingExample.gltf
  assets/models/MixedLightingExample/SheenChairBaseColor.jpg
  assets/models/MixedLightingExample/SheenChairFabricNormal.jpg
  assets/models/MixedLightingExample/SheenChairFabricOcclusion.jpg
  assets/models/MixedLightingExample/SheenChairLabelBaseColor.jpg
  assets/models/MixedLightingExample/SheenChairOcclusion-SheenChairBaseColor.jpg
  assets/models/MixedLightingExample/SheenChairOcclusion-SheenChairWoodMetallicRoughness.jpg
  assets/models/MixedLightingExample/SheenChairOcclusion.jpg
  assets/models/MixedLightingExample/SheenChairWoodBaseColor.jpg
  crates/bevy_pbr/src/light/ambient_light.rs
  crates/bevy_pbr/src/light/directional_light.rs
  crates/bevy_pbr/src/light/point_light.rs
  crates/bevy_pbr/src/light/spot_light.rs
  crates/bevy_pbr/src/light_probe/environment_map.rs
  crates/bevy_pbr/src/light_probe/environment_map.wgsl
  crates/bevy_pbr/src/light_probe/irradiance_volume.rs
  crates/bevy_pbr/src/light_probe/irradiance_volume.wgsl
  crates/bevy_pbr/src/light_probe/light_probe.wgsl
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_lighting.wgsl
  examples/2d/custom_gltf_vertex_attribute.rs
  examples/3d/auto_exposure.rs
  examples/3d/irradiance_volumes.rs
  examples/3d/lighting.rs
  examples/3d/mixed_lighting.rs
  examples/3d/motion_blur.rs
  examples/3d/skybox.rs
  examples/README.md
  examples/animation/animated_fox.rs
  examples/animation/animated_transform.rs
  examples/animation/animation_graph.rs
  examples/animation/animation_masks.rs
  examples/asset/multi_asset_sync.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review

#16795 Tab navigation framework for bevy_input_focus.
  Cargo.toml
  crates/bevy_input_focus/Cargo.toml
  crates/bevy_input_focus/src/lib.rs
  crates/bevy_input_focus/src/tab_navigation.rs
  examples/README.md
  examples/ui/tab_navigation.rs
Labels: C-Feature, A-UI, S-Ready-For-Final-Review, M-Needs-Release-Note

#16738 Improve ComputedNode accessibility
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/ui_node.rs
Labels: C-Feature, A-UI, S-Ready-For-Final-Review, D-Straightforward

#16805 Fix `compile_fail` compile fail
  tools/compile_fail_utils/tests/example.rs
  tools/compile_fail_utils/tests/example_tests/basic_test.fixed
  tools/compile_fail_utils/tests/example_tests/import.stderr
Labels: C-Bug, D-Trivial, A-Build-System, S-Ready-For-Final-Review, C-Testing

#16843 Support declaring resource access in Queries.
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/mod.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/query/world_query.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, P-Unsound, D-Straightforward, D-Unsafe

#16844 Always `collect()` when using `QueryIterMany::sort` methods.
  crates/bevy_ecs/src/query/iter.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#16846 Fix inaccurate comment in custom_ui_material.wgsl shader
  assets/shaders/custom_ui_material.wgsl
Labels: D-Trivial, C-Examples, A-UI, S-Ready-For-Final-Review

#16848 `f32` -> `Rot2` in bounding volume docs
  crates/bevy_math/src/bounding/mod.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Math

#16812 Remove the type parameter from `check_visibility`, and only invoke it once.
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/light/directional_light.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_pbr/src/light/point_light.rs
  crates/bevy_pbr/src/light/spot_light.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_render/src/mesh/components.rs
  crates/bevy_render/src/view/visibility/mod.rs
  crates/bevy_render/src/view/visibility/range.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/sprite.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/ui_node.rs
  examples/2d/mesh2d_manual.rs
  examples/shader/custom_phase_item.rs
  examples/shader/specialized_mesh_pipeline.rs
Labels: A-Rendering, C-Performance, S-Needs-Review

#16799 Allow `extract_meshes_for_gpu_building` and `extract_mesh_materials` to run in parallel.
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/render/mesh.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#16851 Update sysinfo requirement from 0.32.0 to 0.33.0
  crates/bevy_diagnostic/Cargo.toml
  crates/bevy_diagnostic/src/system_information_diagnostics_plugin.rs
Labels: D-Trivial, C-Dependencies, S-Ready-For-Final-Review

#16853 Remove deprecated ECS items
  crates/bevy_ecs/src/event/collections.rs
  crates/bevy_ecs/src/event/event_cursor.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/condition.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#16810 Add `AssetChanged` query filter
  crates/bevy_asset/src/asset_changed.rs
  crates/bevy_asset/src/assets.rs
  crates/bevy_asset/src/lib.rs
Labels: A-ECS, A-Assets, C-Usability, P-Unsound, M-Needs-Release-Note, X-Contentious, D-Unsafe, S-Needs-Review

#16860 Fix typo in B0001 message
  crates/bevy_ecs/src/system/system_param.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review

#16815 Change `GpuImage::size` from `UVec2` to `Extent3d`
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/gpu_readback.rs
  crates/bevy_render/src/texture/fallback_image.rs
  crates/bevy_render/src/texture/gpu_image.rs
  crates/bevy_render/src/view/window/screenshot.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
  examples/app/headless_renderer.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, M-Needs-Migration-Guide, D-Straightforward

#16849 Reworded the CONTRIBUTING.md doc
  CONTRIBUTING.md
Labels: C-Docs, D-Trivial, A-Meta, S-Ready-For-Final-Review

#16855 Update the prepass for the bindless lightmap changes.
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, P-Regression

#16796 Support scale factor for image render targets
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/view/window/screenshot.rs
  examples/2d/pixel_grid_snap.rs
  examples/app/headless_renderer.rs
  examples/ui/render_ui_to_texture.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review

#16866 Feature flag testbed_3d code correctly
  examples/testbed/3d.rs
Labels: D-Trivial, A-Build-System, C-Code-Quality, S-Ready-For-Final-Review, C-Testing

#16870 Remove `OnceLock` usage from `bevy_ecs`
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/intern.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/world/filtered_resource.rs
Labels: A-ECS, C-Code-Quality, X-Uncontroversial, D-Straightforward, S-Needs-Review

#16864 Expose `text` field from winit in `KeyboardInput`
  crates/bevy_input/src/keyboard.rs
  crates/bevy_input_focus/src/lib.rs
  crates/bevy_winit/src/converters.rs
  examples/input/text_input.rs
Labels: A-Input, A-UI, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Text, D-Straightforward

#16863 Replace bevy_a11y::Focus with InputFocus
  crates/bevy_a11y/Cargo.toml
  crates/bevy_a11y/src/lib.rs
  crates/bevy_input_focus/src/lib.rs
  crates/bevy_window/Cargo.toml
  crates/bevy_window/src/lib.rs
  crates/bevy_winit/Cargo.toml
  crates/bevy_winit/src/accessibility.rs
Labels: A-Input, A-Accessibility, A-UI, S-Ready-For-Final-Review, D-Straightforward

#16875 Document input focus helper methods
  crates/bevy_input_focus/src/lib.rs
Labels: D-Trivial, A-Input, A-UI, S-Ready-For-Final-Review

#16547 implement EntitySet and iter_many_unique methods
  crates/bevy_ecs/src/entity/entity_set.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/world/spawn_batch.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, D-Complex, D-Unsafe

#16876 Generalize bubbling focus input events to other kinds of input
  crates/bevy_input_focus/src/lib.rs
  crates/bevy_input_focus/src/tab_navigation.rs
Labels: C-Feature, A-Input, A-UI, D-Straightforward, S-Needs-Review

#16847 Replace `impl_param_set` proc macro with a `macro_rules` macro
  crates/bevy_app/Cargo.toml
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_reflect/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_state/Cargo.toml
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Macros

#16717 Faster entity cloning
  benches/Cargo.toml
  benches/benches/bevy_ecs/entity_cloning.rs
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/clone_entities.rs
  crates/bevy_ecs/src/observer/entity_observer.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_hierarchy/src/components/children.rs
  crates/bevy_hierarchy/src/components/parent.rs
  crates/bevy_hierarchy/src/hierarchy.rs
Labels: A-ECS, C-Performance, A-Reflection, D-Modest, D-Unsafe, S-Needs-Review

#16887 Polish and improve docs for `bevy_input_focus`
  crates/bevy_input_focus/src/autofocus.rs
  crates/bevy_input_focus/src/lib.rs
  crates/bevy_input_focus/src/tab_navigation.rs
Labels: C-Docs, A-Input, A-UI, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#16884 Add dashed lines
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/lines.wgsl
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_gizmos/src/retained.rs
  examples/gizmos/2d_gizmos.rs
  examples/gizmos/3d_gizmos.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Gizmos, D-Modest

#16874 Add `no_std` support to `bevy_app`
  crates/bevy_app/Cargo.toml
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/lib.rs
  crates/bevy_app/src/main_schedule.rs
  crates/bevy_app/src/plugin.rs
  crates/bevy_app/src/plugin_group.rs
  crates/bevy_app/src/schedule_runner.rs
  crates/bevy_app/src/sub_app.rs
  crates/bevy_app/src/terminal_ctrl_c_handler.rs
  crates/bevy_ecs/Cargo.toml
  tools/ci/src/commands/compile_check_no_std.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-App, M-Needs-Release-Note, X-Contentious, D-Modest
