Repository bevyengine/bevy, pull requests merged in 2024-08, with the labels that each got.

#14556 B0003: Print caller
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14573 Properly handle repeated window close requests
  crates/bevy_window/src/system.rs
Labels: C-Bug, D-Trivial, A-Windowing, S-Ready-For-Final-Review

#14574 Don’t prepare lights (and shadow map textures) for 2D cameras
  crates/bevy_pbr/src/cluster/mod.rs
  crates/bevy_pbr/src/render/light.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#14148 fix asymmetrical 9-slicing
  crates/bevy_sprite/src/texture_slice/slicer.rs
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review, D-Straightforward

#14587 Add `Dir2::from_xy_unchecked` and `Dir3::from_xyz_unchecked`
  crates/bevy_math/src/direction.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math

#14588 Reflection for `DepthOfFieldSettings`
  crates/bevy_core_pipeline/src/dof/mod.rs
Labels: D-Trivial, A-Rendering, S-Ready-For-Final-Review, A-Reflection

#14590 Add `depth_ndc_to_view_z` for cpu-side
  crates/bevy_render/src/camera/camera.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, A-Picking

#14594 Add `with_child` to simplify spawning when there will only be one child
  crates/bevy_hierarchy/src/child_builder.rs
  examples/ui/button.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Hierarchy, D-Straightforward

#14049 Opportunistically use dense iteration for archetypal iteration
  benches/benches/bevy_ecs/iteration/iter_simple_foreach_hybrid.rs
  benches/benches/bevy_ecs/iteration/mod.rs
  crates/bevy_ecs/src/query/iter.rs
Labels: A-ECS, C-Performance, D-Complex, C-Needs-Release-Note, X-Uncontroversial, D-Unsafe, S-Needs-Review

#14603 update `hashbrown` to `0.14.2`
  crates/bevy_utils/Cargo.toml
Labels: C-Dependencies, A-Utils, P-Compile-Failure, X-Uncontroversial

#14609 Explicitly order `CameraUpdateSystem` before `UiSystem::Prepare`
  crates/bevy_ui/src/lib.rs
  tests/ecs/ambiguity_detection.rs
Labels: C-Bug, A-Windowing, A-UI, S-Needs-Review

#14604 Add link to `with_children` in `with_child` doc
  crates/bevy_hierarchy/src/child_builder.rs
Labels: C-Docs, D-Trivial, A-ECS, S-Ready-For-Final-Review

#14601 Fix num_cascades in split_screen exmample for WebGL
  examples/3d/split_screen.rs
Labels: C-Bug, A-Rendering, C-Examples, S-Ready-For-Final-Review, O-WebGL2

#14631 Make `QueryState::transmute`&co validate the world of the `&Components` used
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
Labels: C-Bug, A-ECS, C-Usability, C-Breaking-Change, P-Unsound, S-Needs-Review

#13460 Add a ComponentIndex and update QueryState creation/update to use it
  benches/benches/bevy_render/torus.rs
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/mod.rs
  crates/bevy_ecs/src/query/state.rs
Labels: C-Enhancement, A-ECS, C-Performance, S-Ready-For-Final-Review, D-Modest

#14098 bevy_reflect: Function registry
  crates/bevy_app/Cargo.toml
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/sub_app.rs
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/reflect/mod.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_reflect/src/func/closures/dynamic_closure.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure_mut.rs
  crates/bevy_reflect/src/func/closures/into_closure.rs
  crates/bevy_reflect/src/func/closures/into_closure_mut.rs
  crates/bevy_reflect/src/func/error.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/into_function.rs
  crates/bevy_reflect/src/func/mod.rs
  crates/bevy_reflect/src/func/registry.rs
  examples/reflection/function_reflection.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14343 Export glTF skins as a Gltf struct
  crates/bevy_gltf/src/lib.rs
  crates/bevy_gltf/src/loader.rs
Labels: C-Enhancement, A-Assets, C-Usability, S-Ready-For-Final-Review, A-Scenes, C-Breaking-Change, D-Modest

#14555 Add `invert_winding` for triangle list meshes
  crates/bevy_render/src/mesh/mesh/mod.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14561 Separate component and resource access
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/builder.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/schedule/mod.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  examples/ecs/dynamic.rs
Labels: C-Bug, A-ECS, C-Code-Quality, S-Ready-For-Final-Review, X-Contentious, D-Straightforward

#14600 Improve documentation on Update vs FixedUpdate schedule dichotomy
  crates/bevy_app/src/main_schedule.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-App, D-Straightforward

#14613 Glam 0.28 update - adopted
  benches/Cargo.toml
  crates/bevy_color/Cargo.toml
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/direction.rs
  crates/bevy_mikktspace/Cargo.toml
  crates/bevy_pbr/src/cluster/assign.rs
  crates/bevy_reflect/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/primitives/mod.rs
Labels: C-Dependencies, S-Ready-For-Final-Review, A-Math

#14616 bevy_reflect: Update serde tests for `Set`
  crates/bevy_reflect/src/serde/de.rs
  crates/bevy_reflect/src/serde/ser.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Reflection, C-Testing

#14620 Add `Reflect` to `OnReplace`
  crates/bevy_ecs/src/world/component_constants.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, A-Reflection

#13669 Expose winit's `MonitorHandle`
  Cargo.toml
  crates/bevy_window/src/lib.rs
  crates/bevy_window/src/monitor.rs
  crates/bevy_window/src/window.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
  crates/bevy_winit/src/system.rs
  crates/bevy_winit/src/winit_monitors.rs
  crates/bevy_winit/src/winit_windows.rs
  examples/README.md
  examples/mobile/src/lib.rs
  examples/window/monitor_info.rs
Labels: C-Enhancement, A-Windowing, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Contentious, D-Modest

#14579 Fix soudness issue with Conflicts involving `read_all` and `write_all`
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Bug, A-ECS, P-High, S-Ready-For-Final-Review, C-Breaking-Change, P-Unsound, D-Modest

#14448 Making `bevy_render` an optional dependency for `bevy_gizmos`
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_gizmos/Cargo.toml
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_internal/Cargo.toml
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Gizmos

#14633 Fix gizmos regression
  crates/bevy_gizmos/src/circles.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Gizmos

#14635 Fix access conflicts for resources
  crates/bevy_ecs/src/query/access.rs
Labels: C-Bug, D-Trivial, A-ECS, S-Ready-For-Final-Review

#14636 Fixed typo
  examples/async_tasks/async_compute.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Tasks

#13069 Add 2d opaque phase with depth buffer
  Cargo.toml
  crates/bevy_core_pipeline/src/core_2d/main_opaque_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_2d/main_transparent_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_sprite/src/mesh2d/color_material.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  crates/bevy_sprite/src/render/mod.rs
  examples/2d/mesh2d_alpha_mode.rs
  examples/README.md
  examples/stress_tests/bevymark.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change, X-Uncontroversial

#14641 bevy_reflect: Anonymous function parsing
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/sub_app.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure_mut.rs
  crates/bevy_reflect/src/func/closures/into_closure.rs
  crates/bevy_reflect/src/func/closures/into_closure_mut.rs
  crates/bevy_reflect/src/func/error.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/into_function.rs
  crates/bevy_reflect/src/func/registry.rs
  examples/reflection/function_reflection.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, X-Contentious, D-Straightforward

#14582 Fix TAA on camera with viewport
  crates/bevy_core_pipeline/src/taa/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#14643 Adding Reflect data types for `States` and `FreelyMutableState`.
  crates/bevy_ecs/src/reflect/mod.rs
  crates/bevy_ecs/src/reflect/resource.rs
  crates/bevy_state/src/app.rs
  crates/bevy_state/src/lib.rs
  crates/bevy_state/src/reflect.rs
  crates/bevy_state/src/state/resources.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, A-States

#14667 bevy_state: Make `reflect` module public
  crates/bevy_state/src/lib.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-States

#14666 bevy_reflect: Update internal docs regarding anonymous function type names
  crates/bevy_reflect/src/func/info.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Reflection, C-Testing

#14665 bevy_reflect: Add `DynamicSet` to `dynamic_types` example
  crates/bevy_reflect/src/set.rs
  examples/reflection/dynamic_types.rs
Labels: C-Examples, C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14653 Fix 3D Gizmo webgpu rendering
  crates/bevy_gizmos/src/lib.rs
Labels: A-Rendering, S-Ready-For-Final-Review, A-Gizmos, O-WebGPU

#14630 A Curve trait for general interoperation — Part I
  crates/bevy_math/src/curve/interval.rs
  crates/bevy_math/src/curve/mod.rs
  crates/bevy_math/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, D-Complex, C-Needs-Release-Note, A-Cross-Cutting, X-Blessed

#14670 Explicit using clone_from
  crates/bevy_ecs/src/query/fetch.rs
Labels: D-Trivial, A-ECS, C-Performance, S-Ready-For-Final-Review

#14680 inline iter_combinations
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/query/mod.rs
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review, D-Straightforward

#14686 Mod picking upstream 2
  crates/bevy_picking/Cargo.toml
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/focus.rs
  crates/bevy_picking/src/input/mod.rs
  crates/bevy_picking/src/input/mouse.rs
  crates/bevy_picking/src/input/touch.rs
  crates/bevy_picking/src/lib.rs
Labels: S-Ready-For-Final-Review, X-Blessed, A-Picking

#14647 bevy_reflect: Function reflection benchmarks
  benches/Cargo.toml
  benches/benches/bevy_reflect/function.rs
Labels: S-Ready-For-Final-Review, A-Reflection, C-Benchmarks, D-Straightforward

#14706 Replace UnsafeCell<World> usage with UnsafeWorldCell in CombinatorSystem
  crates/bevy_ecs/src/system/combinator.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward, D-Unsafe

#13091 Use BinnedRenderPhase for Opaque2d
  crates/bevy_core_pipeline/src/core_2d/main_opaque_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_sprite/Cargo.toml
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
Labels: C-Enhancement, A-Rendering, C-Performance, S-Ready-For-Final-Review

#14050 Support more kinds of system params in buildable systems.
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change, D-Complex, X-Contentious, D-Unsafe

#14284 Add custom cursors
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/view/window/cursor.rs
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_window/src/lib.rs
  crates/bevy_window/src/system_cursor.rs
  crates/bevy_window/src/window.rs
  crates/bevy_winit/src/converters.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
  crates/bevy_winit/src/system.rs
  crates/bevy_winit/src/winit_windows.rs
  examples/games/desk_toy.rs
  examples/helpers/camera_controller.rs
  examples/input/mouse_grab.rs
  examples/ui/window_fallthrough.rs
  examples/window/window_settings.rs
Labels: C-Enhancement, A-Windowing, S-Ready-For-Final-Review, D-Complex, C-Needs-Release-Note, A-Cross-Cutting, X-Contentious

#14669 document using `ObserverState` as filter for `Observer` `Entity`s
  crates/bevy_ecs/src/observer/runner.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#14677 Fix broken bezier curve benchmark
  benches/benches/bevy_math/bezier.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Math, C-Benchmarks, D-Domain-Agnostic

#14584 add `SystemIdMarker` `Component` to enable filtering for `SystemId` `Entity`s
  crates/bevy_ecs/src/system/system_registry.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#14693 Make bevy_math's `libm` feature use `libm` for all `f32`methods with unspecified precision
  crates/bevy_math/clippy.toml
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/bounding/bounded3d/extrusion.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
  crates/bevy_math/src/bounding/raycast2d.rs
  crates/bevy_math/src/bounding/raycast3d.rs
  crates/bevy_math/src/common_traits.rs
  crates/bevy_math/src/cubic_splines.rs
  crates/bevy_math/src/curve/mod.rs
  crates/bevy_math/src/direction.rs
  crates/bevy_math/src/lib.rs
  crates/bevy_math/src/ops.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/rotation2d.rs
  crates/bevy_math/src/sampling/shape_sampling.rs
Labels: C-Bug, C-Enhancement, S-Ready-For-Final-Review, A-Math, X-Contentious, D-Straightforward

#14713 View filter for batch_and_prepare_render_phase
  crates/bevy_render/src/batching/gpu_preprocessing.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#14401 Update WGPU to version 22
  crates/bevy_color/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/render_resource/pipeline_cache.rs
  crates/bevy_render/src/renderer/mod.rs
  crates/bevy_render/src/settings.rs
Labels: A-Rendering, C-Dependencies, S-Ready-For-Final-Review

#14703 Use `#[doc(fake_variadic)]` to improve docs readability
  Cargo.toml
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/world_query.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/system/exclusive_system_param.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/render_phase/draw.rs
  crates/bevy_state/src/lib.rs
  crates/bevy_state/src/state/state_set.rs
  crates/bevy_utils/macros/src/lib.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, A-App, C-Needs-Release-Note, X-Contentious

#6042 bevy_reflect: Reflect remote types
  crates/bevy_reflect/compile_fail/Cargo.toml
  crates/bevy_reflect/compile_fail/tests/reflect_remote/incorrect_wrapper_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/incorrect_wrapper_pass.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/invalid_definition_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/invalid_definition_pass.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/macro_order_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/macro_order_pass.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/nested_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/nested_pass.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/type_mismatch_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/type_mismatch_pass.rs
  crates/bevy_reflect/compile_fail/tests/remote.rs
  crates/bevy_reflect/derive/src/derive_data.rs
  crates/bevy_reflect/derive/src/enum_utility.rs
  crates/bevy_reflect/derive/src/field_attributes.rs
  crates/bevy_reflect/derive/src/from_reflect.rs
  crates/bevy_reflect/derive/src/impls/assertions.rs
  crates/bevy_reflect/derive/src/impls/common.rs
  crates/bevy_reflect/derive/src/impls/enums.rs
  crates/bevy_reflect/derive/src/impls/mod.rs
  crates/bevy_reflect/derive/src/impls/structs.rs
  crates/bevy_reflect/derive/src/impls/tuple_structs.rs
  crates/bevy_reflect/derive/src/impls/values.rs
  crates/bevy_reflect/derive/src/lib.rs
  crates/bevy_reflect/derive/src/remote.rs
  crates/bevy_reflect/derive/src/struct_utility.rs
  crates/bevy_reflect/derive/src/utility.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/remote.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, D-Complex, C-Needs-Release-Note, X-Contentious, D-Unsafe

#14512 Expose max_mip_dimension and uv_offset in BloomSettings.
  crates/bevy_core_pipeline/src/bloom/bloom.wgsl
  crates/bevy_core_pipeline/src/bloom/downsampling_pipeline.rs
  crates/bevy_core_pipeline/src/bloom/mod.rs
  crates/bevy_core_pipeline/src/bloom/settings.rs
Labels: C-Enhancement, A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14720 Consistency between `Wireframe2d` and `Wireframe`
  crates/bevy_sprite/src/mesh2d/wireframe2d.rs
  examples/2d/wireframe_2d.rs
Labels: C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, A-Gizmos

#14728 Fix CI bench compile check
  benches/Cargo.toml
  benches/benches/bevy_reflect/struct.rs
  tools/ci/src/commands/bench_check.rs
Labels: C-Bug, A-Build-System, P-High, S-Ready-For-Final-Review

#14734 Sync flags in docs.yml with `package.metadata.docs.rs`
  .github/workflows/docs.yml
  Cargo.toml
Labels: C-Bug, C-Docs, D-Trivial, A-Build-System, S-Ready-For-Final-Review

#14744 Fix world borrow for DeferredWorld::query
  crates/bevy_ecs/src/world/deferred_world.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, D-Domain-Agnostic

#14751 Add `Command` and co. to prelude
  crates/bevy_ecs/src/lib.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#14749 Skip empty archetype/table
  benches/benches/bevy_ecs/benches.rs
  benches/benches/bevy_ecs/fragmentation/mod.rs
  crates/bevy_ecs/src/query/iter.rs
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review

#14724 Add AlphaMask2d phase
  crates/bevy_core_pipeline/src/core_2d/main_opaque_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_sprite/src/mesh2d/color_material.rs
  crates/bevy_sprite/src/mesh2d/color_material.wgsl
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  examples/2d/mesh2d_alpha_mode.rs
  examples/stress_tests/bevymark.rs
Labels: C-Enhancement, A-Rendering, C-Performance, S-Ready-For-Final-Review

#14732 Making `DynamicEnum::is_dynamic()` return true
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/enums/mod.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Reflection

#14692 Use `map_unchanged` in reflection instead of creating a `Mut` manually.
  crates/bevy_ecs/src/reflect/component.rs
  crates/bevy_ecs/src/reflect/resource.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection

#14695 hooking up observers and clicking for ui node
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_internal/src/default_plugins.rs
  crates/bevy_internal/src/prelude.rs
  crates/bevy_picking/Cargo.toml
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/picking_backend.rs
  examples/README.md
  examples/asset/multi_asset_sync.rs
  examples/picking/simple_picking.rs
Labels: C-Enhancement, A-UI, S-Ready-For-Final-Review, A-Picking

#14743 apply finished animations
  crates/bevy_animation/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Animation

#14691 Remove redundant `ArchetypeComponentId` lookup in `Res` and `ResMut`
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#14761 Remove Component derive for DepthOfFieldMode
  crates/bevy_core_pipeline/src/dof/mod.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#14762 Don't ask for ResMut in `queue_view_auto_exposure_pipelines`
  crates/bevy_core_pipeline/src/auto_exposure/mod.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review

#14763 Add `Reflect` derive to `bevy_a11y::Focus`
  crates/bevy_a11y/Cargo.toml
  crates/bevy_a11y/src/lib.rs
Labels: D-Trivial, A-Accessibility, A-UI, C-Usability, S-Ready-For-Final-Review

#14690 Add query reborrowing
  crates/bevy_ecs/macros/src/world_query.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/query/world_query.rs
  crates/bevy_ecs/src/system/query.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#14760 Improve ambiguity detection example / test
  tests/ecs/ambiguity_detection.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, C-Testing, A-App

#14758 Fix pass_span drop panic obscuring transparent 2d render errors
  crates/bevy_core_pipeline/src/core_2d/main_transparent_pass_2d_node.rs
Labels: C-Bug, A-Rendering, P-Crash, S-Ready-For-Final-Review

#14764 Add `RenderSet::FinalCleanup` for `World::clear_entities`
  crates/bevy_render/src/lib.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#14646 feat: add `insert_if_new` (#14397)
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/storage/blob_vec.rs
  crates/bevy_ecs/src/storage/table.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Needs-Release-Note, D-Modest

#14768 Remove manual `apply_deferred` in `bevy_ui`
  crates/bevy_ui/src/lib.rs
  tests/ecs/ambiguity_detection.rs
Labels: C-Bug, A-UI, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#14741 Add example demonstrating how to enable / disable diagnostics
  Cargo.toml
  examples/README.md
  examples/diagnostics/enabling_disabling_diagnostic.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Diagnostics, D-Straightforward

#14700 A Curve trait for general interoperation — Part II
  crates/bevy_math/src/curve/cores.rs
  crates/bevy_math/src/curve/mod.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, D-Complex, A-Cross-Cutting, X-Blessed

#14765 Enables bevy_render feature for bevy_gizmos dependency in bevy_dev_tools
  crates/bevy_dev_tools/Cargo.toml
Labels: D-Trivial, A-Build-System, S-Ready-For-Final-Review, A-Dev-Tools

#14785 add `const`s to curve module functions
  crates/bevy_math/src/curve/cores.rs
  crates/bevy_math/src/curve/interval.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math

#14777 #14143 - fix bevy_ui padding
  crates/bevy_ui/src/layout/convert.rs
  crates/bevy_ui/src/layout/mod.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#14787 Add `try_insert_with_new`
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: C-Enhancement, D-Trivial, A-ECS, S-Ready-For-Final-Review, X-Uncontroversial

#14656 Switch rotation & translation in grid gizmos
  crates/bevy_gizmos/src/grid.rs
  examples/gizmos/3d_gizmos.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math, C-Breaking-Change, A-Gizmos, D-Straightforward

#13712 Add feature requirement info to image loading docs
  crates/bevy_render/src/texture/dds.rs
  crates/bevy_render/src/texture/exr_texture_loader.rs
  crates/bevy_render/src/texture/image.rs
  crates/bevy_render/src/texture/ktx2.rs
Labels: C-Docs, A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Uncontroversial, D-Straightforward

#14772 Ignore `PipelineCache` ambiguities
  crates/bevy_core_pipeline/src/upscaling/mod.rs
Labels: D-Trivial, A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Testing, X-Contentious

#14704 bevy_reflect: Store functions as `DynamicClosure<'static>` in `FunctionRegistry`
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/sub_app.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure_mut.rs
  crates/bevy_reflect/src/func/closures/into_closure.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/registry.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Modest

#14812 Fix key bindings in 3d_gizmos example after camera controller
  examples/gizmos/3d_gizmos.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Gizmos

#6624 Fix size of MeshVertexAttributeId to be platform independent
  crates/bevy_render/src/mesh/mesh/mod.rs
Labels: C-Bug, A-Rendering, C-Usability, S-Ready-For-Final-Review

#14392 Fix commands not being Send / Sync in 0.14
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: A-ECS, S-Ready-For-Final-Review, C-Regression, D-Domain-Expert

#14580 add docs explaining the two accesses of a System meta
  crates/bevy_ecs/src/system/function_system.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#14651 New utility methods on `InfinitePlane3d`
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math, X-Contentious

#14784 Add conversions between Visibility and bool
  crates/bevy_render/src/view/visibility/mod.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14793 Remove useless `Direction` field
  crates/bevy_ui/src/layout/convert.rs
  crates/bevy_ui/src/ui_node.rs
Labels: A-UI, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#14795 Fix ecs example thread_rng duplicate creation
  examples/ecs/observer_propagation.rs
Labels: D-Trivial, C-Examples, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#14804 Fix error when closing window in 2d_viewport_to_world example
  examples/2d/2d_viewport_to_world.rs
Labels: D-Trivial, C-Examples, A-Windowing, S-Ready-For-Final-Review

#14809 catch asset loader panics
  crates/bevy_asset/src/server/mod.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review

#14829 compile_fail_utils: Ignore `target` directory
  .gitignore
Labels: D-Trivial, A-Build-System, S-Ready-For-Final-Review

#10823 Generalized `Into<AssetSourceId>` and `Into<AssetPath>` Implementations over Lifetime
  crates/bevy_asset/src/io/source.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/path.rs
  crates/bevy_utils/src/cow_arc.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review

#14831 Fix mesh2_manual exapmle.
  examples/2d/mesh2d_manual.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#14830 Revert "Add conversions between Visibility and bool (#14784)"
  crates/bevy_render/src/view/visibility/mod.rs
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review

#14832 Added Documentation to `all_tuples_with_size`
  crates/bevy_utils/macros/src/lib.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Utils, D-Straightforward, D-Domain-Agnostic, D-Macros

#12637 check sampler type in as_bind_group derives
  crates/bevy_pbr/src/material.rs
  crates/bevy_render/macros/src/as_bind_group.rs
  crates/bevy_render/src/render_asset.rs
  crates/bevy_render/src/render_resource/bind_group.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review

#14849 Added Sprite::sized(custom_size)
  crates/bevy_sprite/src/sprite.rs
Labels: A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#14871 Clarify docs for `RenderLayers::layer`
  crates/bevy_render/src/view/visibility/render_layers.rs
Labels: C-Docs, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#14851 Made the naming for commands parameter more consistent
  examples/window/window_resizing.rs
Labels: C-Examples, A-Windowing, C-Code-Quality, S-Ready-For-Final-Review

#14827 compile_fail_utils: Verify path exists
  tools/compile_fail_utils/src/lib.rs
Labels: A-Build-System, S-Ready-For-Final-Review, C-Testing, D-Straightforward

#14863 Expose bevy math ops
  crates/bevy_math/src/lib.rs
  crates/bevy_math/src/ops.rs
Labels: C-Docs, C-Usability, S-Ready-For-Final-Review, A-Math, C-Needs-Release-Note, D-Straightforward

#14837 Add `filter_map_unchanged` to `Mut<T>`
  crates/bevy_ecs/src/change_detection.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review

#14868 Allow fog density texture to be scrolled over time with an offset
  Cargo.toml
  assets/volumes/fog_noise.ktx2
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
  examples/3d/scrolling_fog.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note

#14861 Implement `Reflect` for `std::ops::Bound`
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14839 Use lld for rustdoc on Linux in config_fast_builds.toml
  .cargo/config_fast_builds.toml
  CONTRIBUTING.md
Labels: C-Bug, A-Build-System, O-Linux, S-Ready-For-Final-Review

#14886 Update Grid Gizmo to use Color
  crates/bevy_gizmos/src/grid.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, C-Breaking-Change, A-Gizmos, A-Color

#14885 Deprecate old contributing documentation / information
  .github/contributing/engine_style_guide.md
  .github/contributing/example_style_guide.md
  .github/workflows/welcome.yml
  CONTRIBUTING.md
  docs/release_checklist.md
  docs/the_bevy_organization.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review, D-Straightforward

#14887 Fix Gizmos warnings and doc errors when a subset of features are selected
  crates/bevy_asset/src/io/file/sync_file_asset.rs
  crates/bevy_gizmos/src/arcs.rs
  crates/bevy_gizmos/src/arrows.rs
  crates/bevy_gizmos/src/circles.rs
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/cross.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_gizmos/src/grid.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/rounded_box.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Gizmos, D-Straightforward

#14881 Allow ordering variable timesteps around fixed timesteps
  crates/bevy_app/src/lib.rs
  crates/bevy_app/src/main_schedule.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_time/src/fixed.rs
  crates/bevy_time/src/lib.rs
  examples/movement/physics_in_fixed_timestep.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-App, C-Breaking-Change, D-Modest

#14858 Use quaternionic `smooth_nudge` in the `align` example
  examples/transforms/align.rs
Labels: D-Trivial, C-Examples, S-Ready-For-Final-Review, A-Transform, D-Domain-Agnostic

#14895 Use observers for removal detection in example
  examples/ecs/removal_detection.rs
Labels: A-ECS, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#14900 Fix fog density texture offset seam
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
  examples/3d/scrolling_fog.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#14899 Remove dead links to example code in the bevy_ecs README
  crates/bevy_ecs/README.md
Labels: C-Docs, D-Trivial, A-ECS, S-Ready-For-Final-Review

#14898 Add helper methods on `Visibility`
  crates/bevy_render/src/view/visibility/mod.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#14914 Make ActiveAnimation::set_weight return &mut Self
  crates/bevy_animation/src/lib.rs
Labels: C-Code-Quality, C-Usability, S-Ready-For-Final-Review, A-Animation

#14893 Fix underflow panic in `InitTriInfo`
  crates/bevy_mikktspace/src/generated.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Unsafe

#14896 Make the field of `ParamSetBuilder` pub so it's actually usable.
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#14910 Rename `Commands::register_one_shot_system` -> `register_system`
  crates/bevy_ecs/src/system/commands/mod.rs
  examples/ecs/one_shot_systems.rs
  examples/games/loading_screen.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#14913 Fix tiny seam in Annulus geometry.
  crates/bevy_render/src/mesh/primitives/dim2.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math, D-Straightforward

#14833 Rewrite screenshots.
  crates/bevy_dev_tools/src/ci_testing/mod.rs
  crates/bevy_dev_tools/src/ci_testing/systems.rs
  crates/bevy_render/src/view/mod.rs
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_render/src/view/window/screenshot.rs
  examples/window/screenshot.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note

#14855 Simplify render_to_texture examples
  examples/3d/render_to_texture.rs
  examples/ui/render_ui_to_texture.rs
Labels: D-Trivial, A-Rendering, C-Examples, S-Ready-For-Final-Review

#14840 Added `on_unimplemented` Diagnostic for `IntoObserverSystem`
  crates/bevy_app/src/app.rs
  crates/bevy_ecs/src/system/observer_system.rs
Labels: C-Docs, A-ECS, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#14853 Add `AnimationGraph::from_clips` and simplify `animated_fox` example
  crates/bevy_animation/src/graph.rs
  crates/bevy_animation/src/lib.rs
  examples/animation/animated_fox.rs
Labels: C-Docs, C-Enhancement, C-Examples, C-Usability, S-Ready-For-Final-Review, A-Animation, D-Straightforward

#14842 Replace the `wgpu_trace` feature with a field in `bevy_render::settings::WgpuSettings`
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/renderer/mod.rs
  crates/bevy_render/src/settings.rs
  docs/cargo_features.md
  docs/debugging.md
Labels: C-Docs, C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#14817 SystemParamBuilder - Support dynamic system parameters
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, A-Reflection, C-Needs-Release-Note, D-Modest, D-Unsafe

#14721 Fix Gizmo joint rendering in webgpu
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
Labels: C-Bug, O-Web, S-Ready-For-Final-Review, A-Gizmos

#14857 Implement `std::fmt::Debug` for `ecs::observer::Trigger`
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/world/component_constants.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14838 bevy_reflect: Add `Type` type
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/enum_trait.rs
  crates/bevy_reflect/src/fields.rs
  crates/bevy_reflect/src/func/args/info.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/serde/de.rs
  crates/bevy_reflect/src/set.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  crates/bevy_reflect/src/type_info.rs
Labels: C-Code-Quality, C-Usability, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change, D-Straightforward

#14909 Refactor `AsBindGroup` to use a associated `SystemParam`.
  crates/bevy_pbr/src/extended_material.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_render/macros/src/as_bind_group.rs
  crates/bevy_render/src/render_resource/bind_group.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  examples/shader/texture_binding_array.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#9805 Add `VertexBufferLayout::offset_locations`
  crates/bevy_render/src/render_resource/pipeline.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#14623 Meshlet software raster + start of cleanup
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/meshlet/asset.rs
  crates/bevy_pbr/src/meshlet/copy_material_depth.wgsl
  crates/bevy_pbr/src/meshlet/cull_clusters.wgsl
  crates/bevy_pbr/src/meshlet/downsample_depth.wgsl
  crates/bevy_pbr/src/meshlet/fill_cluster_buffers.wgsl
  crates/bevy_pbr/src/meshlet/from_mesh.rs
  crates/bevy_pbr/src/meshlet/gpu_scene.rs
  crates/bevy_pbr/src/meshlet/instance_manager.rs
  crates/bevy_pbr/src/meshlet/material_pipeline_prepare.rs
  crates/bevy_pbr/src/meshlet/material_shade_nodes.rs
  crates/bevy_pbr/src/meshlet/meshlet_bindings.wgsl
  crates/bevy_pbr/src/meshlet/meshlet_mesh_manager.rs
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/meshlet/persistent_buffer_impls.rs
  crates/bevy_pbr/src/meshlet/pipelines.rs
  crates/bevy_pbr/src/meshlet/remap_1d_to_2d_dispatch.wgsl
  crates/bevy_pbr/src/meshlet/resolve_render_targets.wgsl
  crates/bevy_pbr/src/meshlet/resource_manager.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_hardware_raster.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_raster_node.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_resolve.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_software_raster.wgsl
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_render/src/render_resource/mod.rs
  examples/3d/meshlet.rs
Labels: A-Rendering, S-Ready-For-Final-Review, D-Complex

#11113 ImageSampler::init_descriptor
  crates/bevy_render/src/texture/image.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#14757 Add bevy_picking sprite backend
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_picking/src/backend.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_sprite/Cargo.toml
  crates/bevy_sprite/src/lib.rs
  crates/bevy_sprite/src/picking_backend.rs
  examples/README.md
  examples/picking/sprite_picking.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, A-Picking

#14815 Add methods to sample curves from `IntoIterator` types
  crates/bevy_math/src/curve/mod.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#14865 Split `GenericTypeCell::get_or_insert` into smaller pieces
  crates/bevy_reflect/src/utility.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection

#14897 Have EntityCommands methods consume self for easier chaining
  benches/benches/bevy_ecs/world/commands.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/wireframe.rs
  crates/bevy_picking/src/focus.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_sprite/src/mesh2d/wireframe2d.rs
  crates/bevy_winit/src/system.rs
  examples/2d/sprite_slice.rs
  examples/3d/anti_aliasing.rs
  examples/3d/depth_of_field.rs
  examples/3d/motion_blur.rs
  examples/3d/ssao.rs
  examples/animation/animation_graph.rs
  examples/ecs/observers.rs
  examples/games/game_menu.rs
  examples/stress_tests/many_buttons.rs
  examples/stress_tests/many_cubes.rs
  examples/stress_tests/transform_hierarchy.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Contentious

#14912 Allow removing asset from embedded asset registry
  crates/bevy_asset/src/io/embedded/mod.rs
  crates/bevy_asset/src/io/memory.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14917 Add `condition_changed` and `condition_became_true` to `common_conditions`
  crates/bevy_ecs/src/schedule/condition.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Needs-Release-Note

#14923 add `Interval::UNIT` constant
  crates/bevy_math/src/curve/interval.rs
  crates/bevy_math/src/curve/mod.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math

#14926 rename Drop to bevy::picking::events::DragDrop to unclash std::ops:Drop
  crates/bevy_picking/src/events.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, A-Picking

#14808 drop pending asset loads
  crates/bevy_asset/src/server/info.rs
  crates/bevy_asset/src/server/mod.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review

#14821 SystemParamBuilder - Support buildable Vec parameters
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, D-Unsafe

#14615 Fix query transmute from table to archetype iteration unsoundness
  crates/bevy_ecs/src/query/builder.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/query/par_iter.rs
  crates/bevy_ecs/src/query/state.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, P-Unsound, D-Unsafe

#14939 Fixing Curve trait not being object safe.
  crates/bevy_math/src/curve/mod.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math
