Repository bevyengine/bevy, pull requests merged in 2024-07, with the labels that each got.

#13310 Support operations for render layers and fix equality comparisons
  crates/bevy_render/src/view/visibility/render_layers.rs
Labels: C-Bug, A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#13707 Make gLTF node children Handle instead of objects
  crates/bevy_gltf/Cargo.toml
  crates/bevy_gltf/src/lib.rs
  crates/bevy_gltf/src/loader.rs
Labels: A-Rendering, A-Assets, C-Performance, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Modest

#14001 Handle `Ctrl+C` in the terminal properly
  crates/bevy_app/Cargo.toml
  crates/bevy_app/src/lib.rs
  crates/bevy_app/src/terminal_ctrl_c_handler.rs
  crates/bevy_internal/src/default_plugins.rs
Labels: C-Enhancement, A-Windowing, S-Ready-For-Final-Review, A-App

#14044 Mouse input accumulation
  crates/bevy_input/src/lib.rs
  crates/bevy_input/src/mouse.rs
  examples/input/mouse_input.rs
Labels: C-Enhancement, A-Input, S-Ready-For-Final-Review, C-Needs-Release-Note, D-Modest

#14052 Merge `BuildWorldChildren` and `BuildChildren` traits.
  crates/bevy_dev_tools/src/fps_overlay.rs
  crates/bevy_gltf/src/loader.rs
  crates/bevy_hierarchy/src/child_builder.rs
  crates/bevy_hierarchy/src/hierarchy.rs
  crates/bevy_hierarchy/src/lib.rs
  crates/bevy_hierarchy/src/query_extension.rs
  crates/bevy_render/src/view/visibility/mod.rs
  crates/bevy_scene/src/scene_spawner.rs
  crates/bevy_transform/src/helper.rs
  crates/bevy_transform/src/systems.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/stack.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, A-Hierarchy

#14090 Bump rodio to 0.19
  crates/bevy_audio/Cargo.toml
Labels: D-Trivial, A-Audio, C-Dependencies, S-Ready-For-Final-Review

#14091 Bump `accesskit` to 0.16
  crates/bevy_a11y/Cargo.toml
  crates/bevy_ui/src/accessibility.rs
  crates/bevy_winit/Cargo.toml
Labels: C-Dependencies, A-Accessibility, A-UI, S-Ready-For-Final-Review, C-Breaking-Change

#14075 Clarify the difference between default render layers and `none` render layers
  Cargo.toml
  crates/bevy_render/src/view/visibility/render_layers.rs
Labels: C-Docs, D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#14083 deregister events
  crates/bevy_ecs/src/event/mod.rs
  crates/bevy_ecs/src/event/registry.rs
Labels: A-ECS, C-Usability, S-Waiting-on-Author

#14104 Added `get_main_animation` for `AnimationTransitions`
  crates/bevy_animation/src/transition.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Animation

#14108 add missing mention of sort_unstable_by_key in QuerySortedIter docs
  crates/bevy_ecs/src/query/iter.rs
Labels: C-Docs, D-Trivial, A-ECS, S-Ready-For-Final-Review

#14109 Fix `push_children` inserting a `Children` component even when no children are supplied
  crates/bevy_hierarchy/src/child_builder.rs
Labels: C-Bug, D-Trivial, A-ECS, S-Ready-For-Final-Review

#14103 Fix footgun for Windows users in `fast_config.toml`
  .cargo/config_fast_builds.toml
Labels: C-Bug, C-Docs, D-Trivial, A-Build-System, O-Windows, S-Ready-For-Final-Review

#14107 use associated type bounds in QueryManyIter and QueryIter::sort()
  crates/bevy_ecs/src/query/iter.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#14048 Added feature switch to default Standard Material's new anisotropy texture to off
  Cargo.toml
  crates/bevy_gltf/Cargo.toml
  crates/bevy_gltf/src/loader.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_pbr/Cargo.toml
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/pbr_bindings.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  docs/cargo_features.md
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#14114 Backport #14083 (deregister events) to 0.14 branch
  crates/bevy_ecs/src/event.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Needs-Review

#14115 fix remaining issues with background color in examples
  examples/state/computed_states.rs
  examples/state/custom_transitions.rs
  examples/state/states.rs
  examples/state/sub_states.rs
  examples/stress_tests/many_buttons.rs
  examples/ui/button.rs
  examples/ui/display_and_visibility.rs
  examples/ui/size_constraints.rs
  examples/ui/ui_texture_atlas_slice.rs
  examples/ui/ui_texture_slice.rs
Labels: C-Examples, A-UI

#14079 Using simple approx round up in ui_layout_system
  crates/bevy_ui/src/layout/mod.rs
Labels: C-Performance, A-UI, S-Ready-For-Final-Review

#14121 Fix border color in `ui_texture_slice` and `ui_texture_atlas_slice` examples.
  examples/ui/ui_texture_atlas_slice.rs
  examples/ui/ui_texture_slice.rs
Labels: C-Examples, A-UI, S-Ready-For-Final-Review

#14122 Skip extract UiImage When its texture is default
  crates/bevy_ui/src/render/mod.rs
Labels: A-Rendering, C-Performance, A-UI, S-Ready-For-Final-Review

#14126 Release 0.14.0 version bump
  Cargo.toml
  crates/bevy_a11y/Cargo.toml
  crates/bevy_animation/Cargo.toml
  crates/bevy_app/Cargo.toml
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/macros/Cargo.toml
  crates/bevy_audio/Cargo.toml
  crates/bevy_color/Cargo.toml
  crates/bevy_core/Cargo.toml
  crates/bevy_core_pipeline/Cargo.toml
  crates/bevy_derive/Cargo.toml
  crates/bevy_dev_tools/Cargo.toml
  crates/bevy_diagnostic/Cargo.toml
  crates/bevy_dylib/Cargo.toml
  crates/bevy_dynamic_plugin/Cargo.toml
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/macros/Cargo.toml
  crates/bevy_encase_derive/Cargo.toml
  crates/bevy_gilrs/Cargo.toml
  crates/bevy_gizmos/Cargo.toml
  crates/bevy_gizmos/macros/Cargo.toml
  crates/bevy_gltf/Cargo.toml
  crates/bevy_hierarchy/Cargo.toml
  crates/bevy_input/Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_log/Cargo.toml
  crates/bevy_macro_utils/Cargo.toml
  crates/bevy_math/Cargo.toml
  crates/bevy_mikktspace/Cargo.toml
  crates/bevy_pbr/Cargo.toml
  crates/bevy_ptr/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/derive/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/macros/Cargo.toml
  crates/bevy_scene/Cargo.toml
  crates/bevy_sprite/Cargo.toml
  crates/bevy_state/Cargo.toml
  crates/bevy_state/macros/Cargo.toml
  crates/bevy_tasks/Cargo.toml
  crates/bevy_text/Cargo.toml
  crates/bevy_time/Cargo.toml
  crates/bevy_transform/Cargo.toml
  crates/bevy_ui/Cargo.toml
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/macros/Cargo.toml
  crates/bevy_window/Cargo.toml
  crates/bevy_winit/Cargo.toml
Labels: S-Ready-For-Final-Review, A-Cross-Cutting

#10193 Cosmic text
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/texture_atlas.rs
  crates/bevy_text/Cargo.toml
  crates/bevy_text/src/bounds.rs
  crates/bevy_text/src/error.rs
  crates/bevy_text/src/font.rs
  crates/bevy_text/src/font_atlas.rs
  crates/bevy_text/src/font_atlas_set.rs
  crates/bevy_text/src/font_loader.rs
  crates/bevy_text/src/glyph.rs
  crates/bevy_text/src/glyph_brush.rs
  crates/bevy_text/src/lib.rs
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/layout/ui_surface.rs
  crates/bevy_ui/src/measurement.rs
  crates/bevy_ui/src/node_bundles.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/widget/image.rs
  crates/bevy_ui/src/widget/text.rs
  docs/cargo_features.md
  examples/2d/text2d.rs
  examples/3d/tonemapping.rs
  examples/stress_tests/many_glyphs.rs
  examples/stress_tests/text_pipeline.rs
  examples/ui/text.rs
  examples/ui/text_debug.rs
  examples/ui/text_wrap_debug.rs
  examples/ui/ui_scaling.rs
Labels: C-Enhancement, A-UI, S-Ready-For-Final-Review, A-Text, C-Needs-Release-Note, X-Blessed

#14140 impl Debug for ExtendedMaterial
  crates/bevy_pbr/src/extended_material.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#14165 bevy_reflect: Re-enable reflection compile fail tests
  crates/bevy_reflect/compile_fail/tests/derive.rs
Labels: D-Trivial, A-Reflection, C-Testing

#14178 Remove unused type parameter in `Parallel::drain()`
  crates/bevy_utils/src/parallel_queue.rs
Labels: D-Trivial, C-Code-Quality, C-Breaking-Change, A-Utils, S-Needs-Review

#14173 Deduplicate Wasm optimization instructions
  docs-template/EXAMPLE_README.md.tpl
  examples/README.md
Labels: C-Docs, O-Web, S-Ready-For-Final-Review

#14200 EmptyPathStream is only used in android/wasm32
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_gltf/src/loader.rs
Labels: A-Assets, C-Code-Quality, S-Ready-For-Final-Review

#13553 Use rust-lld on windows rustdoc in config_fast_builds.toml
  .cargo/config_fast_builds.toml
Labels: A-Build-System, O-Windows, S-Ready-For-Final-Review, X-Contentious

#14005 Component Hook functions as attributes for Component derive macro
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/component.rs
  examples/ecs/component_hooks.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Macros

#14064 Optimize ui_layout_system
  crates/bevy_ui/src/layout/mod.rs
Labels: C-Performance, A-UI, S-Ready-For-Final-Review, D-Straightforward

#14071 Uniform mesh sampling
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/sampling/mesh_sampling.rs
  crates/bevy_math/src/sampling/mod.rs
  crates/bevy_render/src/mesh/mesh/mod.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, A-Math, C-Needs-Release-Note, D-Modest

#14123 Fix crash when an asset load failure event is processed after asset drop
  crates/bevy_asset/src/server/info.rs
Labels: D-Trivial, A-Assets, P-Crash, S-Ready-For-Final-Review

#14156 impl Reflect + Clone for StateScoped
  crates/bevy_state/src/state_scoped.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, A-Reflection

#14163 add entity to error message
  crates/bevy_ui/src/layout/ui_surface.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Diagnostics, X-Uncontroversial

#14164 use Display for entity id in log_components
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Diagnostics

#14171 Optimize unnecessary normalizations for `Transform::local_{xyz}`
  crates/bevy_transform/src/components/transform.rs
Labels: D-Trivial, C-Performance, S-Ready-For-Final-Review, A-Math

#14176 disable gpu preprocessing on android with Adreno 730 GPU and earilier
  crates/bevy_render/src/batching/gpu_preprocessing.rs
Labels: C-Bug, A-Rendering, P-Crash, O-Android, S-Ready-For-Final-Review

#14179 bevy_core: make bevy_reflect optional
  crates/bevy_core/Cargo.toml
  crates/bevy_core/src/lib.rs
  crates/bevy_core/src/name.rs
Labels: A-Core, S-Ready-For-Final-Review, A-Reflection

#14167 bevy_input: allow use without bevy_reflect
  crates/bevy_input/Cargo.toml
  crates/bevy_input/src/button_input.rs
  crates/bevy_input/src/gamepad.rs
  crates/bevy_input/src/gestures.rs
  crates/bevy_input/src/keyboard.rs
  crates/bevy_input/src/lib.rs
  crates/bevy_input/src/mouse.rs
  crates/bevy_input/src/touch.rs
Labels: A-Input, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection

#14209 Fix state example urls
  crates/bevy_state/src/lib.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#13826 Add Mac OS tracy info to profiling docs
  docs/profiling.md
Labels: C-Docs, D-Trivial, O-MacOS, S-Ready-For-Final-Review, A-Diagnostics, X-Uncontroversial

#11750 meta: Add `Showcase` section to PR template
  .github/linters/.markdown-lint.yml
  .github/pull_request_template.md
Labels: A-Meta, S-Ready-For-Final-Review, X-Contentious

#14170 prepare next version: update regexes
  .github/workflows/post-release.yml
Labels: C-Bug, A-Meta, S-Ready-For-Final-Review

#14225 Fix doc list indentation
  crates/bevy_reflect/src/func/into_function.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Reflection

#14223 Add an example for doing movement in fixed timesteps
  Cargo.toml
  examples/README.md
  examples/camera/2d_top_down_camera.rs
  examples/movement/physics_in_fixed_timestep.rs
Labels: C-Examples, S-Ready-For-Final-Review, D-Modest

#14245 Make `bevy_math::common_traits` public
  crates/bevy_math/src/common_traits.rs
  crates/bevy_math/src/lib.rs
Labels: C-Bug, C-Docs, S-Ready-For-Final-Review, A-Math

#14240 fix: Possible NaN due to denormalised quaternions in AABB implementations for round shapes.
  crates/bevy_math/src/bounding/bounded3d/extrusion.rs
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math

#14269 Basic isometry types
  crates/bevy_math/src/bounding/raycast3d.rs
  crates/bevy_math/src/isometry.rs
  crates/bevy_math/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, C-Needs-Release-Note

#14224 update example low_power
  examples/window/low_power.rs
Labels: C-Examples, A-Windowing, S-Ready-For-Final-Review

#14218 update gltf example to use type-safe `GltfAssetLabel::Scene`
  examples/3d/load_gltf_extras.rs
Labels: C-Examples, S-Ready-For-Final-Review

#14174 bevy_reflect: Feature-gate function reflection
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/compile_fail/Cargo.toml
  crates/bevy_reflect/derive/Cargo.toml
  crates/bevy_reflect/derive/src/impls/enums.rs
  crates/bevy_reflect/derive/src/impls/mod.rs
  crates/bevy_reflect/derive/src/impls/structs.rs
  crates/bevy_reflect/derive/src/impls/tuple_structs.rs
  crates/bevy_reflect/derive/src/impls/values.rs
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/impls/smallvec.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  docs/cargo_features.md
Labels: D-Trivial, S-Ready-For-Final-Review, A-Reflection

#14160 Add error message if states schedule missing (usually because StatesPlugin hasn't been added)
  crates/bevy_state/src/app.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Diagnostics

#14155 Dirty fix for App hanging when windows are invisible on WindowsOS
  crates/bevy_winit/src/state.rs
Labels: C-Bug, A-Windowing, O-Windows, S-Ready-For-Final-Review, D-Straightforward

#14073 Lighting Should Only hold Vec<Entity> instead of TypeId<Vec<Entity>>
  crates/bevy_pbr/src/bundle.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_pbr/src/render/light.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, C-Regression, D-Straightforward

#14307 Fix swapped docs for `Rot2::rotation_to/from_y`
  crates/bevy_math/src/direction.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Math

#13943 Fix prepass batch
  crates/bevy_pbr/src/prepass/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#14312 Add `Isometry2d::from_xy` and `Isometry3d::from_xyz`
  crates/bevy_math/src/isometry.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math

#14311 Add `inverse_mul` and `inverse_transform_point` for isometries
  crates/bevy_math/src/isometry.rs
Labels: S-Ready-For-Final-Review, A-Math, D-Straightforward

#13320 bevy_reflect: `TypeInfo` casting methods
  crates/bevy_reflect/src/enums/variants.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/type_info.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14320 Register VisibleMeshEntities
  crates/bevy_pbr/src/lib.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review, A-Reflection, A-Scenes

#13321 bevy_reflect: Nested `TypeInfo` getters
  crates/bevy_reflect/compile_fail/tests/reflect_derive/generics_fail.rs
  crates/bevy_reflect/derive/src/utility.rs
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/mod.rs
  crates/bevy_reflect/src/fields.rs
  crates/bevy_reflect/src/impls/smallvec.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/utility.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, D-Modest

#14321 Add a direct link in the docs to the Discord's #working-groups channel
  CONTRIBUTING.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review

#13991 Minimal Bubbling Observers
  Cargo.toml
  benches/Cargo.toml
  benches/benches/bevy_ecs/benches.rs
  benches/benches/bevy_ecs/observers/mod.rs
  benches/benches/bevy_ecs/observers/propagation.rs
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/event/base.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/observer/trigger_event.rs
  crates/bevy_ecs/src/traversal.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_hierarchy/src/components/parent.rs
  examples/README.md
  examples/ecs/observer_propagation.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change, A-Hierarchy, C-Needs-Release-Note, X-Blessed, A-Picking

#13695 Start a built-in postprocessing stack, and implement chromatic aberration in it.
  Cargo.toml
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/post_process/chromatic_aberration.wgsl
  crates/bevy_core_pipeline/src/post_process/mod.rs
  crates/bevy_core_pipeline/src/post_process/post_process.wgsl
  examples/3d/post_processing.rs
  examples/README.md
  examples/shader/custom_post_processing.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Contentious, D-Modest

#13820 add debug logging to ascertain the base path the asset server is using
  crates/bevy_asset/src/io/file/mod.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#13855 Align `Scene::write_to_world_with` to match `DynamicScene::write_to_world_with`
  crates/bevy_scene/src/scene.rs
  crates/bevy_scene/src/scene_spawner.rs
Labels: C-Bug, S-Ready-For-Final-Review, C-Regression, A-Scenes

#13903 examples: Add `Type Data` reflection example
  Cargo.toml
  examples/README.md
  examples/reflection/trait_reflection.rs
  examples/reflection/type_data.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14161 Expose Winit's `KeyEvent::repeat` in `KeyboardInput`
  crates/bevy_input/src/keyboard.rs
  crates/bevy_winit/src/converters.rs
Labels: C-Enhancement, D-Trivial, A-Input, S-Ready-For-Final-Review

#14159 Allow observer systems to have outputs
  crates/bevy_ecs/src/system/observer_system.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#14168 bevy_math: faster sphere sampling
  crates/bevy_math/src/sampling/shape_sampling.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#14185 Fix inconsistency in `KeyboardInput` examples to match migration guide
  examples/input/char_input_events.rs
  examples/input/text_input.rs
Labels: C-Bug, C-Examples, S-Ready-For-Final-Review, A-Text

#14208 Make initial `StateTransition` run before `PreStartup`
  crates/bevy_state/src/app.rs
  crates/bevy_state/src/state/mod.rs
  crates/bevy_state/src/state/transitions.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, X-Contentious

#14211 Rename `bevy_core::name::DebugName` to `bevy_core::name::NameOrEntity`
  crates/bevy_core/src/lib.rs
  crates/bevy_core/src/name.rs
Labels: D-Trivial, A-Core, C-Usability, S-Ready-For-Final-Review, A-Editor, C-Breaking-Change

#14212 Component Lifecycle Hook & Observer Trigger for replaced values
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/world/component_constants.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/mod.rs
  examples/ecs/component_hooks.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Needs-Release-Note

#14228 Clean up UiSystem system sets
  crates/bevy_ui/src/lib.rs
Labels: A-UI, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#14234 Fix inaccurate docs for `Commands::spawn_empty`
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: C-Docs, D-Trivial, A-ECS, S-Ready-For-Final-Review

#14250 Implement FromIterator/IntoIterator for dynamic types
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  examples/reflection/dynamic_types.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14264 Fix overflow in `RenderLayers::iter_layers`
  crates/bevy_render/src/view/visibility/render_layers.rs
Labels: C-Bug, A-Rendering, P-Crash, S-Ready-For-Final-Review

#14267 Add support for skybox transformation
  crates/bevy_core_pipeline/src/skybox/mod.rs
  crates/bevy_core_pipeline/src/skybox/skybox.wgsl
  examples/3d/anisotropy.rs
  examples/3d/auto_exposure.rs
  examples/3d/clearcoat.rs
  examples/3d/irradiance_volumes.rs
  examples/3d/reflection_probes.rs
  examples/3d/skybox.rs
  examples/3d/ssr.rs
  examples/3d/volumetric_fog.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#14285 Remove second generic from `.add_before`, `.add_after`
  crates/bevy_app/src/plugin_group.rs
  examples/app/plugin_group.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-App, C-Breaking-Change

#14292 Clarify GlobalTransform::transform_point
  crates/bevy_transform/src/components/global_transform.rs
  crates/bevy_transform/src/components/transform.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Transform, C-Design-Doc

#14298 Fix `bevy_window` failing with `serialize` feature
  crates/bevy_window/Cargo.toml
Labels: C-Bug, D-Trivial, A-Windowing, S-Ready-For-Final-Review

#14293 Clearer spatial bundle pub const docs
  crates/bevy_render/src/spatial_bundle.rs
Labels: C-Docs, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#14318 Improve isometry docs
  crates/bevy_math/src/isometry.rs
  crates/bevy_math/src/lib.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Math, D-Straightforward

#14326 Implement `Bounded2d` for `Annulus`
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
Labels: C-Enhancement, D-Trivial, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#14327 Allow non-static trigger targets
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/trigger_event.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/deferred_world.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14330 Specify test group names in github summary for compile fail tests
  crates/bevy_derive/compile_fail/tests/derive.rs
  crates/bevy_ecs/compile_fail/tests/ui.rs
  crates/bevy_reflect/compile_fail/tests/derive.rs
  crates/bevy_reflect/compile_fail/tests/func.rs
  tools/compile_fail_utils/src/lib.rs
Labels: A-Build-System, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial

#14313 Remove unused `default` feature from `bevy_window`
  crates/bevy_window/Cargo.toml
Labels: D-Trivial, A-Windowing, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, D-Domain-Agnostic

#14317 remove rounded_borders and merge with borders example
  Cargo.toml
  examples/README.md
  examples/ui/borders.rs
  examples/ui/rounded_borders.rs
Labels: C-Examples, A-UI, S-Ready-For-Final-Review

#14283 Add insert_by_id and try_insert_by_id to EntityCommands
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#14338 Fix error/typo in SMAA shader
  crates/bevy_core_pipeline/src/smaa/smaa.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13889 Make `Task`s functional on WASM
  crates/bevy_tasks/Cargo.toml
  crates/bevy_tasks/src/lib.rs
  crates/bevy_tasks/src/single_threaded_task_pool.rs
  crates/bevy_tasks/src/wasm_task.rs
Labels: C-Enhancement, O-Web, S-Ready-For-Final-Review, A-Tasks, X-Uncontroversial, D-Modest, D-Async

#14339 `plugin_group!` macro (adopted)
  crates/bevy_a11y/src/lib.rs
  crates/bevy_app/src/plugin_group.rs
  crates/bevy_dev_tools/src/ci_testing/mod.rs
  crates/bevy_dev_tools/src/lib.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_internal/src/default_plugins.rs
  crates/bevy_state/src/app.rs
Labels: C-Docs, C-Enhancement, C-Usability, S-Ready-For-Final-Review, A-App, D-Modest, D-Macros

#14099 Allow volumetric fog to be localized to specific, optionally voxelized, regions.
  Cargo.toml
  assets/volumes/bunny.ktx2
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
  examples/3d/fog_volumes.rs
  examples/3d/volumetric_fog.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note

#14141 bevy_reflect: Add `DynamicClosure` and `DynamicClosureMut`
  crates/bevy_reflect/compile_fail/tests/into_function/arguments_fail.rs
  crates/bevy_reflect/compile_fail/tests/into_function/closure_fail.rs
  crates/bevy_reflect/compile_fail/tests/into_function/return_fail.rs
  crates/bevy_reflect/derive/src/impls/func/into_return.rs
  crates/bevy_reflect/src/func/args/arg.rs
  crates/bevy_reflect/src/func/args/info.rs
  crates/bevy_reflect/src/func/args/list.rs
  crates/bevy_reflect/src/func/args/mod.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure_mut.rs
  crates/bevy_reflect/src/func/closures/into_closure.rs
  crates/bevy_reflect/src/func/closures/into_closure_mut.rs
  crates/bevy_reflect/src/func/closures/mod.rs
  crates/bevy_reflect/src/func/error.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/into_function.rs
  crates/bevy_reflect/src/func/macros.rs
  crates/bevy_reflect/src/func/mod.rs
  crates/bevy_reflect/src/func/reflect_fn.rs
  crates/bevy_reflect/src/func/reflect_fn_mut.rs
  crates/bevy_reflect/src/func/return_type.rs
  examples/reflection/function_reflection.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, D-Complex

#14198 Remove need for EventLoopProxy to be NonSend
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
  examples/window/custom_user_event.rs
  examples/window/low_power.rs
Labels: C-Usability, A-App, C-Breaking-Change, S-Waiting-on-Author

#14325 Added `new` method to Cone 3D primitive
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Enhancement, D-Trivial, S-Ready-For-Final-Review, A-Math

#14201 bevy_reflect: Improve `DynamicFunction` ergonomics
  crates/bevy_reflect/derive/src/impls/func/from_arg.rs
  crates/bevy_reflect/src/func/args/arg.rs
  crates/bevy_reflect/src/func/args/error.rs
  crates/bevy_reflect/src/func/args/from_arg.rs
  crates/bevy_reflect/src/func/args/info.rs
  crates/bevy_reflect/src/func/args/list.rs
  crates/bevy_reflect/src/func/args/ownership.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure.rs
  crates/bevy_reflect/src/func/closures/dynamic_closure_mut.rs
  crates/bevy_reflect/src/func/closures/into_closure.rs
  crates/bevy_reflect/src/func/closures/into_closure_mut.rs
  crates/bevy_reflect/src/func/error.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/into_function.rs
  crates/bevy_reflect/src/func/mod.rs
  crates/bevy_reflect/src/func/reflect_fn.rs
  crates/bevy_reflect/src/func/reflect_fn_mut.rs
  crates/bevy_reflect/src/func/return_type.rs
  examples/reflection/function_reflection.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#14347 Fix the dev docs robots.txt containing a literal \n instead of a newline
  .github/workflows/docs.yml
Labels: C-Docs, D-Trivial, A-Build-System, S-Ready-For-Final-Review

#14257 Pack multiple vertex and index arrays together into growable buffers.
  crates/bevy_pbr/src/lightmap/mod.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/mesh/allocator.rs
  crates/bevy_render/src/mesh/mesh/mod.rs
  crates/bevy_render/src/mesh/mod.rs
  crates/bevy_render/src/render_asset.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  examples/2d/mesh2d_manual.rs
  examples/shader/shader_instancing.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, C-Needs-Release-Note

#14345 update bunny meshlet url
  Cargo.toml
Labels: A-Build-System, C-Examples

#14354 Update `trigger_observers` to operate over slices of data
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#14364 Derive and reflect `Debug` for `CameraRenderGraph`
  crates/bevy_render/src/camera/camera.rs
Labels: D-Trivial, A-Rendering, C-Usability, S-Ready-For-Final-Review

#13950 Test for ambiguous system ordering in CI
  .github/example-run/ambiguity_detection.ron
  Cargo.toml
  crates/bevy_dev_tools/src/ci_testing/mod.rs
  tests/ecs/ambiguity_detection.rs
Labels: S-Ready-For-Final-Review, C-Testing, A-Cross-Cutting, X-Uncontroversial, D-Straightforward

#14369 Make names of closure systems changable
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/system_name.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Editor

#14381 Recalibrated observe benchmark
  benches/benches/bevy_ecs/observers/mod.rs
  benches/benches/bevy_ecs/observers/propagation.rs
  benches/benches/bevy_ecs/observers/simple.rs
  crates/bevy_ecs/src/observer/trigger_event.rs
Labels: A-ECS, S-Ready-For-Final-Review, C-Benchmarks, A-Picking

#14390 Make the `GltfNode::children` links actually point to children.
  crates/bevy_gltf/src/loader.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Scenes

#14387 Deprecate `is_playing_animation`
  crates/bevy_animation/src/lib.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Animation, C-Breaking-Change

#14290 Add support for environment map transformation
  Cargo.toml
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/light_probe/environment_map.rs
  crates/bevy_pbr/src/light_probe/environment_map.wgsl
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/meshlet/material_draw_nodes.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.wgsl
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/ssr/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  examples/3d/animated_material.rs
  examples/3d/anisotropy.rs
  examples/3d/anti_aliasing.rs
  examples/3d/auto_exposure.rs
  examples/3d/clearcoat.rs
  examples/3d/color_grading.rs
  examples/3d/deferred_rendering.rs
  examples/3d/irradiance_volumes.rs
  examples/3d/load_gltf.rs
  examples/3d/meshlet.rs
  examples/3d/pbr.rs
  examples/3d/post_processing.rs
  examples/3d/reflection_probes.rs
  examples/3d/rotate_environment_map.rs
  examples/3d/skybox.rs
  examples/3d/ssr.rs
  examples/3d/tonemapping.rs
  examples/3d/transmission.rs
  examples/3d/update_gltf_scene.rs
  examples/3d/visibility_range.rs
  examples/3d/volumetric_fog.rs
  examples/README.md
  examples/tools/scene_viewer/main.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change, D-Modest

#14372 Make `Viewport::default()` return a 1x1 viewport
  crates/bevy_render/src/camera/camera.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#14374 Fix tracing with `transform_hierarchy` example
  examples/stress_tests/transform_hierarchy.rs
Labels: D-Trivial, C-Examples, A-Transform

#14287 Set scissor on upscale to match camera viewport
  crates/bevy_core_pipeline/src/upscaling/node.rs
  examples/3d/split_screen.rs
Labels: C-Enhancement, A-Rendering, D-Straightforward, S-Needs-Review

#14377 docs: Fix incorrect docs in the run conditions example
  examples/ecs/run_conditions.rs
Labels: C-Docs, D-Trivial, A-ECS, C-Examples, S-Ready-For-Final-Review

#14405 Fix button placement in `split_screen` example
  examples/3d/split_screen.rs
Labels: C-Bug, D-Trivial, C-Examples, A-UI, S-Ready-For-Final-Review

#14360 fix building cargo_gltf with feature dds
  crates/bevy_gltf/Cargo.toml
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review

#14357 Using Cas instead of CAS #14341
  crates/bevy_core_pipeline/src/contrast_adaptive_sharpening/mod.rs
  crates/bevy_core_pipeline/src/contrast_adaptive_sharpening/node.rs
  crates/bevy_core_pipeline/src/lib.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, C-Breaking-Change, X-Uncontroversial, S-Waiting-on-Author

#14421 Fix breaking image 0.25.2 release.
  crates/bevy_render/src/texture/image.rs
Labels: D-Trivial, A-Rendering, S-Ready-For-Final-Review

#14128 implement DoubleEndedIterator for QueryManyIter
  crates/bevy_ecs/src/query/iter.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, D-Modest, D-Unsafe

#14256 Prevent division by zero in HWBA to HSVA conversions
  crates/bevy_color/src/hsva.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Color

#14259 Add some missing reflect attributes
  crates/bevy_animation/src/transition.rs
  crates/bevy_ecs/src/world/component_constants.rs
  crates/bevy_ui/src/ui_node.rs
Labels: D-Trivial, A-ECS, A-UI, C-Usability, S-Ready-For-Final-Review, A-Animation, A-Reflection

#14260 Fix incorrect function calls to hsv_to_rgb in render debug code.
  crates/bevy_pbr/src/render/clustered_forward.wgsl
  crates/bevy_pbr/src/render/shadows.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, C-Testing

#14273 Move `Msaa` to component
  crates/bevy_core_pipeline/src/core_2d/camera_2d.rs
  crates/bevy_core_pipeline/src/core_3d/camera_3d.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/dof/mod.rs
  crates/bevy_core_pipeline/src/motion_blur/node.rs
  crates/bevy_core_pipeline/src/motion_blur/pipeline.rs
  crates/bevy_core_pipeline/src/msaa_writeback.rs
  crates/bevy_core_pipeline/src/skybox/mod.rs
  crates/bevy_core_pipeline/src/skybox/prepass.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_render/src/view/mod.rs
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/render/mod.rs
  examples/2d/mesh2d_manual.rs
  examples/2d/pixel_grid_snap.rs
  examples/3d/anti_aliasing.rs
  examples/3d/deferred_rendering.rs
  examples/3d/ssr.rs
  examples/3d/transmission.rs
  examples/3d/transparency_3d.rs
  examples/mobile/src/lib.rs
  examples/shader/custom_phase_item.rs
  examples/shader/shader_instancing.rs
  examples/shader/shader_prepass.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change, D-Modest

#13217 allow more configuration for showcase from the CLI
  tools/example-showcase/src/main.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Dev-Tools

#14316 Fast renormalize
  crates/bevy_math/src/direction.rs
  crates/bevy_math/src/rotation2d.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, C-Needs-Release-Note, D-Modest

#14344 Fix single keyframe animations.
  crates/bevy_animation/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Animation

#14367 Unignore `Camera.target` field for reflection
  crates/bevy_render/src/camera/camera.rs
Labels: D-Trivial, A-Rendering, C-Usability, S-Ready-For-Final-Review

#14373 Optimize transform propagation
  crates/bevy_transform/src/systems.rs
Labels: C-Performance, S-Ready-For-Final-Review, A-Transform, A-Hierarchy

#14375 Fix the example regressions from packed growable buffers.
  crates/bevy_pbr/src/meshlet/gpu_scene.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh.wgsl
  crates/bevy_pbr/src/render/mesh_preprocess.wgsl
  crates/bevy_pbr/src/render/mesh_types.wgsl
  crates/bevy_pbr/src/volumetric_fog/render.rs
Labels: A-Rendering, S-Ready-For-Final-Review, C-Regression

#14376 Remove manual --cfg docsrs
  Cargo.toml
  crates/bevy_a11y/Cargo.toml
  crates/bevy_animation/Cargo.toml
  crates/bevy_app/Cargo.toml
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/macros/Cargo.toml
  crates/bevy_audio/Cargo.toml
  crates/bevy_color/Cargo.toml
  crates/bevy_core/Cargo.toml
  crates/bevy_core_pipeline/Cargo.toml
  crates/bevy_derive/Cargo.toml
  crates/bevy_dev_tools/Cargo.toml
  crates/bevy_diagnostic/Cargo.toml
  crates/bevy_dylib/Cargo.toml
  crates/bevy_dynamic_plugin/Cargo.toml
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/macros/Cargo.toml
  crates/bevy_encase_derive/Cargo.toml
  crates/bevy_gilrs/Cargo.toml
  crates/bevy_gizmos/Cargo.toml
  crates/bevy_gizmos/macros/Cargo.toml
  crates/bevy_gltf/Cargo.toml
  crates/bevy_hierarchy/Cargo.toml
  crates/bevy_input/Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_log/Cargo.toml
  crates/bevy_macro_utils/Cargo.toml
  crates/bevy_math/Cargo.toml
  crates/bevy_mikktspace/Cargo.toml
  crates/bevy_pbr/Cargo.toml
  crates/bevy_picking/Cargo.toml
  crates/bevy_ptr/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/derive/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/macros/Cargo.toml
  crates/bevy_scene/Cargo.toml
  crates/bevy_sprite/Cargo.toml
  crates/bevy_state/Cargo.toml
  crates/bevy_state/macros/Cargo.toml
  crates/bevy_tasks/Cargo.toml
  crates/bevy_text/Cargo.toml
  crates/bevy_time/Cargo.toml
  crates/bevy_transform/Cargo.toml
  crates/bevy_ui/Cargo.toml
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/macros/Cargo.toml
  crates/bevy_window/Cargo.toml
  crates/bevy_winit/Cargo.toml
  errors/Cargo.toml
  examples/mobile/Cargo.toml
  tools/build-templated-pages/Cargo.toml
  tools/build-wasm-example/Cargo.toml
  tools/ci/Cargo.toml
  tools/example-showcase/Cargo.toml
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Cross-Cutting

#14384 Only propagate transforms entities with GlobalTransforms.
  crates/bevy_transform/src/systems.rs
Labels: C-Bug, C-Performance, S-Ready-For-Final-Review, A-Transform, C-Breaking-Change, A-Hierarchy, X-Contentious

#14410 Added `AstcBlock` and `AstcChannel` to the forwarded wgpu types.
  crates/bevy_render/src/render_resource/mod.rs
Labels: D-Trivial, A-Rendering, C-Usability, S-Ready-For-Final-Review

#14411 Fix repeated animation transition bug
  crates/bevy_animation/src/transition.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Animation

#14430 Fix error in `bevy_ui` when building without `bevy_text`
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/layout/ui_surface.rs
  crates/bevy_ui/src/measurement.rs
  crates/bevy_ui/src/node_bundles.rs
Labels: C-Bug, D-Trivial, A-UI, S-Ready-For-Final-Review, C-Regression

#14441 Simplify run conditions
  crates/bevy_ecs/src/change_detection.rs
  crates/bevy_ecs/src/schedule/condition.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, X-Uncontroversial, D-Straightforward

#13240 Don't ignore draw errors
  crates/bevy_core_pipeline/src/core_2d/main_transparent_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_opaque_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_transmissive_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_transparent_pass_3d_node.rs
  crates/bevy_core_pipeline/src/deferred/node.rs
  crates/bevy_core_pipeline/src/prepass/node.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/render_graph/node.rs
  crates/bevy_render/src/render_phase/draw.rs
  crates/bevy_render/src/render_phase/mod.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_ui/src/render/render_pass.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  examples/shader/shader_instancing.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, A-Diagnostics, X-Uncontroversial, D-Straightforward

#14442 Fixup Msaa docs.
  crates/bevy_core_pipeline/src/smaa/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_pbr/src/meshlet/mod.rs
Labels: C-Docs, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#14443 Add and reflect `Default` impls for CSS grid types
  crates/bevy_ui/src/ui_node.rs
Labels: A-UI, C-Usability, S-Ready-For-Final-Review, A-Reflection

#14416 feat: Add `World::get_reflect()` and `World::get_reflect_mut()`
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/reflect.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Reflection

#14446 fix examples after the switch for msaa to a component
  examples/3d/ssao.rs
  examples/3d/transparency_3d.rs
Labels: D-Trivial, A-Rendering, C-Examples, S-Ready-For-Final-Review

#14459 Require `&mut self` for `World::increment_change_tick`
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
Labels: A-ECS, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change

#14457 Add BorderRadius field to ImageBundle
  crates/bevy_ui/src/node_bundles.rs
Labels: A-UI, C-Usability, S-Ready-For-Final-Review

#13014 Dedicated `Reflect` implementation for `Set`-like things
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/serde/de.rs
  crates/bevy_reflect/src/serde/ser.rs
  crates/bevy_reflect/src/set.rs
  crates/bevy_reflect/src/type_info.rs
  examples/reflection/reflection_types.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, C-Needs-Release-Note, D-Modest

#14477 remove check-cfg job
  .github/workflows/ci.yml
Labels: A-Build-System, S-Ready-For-Final-Review

#14468 Fix hue mixing for `Lcha` and `Oklcha`
  crates/bevy_color/src/lcha.rs
  crates/bevy_color/src/oklcha.rs
Labels: C-Bug, S-Needs-Review, A-Color

#14478 Conversions for Isometry3d ⟷ Transform/GlobalTransform
  crates/bevy_transform/src/components/global_transform.rs
  crates/bevy_transform/src/components/transform.rs
  crates/bevy_transform/src/traits.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Transform, A-Math, D-Straightforward

#14481 Don’t prepare 2D view bind groups for 3D cameras
  crates/bevy_sprite/src/mesh2d/mesh.rs
Labels: C-Bug, A-Rendering, C-Performance, S-Ready-For-Final-Review

#14479 `ptr`: allow `Ptr` and `PtrMut` construction for references to values of `?Sized` types
  crates/bevy_ptr/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Pointers, D-Straightforward, D-Unsafe

#14439 Remove `#[cfg]` from the `From` impls of `TextSection`
  crates/bevy_text/src/text.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#14482 Made ViewUniform fields public
  crates/bevy_render/src/view/mod.rs
Labels: D-Trivial, A-Rendering, C-Usability, S-Ready-For-Final-Review

#14486 Fix `bevy_gltf` PBR features not enabling corresponding `bevy_pbr` flags
  crates/bevy_gltf/Cargo.toml
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review
