Repository bevyengine/bevy, pull requests merged in 2024-09, with the labels that each got.

#15003 Optimize UI text measurement
  crates/bevy_text/src/pipeline.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/layout/ui_surface.rs
  crates/bevy_ui/src/measurement.rs
  crates/bevy_ui/src/widget/text.rs
Labels: C-Performance, A-UI, S-Ready-For-Final-Review, A-Text

#14985 Interpolate `WorldQuery` path in docs of generated types
  crates/bevy_ecs/macros/src/query_data.rs
  crates/bevy_ecs/macros/src/query_filter.rs
  crates/bevy_ecs/macros/src/world_query.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#14663 Adds `ShaderStorageBuffer` asset
  Cargo.toml
  assets/shaders/storage_buffer.wgsl
  crates/bevy_render/macros/src/as_bind_group.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/render_resource/bind_group.rs
  crates/bevy_render/src/storage.rs
  examples/README.md
  examples/shader/storage_buffer.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review

#14947 Resolve UI outlines using the correct target's viewport size
  crates/bevy_ui/src/accessibility.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/ui_node.rs
  tests/ecs/ambiguity_detection.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#14991 Use cosmic-text shaping buffer
  crates/bevy_text/Cargo.toml
Labels: C-Performance, S-Ready-For-Final-Review, A-Text, D-Straightforward

#14997 Reuse TextLayoutInfo in queue_text
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_ui/src/widget/text.rs
Labels: C-Performance, S-Ready-For-Final-Review, A-Text, D-Straightforward

#14999 Don't reallocate scale factors in measure_text_system
  crates/bevy_ui/src/widget/text.rs
Labels: C-Performance, S-Ready-For-Final-Review, A-Text

#15012 Avoid reallocating spans buffer in TextPipeline
  crates/bevy_text/src/pipeline.rs
Labels: C-Performance, A-UI, S-Ready-For-Final-Review, A-Text

#15013 Implement animation masks, allowing fine control of the targets that animations affect.
  Cargo.toml
  assets/animation_graphs/Fox.animgraph.ron
  crates/bevy_animation/src/graph.rs
  crates/bevy_animation/src/lib.rs
  examples/README.md
  examples/animation/animation_masks.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Animation, C-Breaking-Change, C-Needs-Release-Note, X-Uncontroversial

#14982 Reflect `SmolStr`'s `De/Serialize` implementation
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/impls/smol_str.rs
Labels: C-Enhancement, D-Trivial, S-Ready-For-Final-Review, A-Reflection, X-Uncontroversial, D-Macros

#15001 Reduce allocations in ui_layout_system
  crates/bevy_ui/src/layout/mod.rs
Labels: C-Performance, A-UI, S-Ready-For-Final-Review, D-Straightforward

#15009 Fix `with_child` not inserting `Parent` component
  crates/bevy_hierarchy/src/child_builder.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Hierarchy, D-Straightforward

#15020 Extract borders without border radius
  crates/bevy_ui/src/render/mod.rs
Labels: D-Trivial, A-Rendering, A-UI, S-Ready-For-Final-Review

#15017 Fix some examples having different instruction text positions
  examples/3d/anisotropy.rs
  examples/3d/auto_exposure.rs
  examples/3d/color_grading.rs
  examples/animation/animation_masks.rs
  examples/picking/simple_picking.rs
Labels: C-Examples, A-Text

#15016 Cosmetic improvements for `text_input` example
  examples/input/text_input.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Text

#14990 UI texture atlas slice shader
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_texture_slice.wgsl
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
  crates/bevy_ui/src/texture_slice.rs
  tests/ecs/ambiguity_detection.rs
Labels: C-Bug, A-Rendering, C-Performance, A-UI, S-Ready-For-Final-Review

#14976 Color gradient curve
  crates/bevy_color/src/color_gradient.rs
  crates/bevy_color/src/color_range.rs
  crates/bevy_color/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Contentious, D-Modest, A-Color

#15022 Utilise new method for 2d circle example.
  examples/2d/2d_shapes.rs
Labels: C-Examples, C-Code-Quality, S-Ready-For-Final-Review, A-Gizmos

#14984 Updated `LogPlugin` Documentation with Performance Warning
  crates/bevy_log/src/lib.rs
Labels: C-Docs, D-Trivial, A-Rendering, C-Performance, S-Ready-For-Final-Review, A-Diagnostics, X-Uncontroversial

#15024 Bump crate-ci/typos from 1.24.1 to 1.24.3
  .github/workflows/ci.yml
  crates/bevy_ecs/src/query/builder.rs
Labels: A-Build-System, C-Dependencies, S-Ready-For-Final-Review

#14989 Return `Result`s from `Camera`'s world/viewport conversion methods
  crates/bevy_dev_tools/src/ui_debug_overlay/inset.rs
  crates/bevy_picking/src/backend.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_sprite/src/picking_backend.rs
  crates/bevy_ui/src/accessibility.rs
  examples/2d/2d_viewport_to_world.rs
  examples/3d/3d_viewport_to_world.rs
  examples/3d/irradiance_volumes.rs
  examples/ecs/observers.rs
  examples/games/desk_toy.rs
  examples/math/cubic_splines.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#15031 Remove all existing system order ambiguities in `DefaultPlugins`
  crates/bevy_animation/src/lib.rs
  crates/bevy_app/src/terminal_ctrl_c_handler.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_dev_tools/src/ci_testing/mod.rs
  crates/bevy_gizmos/src/aabb.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_internal/src/default_plugins.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_render/src/view/visibility/mod.rs
  crates/bevy_ui/src/lib.rs
  tests/ecs/ambiguity_detection.rs
Labels: C-Bug, C-Code-Quality, S-Ready-For-Final-Review, A-Cross-Cutting

#15033 style: simplify string formatting for readability
  examples/3d/anti_aliasing.rs
  examples/3d/color_grading.rs
  examples/3d/irradiance_volumes.rs
  examples/app/headless_renderer.rs
  examples/ecs/component_hooks.rs
  examples/ecs/dynamic.rs
  examples/ecs/send_and_receive_events.rs
  examples/games/stepping.rs
  examples/math/cubic_splines.rs
  examples/stress_tests/many_cubes.rs
  examples/time/time.rs
  tests/ecs/ambiguity_detection.rs
Labels: D-Trivial, C-Examples, C-Code-Quality, S-Ready-For-Final-Review, D-Domain-Agnostic

#15034 UI texture slice texture flipping reimplementation
  Cargo.toml
  assets/textures/fantasy_ui_borders/numbered_slices.png
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
  examples/README.md
  examples/ui/ui_texture_slice_flip_and_tile.rs
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review

#14862 Picking event ordering
  crates/bevy_picking/Cargo.toml
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/focus.rs
  crates/bevy_picking/src/input.rs
  crates/bevy_picking/src/input/mod.rs
  crates/bevy_picking/src/input/mouse.rs
  crates/bevy_picking/src/input/touch.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_picking/src/pointer.rs
  crates/bevy_window/Cargo.toml
  crates/bevy_window/src/event.rs
  crates/bevy_window/src/lib.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
  crates/bevy_winit/src/winit_event.rs
Labels: C-Bug, A-Input, A-Windowing, S-Ready-For-Final-Review, C-Breaking-Change, A-Picking

#15018 UI outlines radius
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/ui_node.rs
Labels: C-Bug, C-Enhancement, A-Rendering, A-UI, S-Ready-For-Final-Review, D-Straightforward

#15054 Revert accidentally added asset docs
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/saver.rs
  crates/bevy_asset/src/server/mod.rs
Labels: D-Trivial, P-High, A-Meta, S-Ready-For-Final-Review

#15050 `Node::is_empty`
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/ui_node.rs
Labels: D-Trivial, A-UI, C-Code-Quality, S-Ready-For-Final-Review

#15053 Fix `bevy_ui` compile error when `bevy_picking` feature is disabled
  crates/bevy_ui/src/focus.rs
  crates/bevy_ui/src/picking_backend.rs
Labels: A-UI, S-Ready-For-Final-Review, P-Compile-Failure, A-Picking

#15064 fix imports in example ui_texture_slice_flip_and_tile
  examples/ui/ui_texture_slice_flip_and_tile.rs
Labels: C-Examples, S-Ready-For-Final-Review

#15096 Fix comment in example
  examples/ecs/hierarchy.rs
Labels: C-Docs, D-Trivial, C-Examples, S-Ready-For-Final-Review

#15078 Register reflect type `CursorIcon`
  crates/bevy_render/src/view/window/cursor.rs
  crates/bevy_render/src/view/window/mod.rs
Labels: A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#15080 Unify crate-level preludes
  crates/bevy_animation/src/lib.rs
  crates/bevy_app/src/lib.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_audio/src/lib.rs
  crates/bevy_color/src/lib.rs
  crates/bevy_core/src/lib.rs
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gltf/src/lib.rs
  crates/bevy_hierarchy/src/lib.rs
  crates/bevy_input/src/lib.rs
  crates/bevy_log/src/lib.rs
  crates/bevy_math/src/lib.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_picking/src/backend.rs
  crates/bevy_picking/src/input.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_scene/src/lib.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_state/src/lib.rs
  crates/bevy_tasks/src/lib.rs
  crates/bevy_text/src/lib.rs
  crates/bevy_time/src/lib.rs
  crates/bevy_transform/src/lib.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_utils/src/lib.rs
  crates/bevy_window/src/lib.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Cross-Cutting

#15082 Fix error link
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review

#15063 remove cfg-check in ci tool
  tools/ci/src/ci.rs
  tools/ci/src/commands/cfg_check.rs
  tools/ci/src/commands/mod.rs
Labels: A-Build-System, S-Ready-For-Final-Review

#15023 More triangles/vertices per meshlet
  Cargo.toml
  crates/bevy_pbr/src/meshlet/from_mesh.rs
  crates/bevy_pbr/src/meshlet/resolve_render_targets.wgsl
  crates/bevy_pbr/src/meshlet/resource_manager.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_hardware_raster.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_resolve.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_software_raster.wgsl
  examples/3d/meshlet.rs
Labels: C-Bug, A-Rendering, C-Performance, S-Ready-For-Final-Review

#15107 bevy_reflect: Refactor `serde` module
  crates/bevy_reflect/src/serde/de.rs
  crates/bevy_reflect/src/serde/de/arrays.rs
  crates/bevy_reflect/src/serde/de/deserializer.rs
  crates/bevy_reflect/src/serde/de/enums.rs
  crates/bevy_reflect/src/serde/de/helpers.rs
  crates/bevy_reflect/src/serde/de/lists.rs
  crates/bevy_reflect/src/serde/de/maps.rs
  crates/bevy_reflect/src/serde/de/mod.rs
  crates/bevy_reflect/src/serde/de/options.rs
  crates/bevy_reflect/src/serde/de/registration_utils.rs
  crates/bevy_reflect/src/serde/de/registrations.rs
  crates/bevy_reflect/src/serde/de/sets.rs
  crates/bevy_reflect/src/serde/de/struct_utils.rs
  crates/bevy_reflect/src/serde/de/structs.rs
  crates/bevy_reflect/src/serde/de/tuple_structs.rs
  crates/bevy_reflect/src/serde/de/tuple_utils.rs
  crates/bevy_reflect/src/serde/de/tuples.rs
  crates/bevy_reflect/src/serde/ser.rs
  crates/bevy_reflect/src/serde/ser/arrays.rs
  crates/bevy_reflect/src/serde/ser/enums.rs
  crates/bevy_reflect/src/serde/ser/lists.rs
  crates/bevy_reflect/src/serde/ser/maps.rs
  crates/bevy_reflect/src/serde/ser/mod.rs
  crates/bevy_reflect/src/serde/ser/serializable.rs
  crates/bevy_reflect/src/serde/ser/serializer.rs
  crates/bevy_reflect/src/serde/ser/sets.rs
  crates/bevy_reflect/src/serde/ser/structs.rs
  crates/bevy_reflect/src/serde/ser/tuple_structs.rs
  crates/bevy_reflect/src/serde/ser/tuples.rs
Labels: C-Code-Quality, P-High, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change, D-Straightforward

#13871 Replaced implicit emissive weight with default.
  crates/bevy_pbr/src/deferred/pbr_deferred_functions.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change

#14790 Make QueryFilter an unsafe trait
  crates/bevy_ecs/macros/src/query_filter.rs
  crates/bevy_ecs/src/query/filter.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, P-Unsound, D-Unsafe

#15039 Remove remnant `EntityHash` and related types from `bevy_utils`
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/view/visibility/range.rs
  crates/bevy_utils/src/lib.rs
  examples/2d/mesh2d_manual.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, A-Utils

#15044 Add convenience methods for constructing and setting storage buffer data
  crates/bevy_render/src/storage.rs
  examples/shader/storage_buffer.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review

#15047 Sorts the scene entries by path before serializing.
  crates/bevy_scene/src/serde.rs
Labels: S-Ready-For-Final-Review, A-Scenes, D-Straightforward

#15057 Add basic docs to AssetMode
  crates/bevy_asset/src/lib.rs
Labels: C-Docs, A-Assets, S-Ready-For-Final-Review, D-Straightforward

#15062 Remove deprecated `SpriteSheetBundle` and `AtlasImageBundle`
  crates/bevy_sprite/src/bundle.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_ui/src/node_bundles.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review

#15065 Simplify `pick_rounded_rect`
  crates/bevy_ui/src/focus.rs
Labels: C-Performance, A-UI, C-Code-Quality, S-Ready-For-Final-Review, A-Math, D-Straightforward

#15071 Fix `AsBindGroup` sampler validation.
  crates/bevy_render/macros/src/as_bind_group.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#15073 Split OrthographicProjection::default into 2d & 3d (Adopted)
  crates/bevy_core_pipeline/src/core_2d/camera_2d.rs
  crates/bevy_dev_tools/src/ui_debug_overlay/mod.rs
  crates/bevy_gltf/src/loader.rs
  crates/bevy_render/src/camera/projection.rs
  examples/3d/orthographic.rs
  examples/3d/pbr.rs
  examples/stress_tests/many_lights.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15083 Add set_state extension method to Commands
  crates/bevy_state/src/commands.rs
  crates/bevy_state/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, X-Contentious, D-Straightforward, A-States

#15090 Deprecate `LoadAndSave` Asset Processor
  crates/bevy_asset/src/processor/process.rs
  crates/bevy_asset/src/transformer.rs
  crates/bevy_render/src/texture/mod.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15091 Add common aspect ratio constants and improve documentation
  crates/bevy_core_pipeline/src/bloom/settings.rs
  crates/bevy_math/src/aspect_ratio.rs
  crates/bevy_pbr/src/cluster/mod.rs
  crates/bevy_render/src/camera/projection.rs
  crates/bevy_render/src/texture/image.rs
Labels: C-Docs, A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#15093 bevy_pbr: Make choosing of diffuse indirect lighting explicit.
  crates/bevy_pbr/src/render/pbr_functions.wgsl
Labels: A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward, D-Shaders

#15095 Add rect field to UI image
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
  crates/bevy_ui/src/ui_node.rs
Labels: C-Enhancement, A-Rendering, A-UI, S-Ready-For-Final-Review, D-Straightforward

#15104 Retrieve the `stack_index` from `Node` in `extract_ui_material_nodes` instead of walking `UiStack`
  crates/bevy_ui/src/render/ui_material_pipeline.rs
Labels: A-Rendering, C-Performance, A-UI, S-Ready-For-Final-Review

#15040 Use associated type bounds for `iter_many` and friends
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/system/query.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#15066 Add `observer` to `Trigger`
  crates/bevy_ecs/src/observer/mod.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, X-Contentious

#15089 EntityRef/Mut get_components (immutable variants only)
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
  examples/ecs/dynamic.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change

#15110 bevy_reflect: Update `on_unimplemented` attributes
  crates/bevy_reflect/compile_fail/tests/reflect_derive/generics_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_remote/nested_fail.rs
  crates/bevy_reflect/src/from_reflect.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/path/mod.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/type_path.rs
  crates/bevy_reflect/src/type_registry.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Reflection

#15085 Add state scoped events
  crates/bevy_state/src/lib.rs
  crates/bevy_state/src/state_scoped_events.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-App, C-Needs-Release-Note, D-Modest, A-States

#15120 Add a border to the UI material example
  assets/shaders/custom_ui_material.wgsl
  examples/ui/ui_material.rs
Labels: A-Rendering, C-Examples, A-UI, S-Ready-For-Final-Review, D-Shaders

#15094 Fix screenshot example
  crates/bevy_render/src/view/window/cursor.rs
  examples/window/screenshot.rs
Labels: C-Bug, A-Rendering, C-Examples, A-Windowing, S-Ready-For-Final-Review, D-Straightforward

#15117 honour NoFrustumCulling for shadows
  crates/bevy_pbr/src/light/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#15123 Fix Welcome Contributors CI
  .github/workflows/welcome.yml
Labels: C-Bug, A-Build-System, S-Ready-For-Final-Review

#13888 bevy_reflect: Contextual serialization error messages
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/serde/de/arrays.rs
  crates/bevy_reflect/src/serde/de/deserializer.rs
  crates/bevy_reflect/src/serde/de/enums.rs
  crates/bevy_reflect/src/serde/de/error_utils.rs
  crates/bevy_reflect/src/serde/de/lists.rs
  crates/bevy_reflect/src/serde/de/maps.rs
  crates/bevy_reflect/src/serde/de/mod.rs
  crates/bevy_reflect/src/serde/de/options.rs
  crates/bevy_reflect/src/serde/de/registration_utils.rs
  crates/bevy_reflect/src/serde/de/registrations.rs
  crates/bevy_reflect/src/serde/de/sets.rs
  crates/bevy_reflect/src/serde/de/struct_utils.rs
  crates/bevy_reflect/src/serde/de/tuple_utils.rs
  crates/bevy_reflect/src/serde/mod.rs
  crates/bevy_reflect/src/serde/ser/arrays.rs
  crates/bevy_reflect/src/serde/ser/enums.rs
  crates/bevy_reflect/src/serde/ser/error_utils.rs
  crates/bevy_reflect/src/serde/ser/lists.rs
  crates/bevy_reflect/src/serde/ser/maps.rs
  crates/bevy_reflect/src/serde/ser/mod.rs
  crates/bevy_reflect/src/serde/ser/serializable.rs
  crates/bevy_reflect/src/serde/ser/serializer.rs
  crates/bevy_reflect/src/serde/ser/sets.rs
  crates/bevy_reflect/src/serde/ser/structs.rs
  crates/bevy_reflect/src/serde/ser/tuple_structs.rs
  crates/bevy_reflect/src/serde/ser/tuples.rs
  crates/bevy_reflect/src/type_info_stack.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#15075 Remove OrthographicProjection.scale (adopted)
  crates/bevy_gltf/src/loader.rs
  crates/bevy_render/src/camera/projection.rs
  examples/2d/pixel_grid_snap.rs
  examples/3d/pbr.rs
  examples/math/custom_primitives.rs
  examples/stress_tests/many_lights.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15128 Enhance ReflectCommandExt
  crates/bevy_ecs/src/reflect/entity_commands.rs
Labels: A-ECS, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#15092 Add examples for orthographic and perspective zoom
  Cargo.toml
  examples/README.md
  examples/camera/projection_zoom.rs
Labels: C-Docs, A-Rendering, C-Examples, S-Waiting-on-Author

#15126 Remove `ReceivedCharacter`
  crates/bevy_window/src/event.rs
  crates/bevy_window/src/lib.rs
  crates/bevy_window/src/window.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
Labels: A-Input, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change

#15035 Rename rendering components for improved consistency and clarity
  crates/bevy_core_pipeline/src/auto_exposure/buffers.rs
  crates/bevy_core_pipeline/src/auto_exposure/mod.rs
  crates/bevy_core_pipeline/src/auto_exposure/pipeline.rs
  crates/bevy_core_pipeline/src/auto_exposure/settings.rs
  crates/bevy_core_pipeline/src/bloom/downsampling_pipeline.rs
  crates/bevy_core_pipeline/src/bloom/mod.rs
  crates/bevy_core_pipeline/src/bloom/settings.rs
  crates/bevy_core_pipeline/src/bloom/upsampling_pipeline.rs
  crates/bevy_core_pipeline/src/contrast_adaptive_sharpening/mod.rs
  crates/bevy_core_pipeline/src/dof/dof.wgsl
  crates/bevy_core_pipeline/src/dof/mod.rs
  crates/bevy_core_pipeline/src/fxaa/mod.rs
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/motion_blur/node.rs
  crates/bevy_core_pipeline/src/smaa/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/fog.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/meshlet/material_pipeline_prepare.rs
  crates/bevy_pbr/src/render/fog.rs
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/ssr/mod.rs
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
  examples/2d/bloom_2d.rs
  examples/3d/anti_aliasing.rs
  examples/3d/atmospheric_fog.rs
  examples/3d/auto_exposure.rs
  examples/3d/bloom_3d.rs
  examples/3d/color_grading.rs
  examples/3d/deferred_rendering.rs
  examples/3d/depth_of_field.rs
  examples/3d/fog.rs
  examples/3d/fog_volumes.rs
  examples/3d/motion_blur.rs
  examples/3d/post_processing.rs
  examples/3d/scrolling_fog.rs
  examples/3d/ssao.rs
  examples/3d/ssr.rs
  examples/3d/tonemapping.rs
  examples/3d/transmission.rs
  examples/3d/volumetric_fog.rs
  examples/camera/2d_top_down_camera.rs
  examples/math/sampling_primitives.rs
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Contentious

#15109 Improve first person camera in example
  examples/camera/first_person_view_model.rs
Labels: C-Examples, S-Ready-For-Final-Review, D-Straightforward

#15146 fix spelling mistake
  crates/bevy_ui/src/layout/mod.rs
Labels: D-Trivial

#15037 Trim cosmic-text's shape run cache
  crates/bevy_text/src/lib.rs
  crates/bevy_text/src/pipeline.rs
  examples/ui/text_debug.rs
Labels: C-Performance, S-Ready-For-Final-Review, A-Text

#15147 bevy_reflect: Mention `FunctionRegistry` in `bevy_reflect::func` docs
  crates/bevy_reflect/src/func/mod.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Reflection

#15135 Split zoom/orbit into separate examples
  Cargo.toml
  examples/README.md
  examples/camera/camera_orbit.rs
  examples/camera/projection_zoom.rs
Labels: A-Rendering, C-Examples, A-Input, S-Ready-For-Final-Review

#15153 Fix "game_menu" example buttons not changing color on Interaction
  examples/games/game_menu.rs
Labels: D-Trivial, C-Examples, S-Ready-For-Final-Review

#15151 Removed Type Parameters from `Observer`
  crates/bevy_ecs/src/observer/runner.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change, X-Contentious, D-Modest, D-Unsafe

#15152 Finish enhancing `ReflectCommandExt` to work with Bundles
  crates/bevy_ecs/src/reflect/entity_commands.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Reflection

#15157 Fix typo in bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/reflect.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#15155 Fix mesh 2d non indexed draw.
  crates/bevy_sprite/src/mesh2d/mesh.rs
  examples/shader/shader_instancing.rs
Labels: D-Trivial, A-Rendering, S-Ready-For-Final-Review, C-Regression

#14948 `TrackedRenderPass` internal tracking state reset
  crates/bevy_render/src/render_phase/draw_state.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#15150 Optimize observer unregistration
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/observer/mod.rs
Labels: A-ECS, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#15181 2580 Split examples PR feedback
  Cargo.toml
  examples/camera/camera_orbit.rs
Labels: C-Examples, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#15173 Remove border radius scaling
  crates/bevy_ui/src/render/mod.rs
Labels: C-Bug, D-Trivial, A-UI, S-Ready-For-Final-Review

#15108 bevy_reflect: Add `DynamicTyped` trait
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/serde/ser/serializable.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/utility.rs
  examples/reflection/type_data.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change, D-Straightforward

#15180 ParsedPath::try_from<&str>
  crates/bevy_reflect/src/path/mod.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection

#15192 Reflected traits for resources and components: bevy_a11y
  crates/bevy_a11y/src/lib.rs
Labels: A-Accessibility, C-Usability, S-Ready-For-Final-Review, A-Reflection

#15191 Fix `Capsule2d::sample_interior`
  crates/bevy_math/src/sampling/shape_sampling.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#15178 Added ordering information to observer tests (#14332)
  crates/bevy_ecs/src/observer/mod.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#14986 Improve schedule note of .after/.before & encourage to use .chain ins…
  crates/bevy_ecs/src/schedule/config.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#15209 Reflect derived traits on all components and resources: bevy_animation
  crates/bevy_animation/src/lib.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Animation, A-Reflection

#15211 Reflect derived traits on all components and resources: bevy_audio
  crates/bevy_audio/src/audio.rs
Labels: C-Bug, A-Audio, S-Ready-For-Final-Review, A-Reflection

#15216 Example for bevy_ecs::event::Events uses deprecated function get_reader
  crates/bevy_ecs/src/event/collections.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#15174 Use `FromReflect` when extracting entities in dynamic scenes
  crates/bevy_reflect/src/impls/glam.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_scene/src/dynamic_scene_builder.rs
  crates/bevy_scene/src/serde.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Reflection, A-Scenes, C-Breaking-Change

#15210 explicitly mention `component` in methods on `DynamicSceneBuilder`
  crates/bevy_scene/src/dynamic_scene_builder.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Scenes, C-Breaking-Change, D-Straightforward

#15220 Reflect derived traits on all components and resources: bevy_input
  crates/bevy_input/src/button_input.rs
  crates/bevy_input/src/gamepad.rs
Labels: S-Ready-For-Final-Review

#15221 Use of deprecated function in example for ButtonInput
  crates/bevy_input/src/button_input.rs
Labels: C-Docs, A-Input, S-Ready-For-Final-Review

#15222 add `allow_all` and `deny_all` methods to `DynamicSceneBuilder`
  crates/bevy_scene/src/dynamic_scene_builder.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Scenes

#10846 Substitute trivial fallible conversions with infallible function calls
  crates/bevy_ecs/src/entity/mod.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#12929 Remove redundent information and optimize dynamic allocations in `Table`
  .gitignore
  benches/benches/bevy_ecs/components/add_remove_very_big_table.rs
  benches/benches/bevy_ecs/components/mod.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/mod.rs
  crates/bevy_ecs/src/storage/blob_array.rs
  crates/bevy_ecs/src/storage/blob_vec.rs
  crates/bevy_ecs/src/storage/mod.rs
  crates/bevy_ecs/src/storage/table.rs
  crates/bevy_ecs/src/storage/table/column.rs
  crates/bevy_ecs/src/storage/table/mod.rs
  crates/bevy_ecs/src/storage/thin_array_ptr.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
  crates/bevy_ptr/src/lib.rs
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review, D-Complex, D-Unsafe

#14560 Fix `MeshAllocator` panic
  crates/bevy_render/src/mesh/allocator.rs
Labels: C-Bug, A-Rendering, P-Crash, S-Ready-For-Final-Review

#15103 Improve type inference in `DynSystemParam::downcast()` by making the type parameter match the return value.
  crates/bevy_ecs/src/system/system_param.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#15166 Add missing insert API commands
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#15169 Rotation api extension
  crates/bevy_math/src/rotation2d.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#15170 Enable/disable UI anti-aliasing
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/pipeline.rs
  crates/bevy_ui/src/render/ui.wgsl
  crates/bevy_ui/src/ui_node.rs
Labels: C-Enhancement, A-Rendering, A-UI, S-Ready-For-Final-Review, C-Needs-Release-Note

#15177 Increase border_rect for TextureSlicer to match image
  examples/ui/ui_texture_atlas_slice.rs
Labels: C-Bug, D-Trivial, C-Examples, A-UI, S-Ready-For-Final-Review

#15190 Fixing text sizes for examples
  examples/2d/text2d.rs
  examples/2d/texture_atlas.rs
  examples/3d/color_grading.rs
  examples/3d/load_gltf_extras.rs
  examples/3d/pbr.rs
  examples/asset/multi_asset_sync.rs
  examples/camera/first_person_view_model.rs
  examples/dev_tools/fps_overlay.rs
  examples/games/alien_cake_addict.rs
  examples/games/breakout.rs
  examples/games/desk_toy.rs
  examples/games/game_menu.rs
  examples/games/loading_screen.rs
  examples/games/stepping.rs
  examples/scene/scene.rs
  examples/state/computed_states.rs
  examples/state/custom_transitions.rs
  examples/state/states.rs
  examples/state/sub_states.rs
  examples/time/virtual_time.rs
  examples/tools/gamepad_viewer.rs
  examples/ui/button.rs
  examples/ui/font_atlas_debug.rs
  examples/ui/grid.rs
  examples/ui/overflow_debug.rs
  examples/ui/relative_cursor_position.rs
  examples/ui/size_constraints.rs
  examples/ui/text.rs
  examples/ui/text_debug.rs
  examples/ui/text_wrap_debug.rs
  examples/ui/transparency_ui.rs
  examples/ui/ui.rs
  examples/ui/ui_scaling.rs
  examples/ui/ui_texture_atlas_slice.rs
  examples/ui/ui_texture_slice.rs
  examples/ui/window_fallthrough.rs
  examples/window/scale_factor_override.rs
  examples/window/window_resizing.rs
Labels: C-Bug, C-Examples, S-Ready-For-Final-Review, A-Text

#15196 Rename push children to add children
  crates/bevy_hierarchy/src/child_builder.rs
  crates/bevy_hierarchy/src/query_extension.rs
  crates/bevy_render/src/view/visibility/mod.rs
  crates/bevy_scene/src/dynamic_scene.rs
  crates/bevy_scene/src/scene_spawner.rs
  crates/bevy_transform/src/commands.rs
  crates/bevy_transform/src/systems.rs
  examples/animation/custom_skinned_mesh.rs
  examples/ui/borders.rs
  examples/ui/text_debug.rs
Labels: C-Docs, A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15232 Note on compiling on FreeBSD
  docs/linux_dependencies.md
Labels: C-Docs, S-Ready-For-Final-Review, O-BSD

#15247 Don't leak SEND resource, even if thread is panicking.
  crates/bevy_ecs/src/storage/resource.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, D-Straightforward, D-Domain-Agnostic

#15234 Rename Add to Queue for methods with deferred semantics
  benches/benches/bevy_ecs/world/commands.rs
  crates/bevy_ecs/src/event/writer.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/reflect/entity_commands.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/command_queue.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_hierarchy/src/child_builder.rs
  crates/bevy_hierarchy/src/hierarchy.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_state/src/commands.rs
  crates/bevy_state/src/state_scoped_events.rs
  crates/bevy_transform/src/commands.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#15207 Add `EntityRefExcept` and `EntityMutExcept` world queries, in preparation for generalized animation.
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/builder.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/mod.rs
  examples/ecs/dynamic.rs
Labels: C-Enhancement, A-ECS, C-Performance, S-Ready-For-Final-Review, C-Needs-Release-Note

#15246 Implement `enabled` flag for fps overlay
  crates/bevy_dev_tools/src/fps_overlay.rs
  examples/dev_tools/fps_overlay.rs
Labels: C-Examples, A-UI, S-Ready-For-Final-Review, D-Straightforward

#15259 Add `DynamicTyped` link to `TypeInfo` docs (#15188)
  crates/bevy_reflect/src/type_info.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Reflection

#15056 Add module and supporting documentation to `bevy_assets`
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/saver.rs
  crates/bevy_asset/src/server/mod.rs
Labels: C-Docs, A-Assets, S-Ready-For-Final-Review, C-Needs-Release-Note, D-Modest

#15058 Add basic docs explaining what asset processing is and where to look
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_asset/src/transformer.rs
Labels: C-Docs, A-Assets, S-Ready-For-Final-Review, D-Modest

#15267 Use `FloatOrd` for sprite Z comparison and ignore sprites with NaN
  crates/bevy_sprite/src/picking_backend.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Picking

#5772 bevy_reflect: Add `Reflectable` trait
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/reflectable.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/type_registry.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, C-Needs-Release-Note

#15284 Throw real error messages on all failed attempts to get `StateTransition` schedule
  crates/bevy_state/src/app.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-States

#15161 Enable `clippy::check-private-items` so that `missing_safety_doc` will apply to private functions as well
  clippy.toml
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/storage/blob_vec.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_utils/src/futures.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Unsafe

#15279 Allow `bevy_utils` in `no_std` Contexts
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/src/futures.rs
  crates/bevy_utils/src/lib.rs
  crates/bevy_utils/src/parallel_queue.rs
  crates/bevy_utils/src/short_names.rs
  crates/bevy_utils/src/synccell.rs
Labels: C-Enhancement, D-Trivial, S-Ready-For-Final-Review, A-Utils, X-Contentious

#13497 Implement percentage-closer soft shadows (PCSS).
  Cargo.toml
  assets/environment_maps/sky_skybox.ktx2
  assets/models/PalmTree/PalmTree.bin
  assets/models/PalmTree/PalmTree.gltf
  assets/models/PalmTree/StylizedWater.png
  crates/bevy_pbr/src/cluster/mod.rs
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/light/directional_light.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_pbr/src/light/point_light.rs
  crates/bevy_pbr/src/light/spot_light.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.wgsl
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/shadow_sampling.wgsl
  crates/bevy_pbr/src/render/shadows.wgsl
  examples/3d/pcss.rs
  examples/README.md
  examples/helpers/widgets.rs
  typos.toml
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note

#15274 command based entry api with `EntityCommands::entry`
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#15294 Remove allocation in `get_short_name`
  crates/bevy_asset/src/handle.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_hierarchy/src/valid_parent_check_plugin.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_utils/src/lib.rs
  crates/bevy_utils/src/short_names.rs
Labels: D-Trivial, C-Performance, S-Ready-For-Final-Review, C-Breaking-Change, A-Utils, X-Uncontroversial

#15304 Cleanup legacy code from bevy_sprite
  crates/bevy_sprite/src/sprite.rs
  crates/bevy_sprite/src/texture_atlas.rs
Labels: A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#15260 Added `HeadlessPlugins` (#15203)
  crates/bevy_dev_tools/src/ci_testing/mod.rs
  crates/bevy_internal/src/default_plugins.rs
  crates/bevy_internal/src/prelude.rs
  examples/app/headless.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-App, C-Needs-Release-Note

#15295 Fix memory leak in world's command queue
  crates/bevy_ecs/src/world/mod.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, D-Straightforward, D-Unsafe

#15309 Fix subtle/weird UB in the multi threaded executor
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
Labels: C-Bug, A-ECS, P-High, S-Ready-For-Final-Review, P-Unsound

#15237 AssetServer LoadState API consistency
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/server/info.rs
  crates/bevy_asset/src/server/mod.rs
Labels: C-Enhancement, A-Assets, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15315 simplify std::mem references
  Cargo.toml
  benches/benches/bevy_ecs/world/commands.rs
  crates/bevy_app/src/app.rs
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/storage/blob_vec.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_pbr/src/meshlet/meshlet_mesh_manager.rs
  crates/bevy_pbr/src/meshlet/persistent_buffer_impls.rs
  crates/bevy_pbr/src/meshlet/resource_manager.rs
  crates/bevy_pbr/src/render/mesh_bindings.rs
  crates/bevy_pbr/src/render/morph.rs
  crates/bevy_ptr/src/lib.rs
  crates/bevy_render/src/mesh/morph.rs
  crates/bevy_render/src/render_resource/buffer_vec.rs
  crates/bevy_render/src/view/visibility/mod.rs
  examples/ecs/dynamic.rs
  examples/shader/custom_phase_item.rs
  examples/shader/gpu_readback.rs
  examples/shader/shader_instancing.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15311 Remove int2ptr cast in `bevy_ptr::dangling_with_align` and remove `-Zmiri-permissive-provenance` in CI
  .github/workflows/ci.yml
  crates/bevy_ptr/src/lib.rs
Labels: S-Ready-For-Final-Review, P-Unsound, A-Pointers, D-Unsafe

#15266 Add ASCII art to custom mesh example (#15261)
  examples/3d/generate_custom_mesh.rs
Labels: C-Docs, A-Rendering, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#15333 Broaden "Check for bevy_internal imports" CI Task
  .github/workflows/ci.yml
  examples/2d/pixel_grid_snap.rs
  examples/3d/render_to_texture.rs
  examples/3d/scrolling_fog.rs
  examples/shader/storage_buffer.rs
  examples/ui/render_ui_to_texture.rs
  examples/window/screenshot.rs
  tests/ecs/ambiguity_detection.rs
Labels: A-Build-System, D-Straightforward, D-Domain-Agnostic, S-Needs-Review

#15168 Choose more descriptive field names for `ReserveEntitiesIterator`
  crates/bevy_ecs/src/entity/mod.rs
Labels: D-Trivial, A-ECS, C-Code-Quality

#15148 bevy_reflect: Add `FunctionRegistry::call`
  crates/bevy_reflect/src/func/registry.rs
Labels: D-Trivial, C-Usability, A-Reflection, S-Needs-Review

#15301 Allow to expect (adopted)
  Cargo.toml
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/plugin.rs
  crates/bevy_app/src/plugin_group.rs
  crates/bevy_asset/macros/src/lib.rs
  crates/bevy_asset/src/io/embedded/mod.rs
  crates/bevy_asset/src/io/source.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_asset/src/reflect.rs
  crates/bevy_asset/src/server/info.rs
  crates/bevy_asset/src/server/mod.rs
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/skybox/prepass.rs
  crates/bevy_derive/src/lib.rs
  crates/bevy_diagnostic/src/lib.rs
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/macros/src/query_data.rs
  crates/bevy_ecs/macros/src/world_query.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_encase_derive/src/lib.rs
  crates/bevy_log/src/lib.rs
  crates/bevy_mikktspace/src/lib.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_picking/src/backend.rs
  crates/bevy_ptr/src/lib.rs
  crates/bevy_reflect/derive/src/container_attributes.rs
  crates/bevy_reflect/derive/src/derive_data.rs
  crates/bevy_reflect/derive/src/reflect_value.rs
  crates/bevy_reflect/derive/src/registration.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_render/macros/src/lib.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_state/macros/src/lib.rs
  crates/bevy_tasks/src/single_threaded_task_pool.rs
  crates/bevy_tasks/src/task_pool.rs
  crates/bevy_time/src/lib.rs
  crates/bevy_transform/src/systems.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_utils/macros/src/lib.rs
  crates/bevy_utils/src/lib.rs
  crates/bevy_window/src/event.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Cross-Cutting, D-Straightforward

#15332 `RenderUiSystem::ExtractTextureSlice`
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review, D-Straightforward

#15337 Fix doc link import style to avoid unused_imports
  crates/bevy_asset/src/io/source.rs
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_asset/src/server/mod.rs
Labels: C-Docs, D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#15263 change return type of `World::resource_ref` to `Ref`
  crates/bevy_ecs/src/change_detection.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, S-Needs-Review

#15340 move ShortName to bevy_reflect
  crates/bevy_asset/src/handle.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_hierarchy/src/valid_parent_check_plugin.rs
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/short_name.rs
  crates/bevy_utils/src/lib.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change, A-Utils

#15298 Add sprite and mesh alteration examples
  Cargo.toml
  examples/README.md
  examples/asset/alter_mesh.rs
  examples/asset/alter_sprite.rs
Labels: A-Rendering, C-Examples, A-Assets, S-Ready-For-Final-Review

#15205 bevy_reflect: Add `Function` trait
  benches/benches/bevy_reflect/function.rs
  crates/bevy_reflect/src/func/dynamic_function.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/func/mod.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/serde/de/mod.rs
  crates/bevy_reflect/src/serde/ser/mod.rs
  crates/bevy_reflect/src/serde/ser/serializer.rs
  examples/reflection/reflection_types.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, D-Modest

#15352 Spirv passthrough main (adopted, part deux)
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/renderer/render_device.rs
  docs/cargo_features.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review

#15369 feature gate picking backends
  Cargo.toml
  crates/bevy_sprite/Cargo.toml
  crates/bevy_sprite/src/lib.rs
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/lib.rs
  docs/cargo_features.md
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Picking

#14894 Add World::trigger_ref and World::trigger_targets_ref
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/trigger_event.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#14920 Add cached `run_system` API
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_registry.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Contentious

#15235 bevy_reflect: Add `ReflectRef`/`ReflectMut`/`ReflectOwned` convenience casting methods
  crates/bevy_asset/src/reflect.rs
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/impls/smallvec.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/kind.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/set.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  examples/reflection/dynamic_types.rs
Labels: C-Code-Quality, C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#15276 Reduce runtime panics through `SystemParam` validation
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/src/schedule/condition.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/schedule/executor/simple.rs
  crates/bevy_ecs/src/schedule/executor/single_threaded.rs
  crates/bevy_ecs/src/system/adapter_system.rs
  crates/bevy_ecs/src/system/combinator.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_ecs/src/world/identifier.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_render/src/extract_param.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Blessed, D-Unsafe

#15145 bevy_reflect: Automatic arg count validation
  crates/bevy_reflect/src/func/dynamic_function.rs
  crates/bevy_reflect/src/func/dynamic_function_mut.rs
  examples/reflection/function_reflection.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Reflection

#15282 Allow animation clips to animate arbitrary properties.
  Cargo.toml
  crates/bevy_animation/Cargo.toml
  crates/bevy_animation/src/animatable.rs
  crates/bevy_animation/src/keyframes.rs
  crates/bevy_animation/src/lib.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_gltf/src/loader.rs
  crates/bevy_reflect/derive/src/impls/typed.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/type_registry.rs
  examples/README.md
  examples/animation/animated_transform.rs
  examples/animation/animated_ui.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Animation, A-Reflection, C-Needs-Release-Note, X-Blessed

#15291 UI Scrolling
  Cargo.toml
  crates/bevy_ui/src/layout/convert.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/node_bundles.rs
  crates/bevy_ui/src/ui_node.rs
  examples/README.md
  examples/ui/scroll.rs
  examples/ui/ui.rs
Labels: C-Enhancement, A-UI, S-Ready-For-Final-Review, C-Needs-Release-Note

#15347 bevy_reflect: Add dynamic type data access and iteration to `TypeRegistration`
  crates/bevy_reflect/src/type_registry.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Reflection
