Repository bevyengine/bevy, pull requests merged in 2024-05, with the labels that each got.

#13149 Add Reflect derive to Events and contained types
  crates/bevy_ecs/src/event.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Reflection

#13163 Add note on partial reviews
  CONTRIBUTING.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review

#13161 Add paragraph on requesting reviews
  CONTRIBUTING.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review

#13166 Add Testing section to the PR template
  .github/pull_request_template.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review

#13121 Implement filmic color grading.
  Cargo.toml
  assets/models/TonemappingTest/TestPattern.png
  assets/models/TonemappingTest/TonemappingTest.bin
  assets/models/TonemappingTest/TonemappingTest.gltf
  crates/bevy_core_pipeline/src/tonemapping/mod.rs
  crates/bevy_core_pipeline/src/tonemapping/tonemapping_shared.wgsl
  crates/bevy_pbr/src/render/clustered_forward.wgsl
  crates/bevy_pbr/src/render/shadows.wgsl
  crates/bevy_pbr/src/render/utils.wgsl
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/view/mod.rs
  crates/bevy_render/src/view/view.wgsl
  examples/3d/color_grading.rs
  examples/3d/tonemapping.rs
  examples/3d/transmission.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review

#13180 Fix CI error on new color grading example
  examples/3d/color_grading.rs
Labels: D-Trivial, A-Rendering, A-Build-System, C-Examples, S-Ready-For-Final-Review, P-Critical, X-Uncontroversial

#13182 Implement Reflect for Result<T, E> as enum
  crates/bevy_reflect/src/impls/std.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change

#12757 Update glam version requirement from 0.25 to 0.27
  benches/Cargo.toml
  crates/bevy_color/Cargo.toml
  crates/bevy_color/src/linear_rgba.rs
  crates/bevy_encase_derive/Cargo.toml
  crates/bevy_math/Cargo.toml
  crates/bevy_mikktspace/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/render_resource/uniform_buffer.rs
Labels: C-Dependencies, S-Ready-For-Final-Review, A-Math

#13184 Add `README.md` to all crates
  Cargo.toml
  crates/bevy_a11y/README.md
  crates/bevy_animation/README.md
  crates/bevy_asset/README.md
  crates/bevy_audio/README.md
  crates/bevy_color/README.md
  crates/bevy_core/README.md
  crates/bevy_core_pipeline/README.md
  crates/bevy_derive/README.md
  crates/bevy_dev_tools/README.md
  crates/bevy_diagnostic/README.md
  crates/bevy_dylib/README.md
  crates/bevy_dynamic_plugin/README.md
  crates/bevy_encase_derive/README.md
  crates/bevy_gilrs/README.md
  crates/bevy_gizmos/README.md
  crates/bevy_gltf/README.md
  crates/bevy_hierarchy/README.md
  crates/bevy_input/README.md
  crates/bevy_internal/README.md
  crates/bevy_log/README.md
  crates/bevy_macro_utils/README.md
  crates/bevy_math/README.md
  crates/bevy_pbr/README.md
  crates/bevy_ptr/README.md
  crates/bevy_reflect/Cargo.toml
  crates/bevy_render/README.md
  crates/bevy_scene/README.md
  crates/bevy_sprite/README.md
  crates/bevy_text/README.md
  crates/bevy_time/README.md
  crates/bevy_transform/README.md
  crates/bevy_ui/README.md
  crates/bevy_utils/README.md
  crates/bevy_window/README.md
  crates/bevy_winit/README.md
Labels: C-Docs, S-Ready-For-Final-Review, A-Cross-Cutting

#11426 Computed State & Sub States
  Cargo.toml
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/lib.rs
  crates/bevy_app/src/main_schedule.rs
  crates/bevy_app/src/sub_app.rs
  crates/bevy_ecs/macros/Cargo.toml
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/macros/src/states.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/state.rs
  examples/README.md
  examples/ecs/computed_states.rs
  examples/ecs/sub_states.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Blessed

#13088 Example setup for tooling
  Cargo.toml
  examples/3d/meshlet.rs
  tools/example-showcase/src/main.rs
Labels: A-Build-System, C-Examples, S-Ready-For-Final-Review

#13169 Use BindGroupLayoutEntryBuilder in texture_binding_array example
  crates/bevy_render/src/render_resource/bind_group_layout_entries.rs
  examples/shader/texture_binding_array.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#13154 new format for ci config file
  .github/example-run/alien_cake_addict.ron
  .github/example-run/breakout.ron
  .github/example-run/contributors.ron
  .github/example-run/load_gltf.ron
  .github/example-run/no_renderer.ron
  .github/example-run/scene.ron
  crates/bevy_dev_tools/src/ci_testing.rs
  tools/build-wasm-example/src/main.rs
  tools/example-showcase/src/main.rs
Labels: A-Build-System, S-Ready-For-Final-Review, C-Testing

#13151 Simplify winit runner exit code reporting
  crates/bevy_winit/src/lib.rs
Labels: A-Windowing, C-Code-Quality, S-Ready-For-Final-Review

#13162 Add a process for working groups
  CONTRIBUTING.md
Labels: C-Enhancement, A-Meta, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Blessed

#13199 Add BufferVec, an higher-performance alternative to StorageBuffer, and make GpuArrayBuffer use it.
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/morph.rs
  crates/bevy_pbr/src/render/skin.rs
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/render_resource/buffer_vec.rs
  crates/bevy_render/src/render_resource/gpu_array_buffer.rs
  crates/bevy_render/src/render_resource/storage_buffer.rs
  crates/bevy_render/src/render_resource/uniform_buffer.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, C-Breaking-Change, C-Needs-Release-Note

#13193 Schedule resource mutation
  crates/bevy_app/src/sub_app.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/schedule/state.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, X-Contentious, D-Modest

#13201 Make one-shot example more noob friendly
  examples/ecs/one_shot_systems.rs
Labels: A-ECS, C-Examples, S-Ready-For-Final-Review

#13188 Separate unrelated code to submodules in compute/sub-state examples
  examples/ecs/computed_states.rs
  examples/ecs/sub_states.rs
Labels: D-Trivial, A-ECS, C-Examples, S-Ready-For-Final-Review, X-Uncontroversial

#12792 Implement Auto Exposure plugin
  Cargo.toml
  assets/textures/basic_metering_mask.png
  crates/bevy_core_pipeline/Cargo.toml
  crates/bevy_core_pipeline/src/auto_exposure/auto_exposure.wgsl
  crates/bevy_core_pipeline/src/auto_exposure/buffers.rs
  crates/bevy_core_pipeline/src/auto_exposure/compensation_curve.rs
  crates/bevy_core_pipeline/src/auto_exposure/mod.rs
  crates/bevy_core_pipeline/src/auto_exposure/node.rs
  crates/bevy_core_pipeline/src/auto_exposure/pipeline.rs
  crates/bevy_core_pipeline/src/auto_exposure/settings.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/tonemapping/tonemapping_shared.wgsl
  crates/bevy_render/src/render_resource/bind_group_layout_entries.rs
  crates/bevy_render/src/render_resource/storage_buffer.rs
  crates/bevy_render/src/view/mod.rs
  examples/3d/auto_exposure.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review

#13205 Give alt text to Bevy logo
  src/lib.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, X-Uncontroversial, D-Domain-Agnostic

#13220 examples: Add `Dynamic Types` reflection example
  Cargo.toml
  examples/README.md
  examples/reflection/dynamic_types.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Reflection

#13209 move wgsl color operations from bevy_pbr to bevy_render
  assets/shaders/tonemapping_test_patterns.wgsl
  crates/bevy_core_pipeline/src/tonemapping/tonemapping_shared.wgsl
  crates/bevy_pbr/src/render/clustered_forward.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_lighting.wgsl
  crates/bevy_pbr/src/render/pbr_transmission.wgsl
  crates/bevy_pbr/src/render/shadow_sampling.wgsl
  crates/bevy_pbr/src/render/shadows.wgsl
  crates/bevy_pbr/src/render/utils.wgsl
  crates/bevy_pbr/src/ssao/gtao.wgsl
  crates/bevy_pbr/src/ssao/gtao_utils.wgsl
  crates/bevy_render/src/color_operations.wgsl
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/maths.wgsl
Labels: C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, A-Color

#13223 Re-export IntoDynamicImageError as public
  crates/bevy_render/src/lib.rs
Labels: D-Trivial, A-Rendering, C-Usability, S-Ready-For-Final-Review

#13125 Meshlet remove per-cluster data upload
  crates/bevy_pbr/src/meshlet/cull_meshlets.wgsl
  crates/bevy_pbr/src/meshlet/fill_cluster_buffers.wgsl
  crates/bevy_pbr/src/meshlet/gpu_scene.rs
  crates/bevy_pbr/src/meshlet/material_draw_nodes.rs
  crates/bevy_pbr/src/meshlet/meshlet_bindings.wgsl
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/meshlet/pipelines.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_raster.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_raster_node.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_resolve.wgsl
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#13243 Fix unfinished sentence in a comment in asset_settings example
  examples/asset/asset_settings.rs
Labels: D-Trivial, C-Examples, A-Assets, S-Ready-For-Final-Review

#13140 Doc custom CameraProjection requires use of plugin
  crates/bevy_render/src/camera/projection.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#13176 Example with repeated texture
  Cargo.toml
  assets/textures/fantasy_ui_borders/panel-border-010-repeated.png
  examples/README.md
  examples/asset/repeated_texture.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#13242 Only create changed buffer if it already exists
  crates/bevy_render/src/render_resource/buffer_vec.rs
  crates/bevy_render/src/render_resource/storage_buffer.rs
  crates/bevy_render/src/render_resource/uniform_buffer.rs
  crates/bevy_render/src/view/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13245 Update compile test to use ui_test 0.23
  Cargo.toml
  crates/bevy_derive/compile_fail/Cargo.toml
  crates/bevy_ecs/compile_fail/Cargo.toml
  crates/bevy_reflect/compile_fail/Cargo.toml
  tools/compile_fail_utils/Cargo.toml
  tools/compile_fail_utils/src/lib.rs
Labels: A-Build-System, C-Dependencies, S-Ready-For-Final-Review, X-Uncontroversial, D-Modest

#13233 Add `Annulus`-gizmos
  crates/bevy_gizmos/src/primitives/dim2.rs
  examples/math/render_primitives.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, A-Gizmos, X-Uncontroversial, D-Straightforward

#13031 Implement clearcoat per the Filament and the `KHR_materials_clearcoat` specifications.
  Cargo.toml
  assets/models/GolfBall/GolfBall.glb
  assets/shaders/array_texture.wgsl
  assets/textures/BlueNoise-Normal.png
  assets/textures/ScratchedGold-Normal.png
  crates/bevy_gltf/Cargo.toml
  crates/bevy_gltf/src/loader.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_pbr/Cargo.toml
  crates/bevy_pbr/src/light_probe/environment_map.wgsl
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/pbr_bindings.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_lighting.wgsl
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
  crates/bevy_pbr/src/render/pbr_types.wgsl
  docs/cargo_features.md
  examples/3d/clearcoat.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, X-Contentious

#13251 Modulate the emissive texture by the emissive color again.
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, C-Regression

#12997 multi_threaded feature rename
  Cargo.toml
  benches/Cargo.toml
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/src/io/file/mod.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/event.rs
  crates/bevy_ecs/src/query/par_iter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_internal/src/default_plugins.rs
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/render_resource/pipeline_cache.rs
  crates/bevy_tasks/Cargo.toml
  crates/bevy_tasks/src/lib.rs
  docs/cargo_features.md
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, A-Tasks, C-Breaking-Change

#13264 Use `Dir3` for local axis methods in `GlobalTransform`
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_transform/src/components/global_transform.rs
  examples/3d/3d_viewport_to_world.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Transform, A-Math, C-Breaking-Change

#13252 Remove bevy log's usage of non send resource
  crates/bevy_log/src/lib.rs
Labels: S-Ready-For-Final-Review

#13266 Extract mesh view layouts logic
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
Labels: A-Rendering, C-Code-Quality, X-Uncontroversial

#13269 Rename `bevy_reflect_derive` folder to `derive`
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/derive/Cargo.toml
  crates/bevy_reflect/derive/src/container_attributes.rs
  crates/bevy_reflect/derive/src/derive_data.rs
  crates/bevy_reflect/derive/src/documentation.rs
  crates/bevy_reflect/derive/src/enum_utility.rs
  crates/bevy_reflect/derive/src/field_attributes.rs
  crates/bevy_reflect/derive/src/from_reflect.rs
  crates/bevy_reflect/derive/src/impls/enums.rs
  crates/bevy_reflect/derive/src/impls/mod.rs
  crates/bevy_reflect/derive/src/impls/structs.rs
  crates/bevy_reflect/derive/src/impls/tuple_structs.rs
  crates/bevy_reflect/derive/src/impls/typed.rs
  crates/bevy_reflect/derive/src/impls/values.rs
  crates/bevy_reflect/derive/src/lib.rs
  crates/bevy_reflect/derive/src/reflect_value.rs
  crates/bevy_reflect/derive/src/registration.rs
  crates/bevy_reflect/derive/src/serialization.rs
  crates/bevy_reflect/derive/src/trait_reflection.rs
  crates/bevy_reflect/derive/src/type_path.rs
  crates/bevy_reflect/derive/src/utility.rs
  tools/publish.sh
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection, X-Contentious

#13270 Extrusion
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/primitives/mod.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, C-Needs-Release-Note, X-Contentious, D-Modest

#13177 Make `AssetMetaCheck` a field on the asset plugin
  crates/bevy_asset/src/lib.rs
Labels: A-Assets, C-Usability, C-Breaking-Change, X-Uncontroversial, D-Straightforward

#13210 Fix the WebGL 2 backend by giving the `visibility_ranges` array a fixed length.
  crates/bevy_pbr/src/render/mesh_functions.wgsl
  crates/bevy_pbr/src/render/mesh_view_bindings.wgsl
  crates/bevy_render/src/view/visibility/range.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#12982 Clean up 2d render phases
  crates/bevy_core_pipeline/src/bloom/mod.rs
  crates/bevy_core_pipeline/src/core_2d/main_transparent_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_core_pipeline/src/msaa_writeback.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_ui/src/render/mod.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change

#13278 Don't deploy docs when working on a fork
  .github/workflows/docs.yml
Labels: C-Docs, A-Build-System, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#12646 Finish the work on `try_apply`
  crates/bevy_reflect/derive/src/enum_utility.rs
  crates/bevy_reflect/derive/src/impls/enums.rs
  crates/bevy_reflect/derive/src/impls/structs.rs
  crates/bevy_reflect/derive/src/impls/tuple_structs.rs
  crates/bevy_reflect/derive/src/impls/values.rs
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/enums/enum_trait.rs
  crates/bevy_reflect/src/enums/mod.rs
  crates/bevy_reflect/src/impls/smallvec.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/type_path.rs
  crates/bevy_reflect/src/utility.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection

#13006 Headless renderer example has been added
  Cargo.toml
  examples/README.md
  examples/app/headless_renderer.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review, X-Uncontroversial, D-Modest

#13276 Add color conversions #13224
  crates/bevy_color/src/color_ops.rs
  crates/bevy_color/src/hsla.rs
  crates/bevy_color/src/hsva.rs
  crates/bevy_color/src/hwba.rs
  crates/bevy_color/src/laba.rs
  crates/bevy_color/src/lcha.rs
  crates/bevy_color/src/linear_rgba.rs
  crates/bevy_color/src/oklaba.rs
  crates/bevy_color/src/oklcha.rs
  crates/bevy_color/src/srgba.rs
  crates/bevy_color/src/xyza.rs
  crates/bevy_ecs/src/event.rs
  crates/bevy_pbr/src/render/fog.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Color

#13216 Separate state crate
  Cargo.toml
  crates/bevy_app/Cargo.toml
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/main_schedule.rs
  crates/bevy_app/src/sub_app.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/condition.rs
  crates/bevy_ecs/src/schedule/mod.rs
  crates/bevy_ecs/src/schedule/state.rs
  crates/bevy_input/src/button_input.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_internal/src/lib.rs
  crates/bevy_internal/src/prelude.rs
  crates/bevy_state/Cargo.toml
  crates/bevy_state/macros/Cargo.toml
  crates/bevy_state/macros/src/lib.rs
  crates/bevy_state/macros/src/states.rs
  crates/bevy_state/src/condition.rs
  crates/bevy_state/src/lib.rs
  crates/bevy_state/src/state/computed_states.rs
  crates/bevy_state/src/state/freely_mutable_state.rs
  crates/bevy_state/src/state/mod.rs
  crates/bevy_state/src/state/resources.rs
  crates/bevy_state/src/state/state_set.rs
  crates/bevy_state/src/state/states.rs
  crates/bevy_state/src/state/sub_states.rs
  crates/bevy_state/src/state/transitions.rs
  docs/cargo_features.md
  examples/README.md
  examples/state/computed_states.rs
  examples/state/state.rs
  examples/state/sub_states.rs
  tools/publish.sh
Labels: A-ECS, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Blessed, D-Modest

#13303 bevy_reflect: Remove `ContainerAttributes::merge`
  crates/bevy_reflect/derive/src/container_attributes.rs
  crates/bevy_reflect/derive/src/derive_data.rs
  crates/bevy_reflect/derive/src/reflect_value.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Reflection

#13305 Add `AXES` iterators for `Dir` types
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_math/src/direction.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#13291 bevy_core: Derive useful traits on FrameCount
  crates/bevy_core/Cargo.toml
  crates/bevy_core/src/lib.rs
  crates/bevy_core/src/serde.rs
Labels: C-Enhancement, A-Core, S-Ready-For-Final-Review, D-Straightforward

#13307 Remove `ClampColor`
  crates/bevy_animation/src/animatable.rs
  crates/bevy_color/src/color_ops.rs
  crates/bevy_color/src/hsla.rs
  crates/bevy_color/src/hsva.rs
  crates/bevy_color/src/hwba.rs
  crates/bevy_color/src/laba.rs
  crates/bevy_color/src/lcha.rs
  crates/bevy_color/src/linear_rgba.rs
  crates/bevy_color/src/oklaba.rs
  crates/bevy_color/src/oklcha.rs
  crates/bevy_color/src/srgba.rs
  crates/bevy_color/src/xyza.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Color

#13326 gizmos: take normal of normal on plane 3d before rotation
  crates/bevy_gizmos/src/primitives/dim3.rs
Labels: D-Trivial, C-Examples, A-Gizmos, X-Uncontroversial

#13271 Avoid bevy_reflect::List::iter wrapping in release mode
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/enum_trait.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Reflection, X-Uncontroversial, D-Straightforward

#13236 Ensure clean exit
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_window/src/event.rs
  crates/bevy_window/src/lib.rs
  crates/bevy_window/src/system.rs
  crates/bevy_window/src/window.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/system.rs
Labels: C-Bug, A-Windowing, O-MacOS, S-Ready-For-Final-Review, C-Regression

#13293 Add copy, clone, and debug derives to cubic spline structs
  crates/bevy_math/src/cubic_splines.rs
Labels: D-Trivial, C-Usability, A-Math, X-Uncontroversial

#13286 Fix `asset-source-website.patch` line number
  tools/example-showcase/asset-source-website.patch
  typos.toml
Labels: C-Bug, D-Trivial, A-Build-System, S-Ready-For-Final-Review, C-Regression, X-Uncontroversial

#13274 Update release workflow pr body
  .github/workflows/release.yml
Labels: C-Docs, D-Trivial, A-Build-System, X-Uncontroversial

#13281 bevy_asset: Add missing web-sys feature and cleanup unused ones
  crates/bevy_asset/Cargo.toml
Labels: D-Trivial, A-Assets, C-Dependencies, X-Uncontroversial

#13099 Fix motion blur on wasm
  crates/bevy_core_pipeline/src/motion_blur/mod.rs
  crates/bevy_core_pipeline/src/motion_blur/motion_blur.wgsl
  crates/bevy_core_pipeline/src/motion_blur/pipeline.rs
  examples/3d/motion_blur.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13159 Improve tracing layer customization
  crates/bevy_log/src/lib.rs
  examples/app/log_layers.rs
  examples/app/log_layers_ecs.rs
Labels: S-Ready-For-Final-Review, A-Diagnostics, D-Modest, D-Domain-Agnostic

#8022 Add doc comments explaining the different behaviours of `alignment` and `Anchor` with `text_2d`
  crates/bevy_text/src/text2d.rs
Labels: C-Docs, A-UI, S-Ready-For-Final-Review

#13342 headless_renderer comments typo fix
  examples/app/headless_renderer.rs
Labels: C-Docs, D-Trivial, C-Examples, S-Ready-For-Final-Review

#13344 remove unused warnings in release
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality

#13263 Make `bevy_time` optionally depend on `bevy_reflect`
  crates/bevy_time/Cargo.toml
  crates/bevy_time/src/fixed.rs
  crates/bevy_time/src/lib.rs
  crates/bevy_time/src/real.rs
  crates/bevy_time/src/stopwatch.rs
  crates/bevy_time/src/time.rs
  crates/bevy_time/src/timer.rs
  crates/bevy_time/src/virt.rs
Labels: C-Enhancement, D-Trivial, S-Ready-For-Final-Review, A-Reflection, A-Time, X-Uncontroversial

#13283 Fix incorrect workgroupBarrier and OOB array access in auto_exposure
  crates/bevy_core_pipeline/src/auto_exposure/auto_exposure.wgsl
Labels: A-Rendering, S-Ready-For-Final-Review

#13322 State example
  crates/bevy_state/src/state/mod.rs
  crates/bevy_state/src/state/resources.rs
  crates/bevy_state/src/state/states.rs
Labels: A-ECS, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#11820 Add meshing for `Cone`
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_render/src/mesh/primitives/dim3/cone.rs
  crates/bevy_render/src/mesh/primitives/dim3/mod.rs
  examples/3d/3d_shapes.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, A-Math, D-Complex, X-Contentious

#13200 Add UV channel selection to StandardMaterial
  crates/bevy_gltf/src/loader.rs
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/prepass/prepass_io.wgsl
  crates/bevy_pbr/src/render/forward_io.wgsl
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
  crates/bevy_pbr/src/render/pbr_prepass_functions.wgsl
Labels: C-Bug, C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Uncontroversial, D-Modest, D-Domain-Expert

#13211 Determine msrv for every standalone bevy_* crate.
  crates/bevy_color/Cargo.toml
  crates/bevy_core/Cargo.toml
  crates/bevy_ecs/Cargo.toml
  crates/bevy_math/Cargo.toml
  crates/bevy_mikktspace/Cargo.toml
  crates/bevy_mikktspace/README.md
  crates/bevy_reflect/Cargo.toml
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Cross-Cutting

#13280 Add `cargo ci` alias for `ci` tool
  .cargo/config_fast_builds.toml
Labels: D-Trivial, A-Build-System, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial

#13355 Add docs for `PointLight`
  crates/bevy_pbr/src/light/point_light.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#13343 constrain WorldQuery::get_state to only use &Components
  crates/bevy_ecs/macros/src/world_query.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/query/world_query.rs
  crates/bevy_ecs/src/system/query.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change, X-Controversial, P-Unsound, D-Straightforward, D-Unsafe

#13250 Apply uv transform in the prepass
  crates/bevy_pbr/src/render/pbr_prepass.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, X-Uncontroversial

#13285 Implement Color Operations for `Color`
  crates/bevy_color/src/color.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, X-Contentious, D-Straightforward, A-Color

#13382 Misc asset code quality and docs
  crates/bevy_asset/src/io/source.rs
  crates/bevy_asset/src/processor/process.rs
Labels: C-Docs, D-Trivial, A-Assets, C-Code-Quality, S-Ready-For-Final-Review

#12725 Fix UI border artifacts caused by incorrect blending
  crates/bevy_ui/src/render/ui.wgsl
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review

#13378 Fix ClearColor in 2d pipelines
  crates/bevy_core_pipeline/src/core_2d/main_transparent_pass_2d_node.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13365 Allow shapes to be constructed with zero values
  crates/bevy_math/src/primitives/dim2.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math, X-Contentious, D-Straightforward

#13374 Enable depth of field on webgpu
  crates/bevy_core_pipeline/src/dof/mod.rs
Labels: C-Enhancement, D-Trivial, A-Rendering, S-Ready-For-Final-Review, X-Uncontroversial

#13379 Fix transmission by setting the correct value for transmissive_lighting_input.F_ab
  crates/bevy_pbr/src/render/pbr_functions.wgsl
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#11948 Add Rounded box gizmos
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/rounded_box.rs
  examples/gizmos/2d_gizmos.rs
  examples/gizmos/3d_gizmos.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Gizmos, C-Needs-Release-Note

#13317 #12502 Remove limit on RenderLayers.
  benches/benches/bevy_render/render_layers.rs
  crates/bevy_dev_tools/src/ui_debug_overlay/mod.rs
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/view/mod.rs
  crates/bevy_render/src/view/view.wgsl
  crates/bevy_render/src/view/visibility/mod.rs
  crates/bevy_render/src/view/visibility/render_layers.rs
  examples/3d/render_to_texture.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Contentious, D-Straightforward

#13057 Implement volumetric fog and volumetric lighting, also known as light shafts or god rays.
  Cargo.toml
  assets/models/VolumetricFogExample/VolumetricFogExample.glb
  crates/bevy_core_pipeline/src/core_3d/camera_3d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/light/mod.rs
  crates/bevy_pbr/src/meshlet/material_draw_prepare.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/render/shadows.wgsl
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
  examples/3d/volumetric_fog.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note

#13394 Remove unnecessary .view_layouts
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/meshlet/material_draw_prepare.rs
  crates/bevy_pbr/src/render/mesh.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review

#13399 Use `load_with_settings` instead of manually overriding srgbness in examples
  examples/3d/deferred_rendering.rs
  examples/3d/parallax_mapping.rs
Labels: C-Examples, A-Assets, S-Ready-For-Final-Review

#13398 example render_to_texture: remove extra light
  examples/3d/render_to_texture.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#13347 Add `on_unimplemented` Diagnostics to Most Public Traits
  Cargo.toml
  crates/bevy_app/src/plugin.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/event.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/schedule/set.rs
  crates/bevy_ecs/src/system/adapter_system.rs
  crates/bevy_ecs/src/system/combinator.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/exclusive_system_param.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_reflect/compile_fail/tests/reflect_derive/generics_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_derive/generics_fail.stderr
  crates/bevy_reflect/src/from_reflect.rs
  crates/bevy_reflect/src/path/mod.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/type_path.rs
  crates/bevy_reflect/src/type_registry.rs
  crates/bevy_state/src/state/freely_mutable_state.rs
  crates/bevy_state/src/state/states.rs
  crates/bevy_state/src/state/sub_states.rs
Labels: C-Docs, D-Trivial, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, C-Needs-Release-Note, A-Dev-Tools, X-Uncontroversial

#13401 De-clutter `2d_gizmos` example
  examples/gizmos/2d_gizmos.rs
Labels: D-Trivial, C-Examples, S-Ready-For-Final-Review, A-Gizmos

#13350 Add emissive_exposure_weight to the StandardMaterial
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  examples/3d/bloom_3d.rs
  examples/3d/lightmaps.rs
  examples/3d/spotlight.rs
  examples/3d/transmission.rs
  examples/ecs/iter_combinations.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change, X-Uncontroversial, D-Straightforward

#13413 Revert "Add `on_unimplemented` Diagnostics to Most Public Traits"
  Cargo.toml
  crates/bevy_app/src/plugin.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/event.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/schedule/set.rs
  crates/bevy_ecs/src/system/adapter_system.rs
  crates/bevy_ecs/src/system/combinator.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/exclusive_system_param.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_reflect/compile_fail/tests/reflect_derive/generics_fail.rs
  crates/bevy_reflect/compile_fail/tests/reflect_derive/generics_fail.stderr
  crates/bevy_reflect/src/from_reflect.rs
  crates/bevy_reflect/src/path/mod.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/type_info.rs
  crates/bevy_reflect/src/type_path.rs
  crates/bevy_reflect/src/type_registry.rs
  crates/bevy_state/src/state/freely_mutable_state.rs
  crates/bevy_state/src/state/states.rs
  crates/bevy_state/src/state/sub_states.rs
Labels: P-High, O-Android, C-Compile-Failure, A-Cross-Cutting, S-Needs-Review

#13411 Common `MeshBuilder` trait
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/mesh/primitives/dim2.rs
  crates/bevy_render/src/mesh/primitives/dim3/capsule.rs
  crates/bevy_render/src/mesh/primitives/dim3/cone.rs
  crates/bevy_render/src/mesh/primitives/dim3/cylinder.rs
  crates/bevy_render/src/mesh/primitives/dim3/plane.rs
  crates/bevy_render/src/mesh/primitives/dim3/sphere.rs
  crates/bevy_render/src/mesh/primitives/dim3/torus.rs
  crates/bevy_render/src/mesh/primitives/mod.rs
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, A-Math, C-Breaking-Change

#13402 Make the prepass shader compile when lightmaps are present.
  crates/bevy_pbr/src/render/pbr_prepass_functions.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13410 Remove another .view_layouts
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#13388 Fixed incorrect behaviour of headless_renderer depending on image dimensions
  examples/app/headless_renderer.rs
Labels: C-Bug, A-Rendering, C-Examples, S-Ready-For-Final-Review

#11659 bevy_reflect: Custom attributes
  Cargo.toml
  crates/bevy_reflect/derive/src/container_attributes.rs
  crates/bevy_reflect/derive/src/custom_attributes.rs
  crates/bevy_reflect/derive/src/derive_data.rs
  crates/bevy_reflect/derive/src/field_attributes.rs
  crates/bevy_reflect/derive/src/impls/enums.rs
  crates/bevy_reflect/derive/src/impls/structs.rs
  crates/bevy_reflect/derive/src/impls/tuple_structs.rs
  crates/bevy_reflect/derive/src/lib.rs
  crates/bevy_reflect/src/attributes.rs
  crates/bevy_reflect/src/enums/enum_trait.rs
  crates/bevy_reflect/src/enums/variants.rs
  crates/bevy_reflect/src/fields.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple_struct.rs
  examples/README.md
  examples/reflection/custom_attributes.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, A-Editor, C-Needs-Release-Note, X-Contentious, D-Modest

#13441 Adds doc note that Timer and Stopwatch must be progressed manually
  crates/bevy_time/src/stopwatch.rs
  crates/bevy_time/src/timer.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Time

#13080 Deprecate dynamic plugins
  crates/bevy_app/src/plugin.rs
  crates/bevy_derive/src/app_plugin.rs
  crates/bevy_derive/src/lib.rs
  crates/bevy_dynamic_plugin/src/lib.rs
  crates/bevy_dynamic_plugin/src/loader.rs
Labels: S-Ready-For-Final-Review, A-App, C-Breaking-Change, X-Controversial, P-Unsound, C-Needs-Release-Note

#13444 Fix lints on beta Rust
  crates/bevy_core_pipeline/src/dof/mod.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#13277 Make render phases render world resources instead of components.
  crates/bevy_core_pipeline/src/core_2d/main_transparent_pass_2d_node.rs
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_core_pipeline/src/core_3d/main_opaque_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_transmissive_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_transparent_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/deferred/node.rs
  crates/bevy_core_pipeline/src/prepass/node.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_render/src/batching/gpu_preprocessing.rs
  crates/bevy_render/src/batching/mod.rs
  crates/bevy_render/src/batching/no_gpu_preprocessing.rs
  crates/bevy_render/src/render_phase/mod.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/render_pass.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  examples/2d/mesh2d_manual.rs
  examples/shader/shader_instancing.rs
Labels: A-Rendering, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change

#13380 Fix normals during mesh scaling
  crates/bevy_render/src/mesh/mesh/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Modest

#13415 Add more load_direct implementations
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/meta.rs
  examples/asset/asset_decompression.rs
  examples/asset/processing/asset_processing.rs
  examples/asset/processing/assets/a.cool.ron
  examples/asset/processing/assets/d.cool.ron
  examples/asset/processing/assets/foo/b.cool.ron
  examples/asset/processing/assets/foo/c.cool.ron
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#13417 implement the full set of sort methods on QueryIter
  crates/bevy_ecs/src/query/iter.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, D-Complex, C-Needs-Release-Note, X-Contentious

#13430 Tetrahedron sampling
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/sampling/shape_sampling.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math

#13438 Inconsistent segments/resolution naming
  crates/bevy_gizmos/src/arcs.rs
  crates/bevy_gizmos/src/circles.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_gizmos/src/light.rs
  crates/bevy_gizmos/src/primitives/dim3.rs
  crates/bevy_gizmos/src/primitives/helpers.rs
  crates/bevy_gizmos/src/rounded_box.rs
  examples/gizmos/2d_gizmos.rs
  examples/gizmos/3d_gizmos.rs
  examples/math/render_primitives.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, A-Gizmos, X-Uncontroversial

#13449 fix lava emissive strength in depth of field example
  assets/models/DepthOfFieldExample/DepthOfFieldExample.glb
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#13451 Add slerp function for Dir2, Dir3, Dir3A
  crates/bevy_math/src/direction.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Straightforward

#13458 Fix doc for Added, Changed
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/query/filter.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#13462 Fix UI elements randomly not appearing after #13277.
  crates/bevy_ui/src/render/mod.rs
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review

#13123 Implement a SystemBuilder for building SystemParams
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, D-Complex, C-Needs-Release-Note, X-Contentious

#13440 Fix 2D looking blurry at odd window sizes
  crates/bevy_render/src/camera/projection.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review, X-Uncontroversial

#13463 Tetrahedron mesh
  crates/bevy_render/src/mesh/primitives/dim3/mod.rs
  crates/bevy_render/src/mesh/primitives/dim3/tetrahedron.rs
  crates/bevy_render/src/mesh/primitives/dim3/triangle3d.rs
  examples/3d/3d_shapes.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, A-Math

#13315 Add `Distribution` access methods for `ShapeSample` trait
  crates/bevy_math/src/sampling/mod.rs
  crates/bevy_math/src/sampling/shape_sampling.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, C-Needs-Release-Note

#13471 Annulus sampling
  crates/bevy_math/src/sampling/shape_sampling.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Straightforward

#13470 Optimize the values for `EMPTY` rect.
  crates/bevy_math/src/rects/irect.rs
  crates/bevy_math/src/rects/rect.rs
  crates/bevy_math/src/rects/urect.rs
Labels: A-UI, C-Usability, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#13475 Further improve docs for component hooks
  crates/bevy_ecs/src/component.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#13476 simple Debug impls for query iterators
  crates/bevy_ecs/src/query/iter.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review

#13424 bevy_reflect: `enum_utility` cleanup
  crates/bevy_reflect/derive/src/enum_utility.rs
  crates/bevy_reflect/derive/src/from_reflect.rs
  crates/bevy_reflect/derive/src/impls/enums.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Reflection, D-Straightforward, D-Macros

#13465 Make LoadContext use the builder pattern for loading dependent assets
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/loader_builders.rs
  crates/bevy_asset/src/server/mod.rs
  crates/bevy_gltf/src/loader.rs
  examples/asset/asset_decompression.rs
  examples/asset/processing/asset_processing.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#13480 Fix lighting example following emissive material changes in #13350
  examples/3d/lighting.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#13051 Allow `AssetServer::load` to acquire a guard item.
  Cargo.toml
  crates/bevy_asset/src/loader_builders.rs
  crates/bevy_asset/src/server/mod.rs
  examples/README.md
  examples/asset/multi_asset_sync.rs
Labels: C-Enhancement, A-Assets, S-Ready-For-Final-Review, X-Contentious, D-Modest

#13467 Add triangle_math tests and fix Triangle3d::bounding_sphere bug
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math, D-Straightforward

#13483 Mention of Vec normalization for Dir::new
  crates/bevy_math/src/direction.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#13482 New circular primitives: `Arc2d`, `CircularSector`, `CircularSegment`
  Cargo.toml
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/direction.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/rotation2d.rs
  crates/bevy_render/src/mesh/primitives/dim2.rs
  crates/bevy_render/src/mesh/primitives/mod.rs
  examples/2d/2d_shapes.rs
  examples/2d/mesh2d_arcs.rs
  examples/README.md
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math, A-Gizmos, C-Needs-Release-Note

#13498 add Debug for ptr types
  crates/bevy_ptr/src/lib.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Pointers

#13495 Update render graph docs
  crates/bevy_render/src/render_graph/context.rs
  crates/bevy_render/src/render_graph/graph.rs
  crates/bevy_render/src/renderer/graph_runner.rs
  crates/bevy_render/src/renderer/mod.rs
Labels: C-Docs, D-Trivial, A-Rendering, S-Ready-For-Final-Review

#13502 fix emissive value in StandardMaterial after swith to LinearRgba
  crates/bevy_pbr/src/pbr_material.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review, C-Regression, A-Color

#13504 Add `Triangle3d` / `Tetrahedron` to render_primitives example
  crates/bevy_gizmos/src/primitives/dim3.rs
  examples/math/render_primitives.rs
Labels: C-Enhancement, D-Trivial, S-Ready-For-Final-Review, A-Math, A-Gizmos, X-Uncontroversial

#11819 Add meshing for `ConicalFrustum`
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_render/src/mesh/primitives/dim3/conical_frustum.rs
  crates/bevy_render/src/mesh/primitives/dim3/cylinder.rs
  crates/bevy_render/src/mesh/primitives/dim3/mod.rs
  examples/3d/3d_shapes.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, A-Math

#13237 Added a Grey trait, and implementations on baked-in colors. Fixes #13206
  crates/bevy_color/src/color_ops.rs
  crates/bevy_color/src/hsla.rs
  crates/bevy_color/src/hsva.rs
  crates/bevy_color/src/hwba.rs
  crates/bevy_color/src/laba.rs
  crates/bevy_color/src/lcha.rs
  crates/bevy_color/src/linear_rgba.rs
  crates/bevy_color/src/oklaba.rs
  crates/bevy_color/src/oklcha.rs
  crates/bevy_color/src/srgba.rs
  crates/bevy_color/src/xyza.rs
  crates/bevy_core_pipeline/src/bloom/mod.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Color

#13516 add glsl feature for bevy_pbr
  crates/bevy_internal/Cargo.toml
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13501 Implement Rhombus 2D primitive.
  crates/bevy_gizmos/src/primitives/dim2.rs
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_reflect/src/impls/math/primitives2d.rs
  crates/bevy_render/src/mesh/primitives/dim2.rs
  examples/2d/2d_shapes.rs
Labels: S-Ready-For-Final-Review, A-Math, A-Gizmos, C-Needs-Release-Note

#13513 Refactor `ci_testing` and separate it from `DevToolsPlugin`
  crates/bevy_dev_tools/src/ci_testing.rs
  crates/bevy_dev_tools/src/ci_testing/config.rs
  crates/bevy_dev_tools/src/ci_testing/mod.rs
  crates/bevy_dev_tools/src/ci_testing/systems.rs
  crates/bevy_dev_tools/src/lib.rs
  crates/bevy_internal/src/default_plugins.rs
Labels: A-Build-System, C-Code-Quality, S-Ready-For-Final-Review, C-Testing, C-Breaking-Change, D-Modest, D-Domain-Expert

#13507 Example for random sampling
  Cargo.toml
  examples/README.md
  examples/math/random_sampling.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Straightforward

#13520 Move `bevy_math` `Reflect` impls
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/cubic_splines.rs
  crates/bevy_math/src/direction.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/rects/irect.rs
  crates/bevy_math/src/rects/rect.rs
  crates/bevy_math/src/rects/urect.rs
  crates/bevy_math/src/rotation2d.rs
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/impls/math/cubic_splines.rs
  crates/bevy_reflect/src/impls/math/direction.rs
  crates/bevy_reflect/src/impls/math/primitives2d.rs
  crates/bevy_reflect/src/impls/math/primitives3d.rs
  crates/bevy_reflect/src/impls/math/rect.rs
  crates/bevy_reflect/src/impls/math/rotation2d.rs
  crates/bevy_reflect/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Reflection, A-Math

#13519 Create a primitive sampling showcase example
  Cargo.toml
  examples/README.md
  examples/math/sampling_primitives.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Modest

#13523 Fix various bugs with UI rounded borders
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui.wgsl
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#13537 Implemented `Reflect` for (almost) all `bevy_math` types
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/affine3.rs
  crates/bevy_math/src/aspect_ratio.rs
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
  crates/bevy_math/src/bounding/raycast2d.rs
  crates/bevy_math/src/bounding/raycast3d.rs
  crates/bevy_math/src/cubic_splines.rs
  crates/bevy_math/src/float_ord.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/ray.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, A-Math

#13539 revert reflections PR changes to the meshlet example
  examples/3d/meshlet.rs
Labels: A-Rendering, C-Examples

#13532 Fix bevy_app not compiling without default features
  crates/bevy_app/src/main_schedule.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, C-Regression, A-App, C-Compile-Failure

#13541 fix rounded borders on buttons
  crates/bevy_ui/src/render/ui.wgsl
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#13544 use ssr dynamic offset in volumetric fog bind group
  crates/bevy_pbr/src/volumetric_fog/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#13542 small improvements on the color_grading example
  examples/3d/color_grading.rs
Labels: C-Examples, C-Code-Quality

#13531 Set ambient_intensity to 0.0 in volumetric_fog example, correct doc comment
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  examples/3d/volumetric_fog.rs
Labels: C-Bug, C-Examples, S-Ready-For-Final-Review

#13262 add tonemapping LUT bindings for sprite and mesh2d pipelines
  crates/bevy_core_pipeline/src/tonemapping/lut_bindings.wgsl
  crates/bevy_core_pipeline/src/tonemapping/mod.rs
  crates/bevy_core_pipeline/src/tonemapping/tonemapping.wgsl
  crates/bevy_core_pipeline/src/tonemapping/tonemapping_shared.wgsl
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_transmission.wgsl
  crates/bevy_render/src/maths.wgsl
  crates/bevy_sprite/src/lib.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  crates/bevy_sprite/src/mesh2d/mesh2d_view_bindings.wgsl
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/render/sprite.wgsl
  crates/bevy_sprite/src/render/sprite_view_bindings.wgsl
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#13249 Refactor command application for more consistency
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/command_queue.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Complex, X-Contentious, D-Unsafe

#13554 Fix unsoundness in `FilteredEntity{Ref,Mut}` various `get` methods
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, P-Unsound, X-Uncontroversial, D-Straightforward

#13548 Add docs to bevy_gltf about loading parts of a Gltf asset
  crates/bevy_gltf/src/lib.rs
Labels: C-Docs, A-Assets, S-Ready-For-Final-Review, S-Needs-Review

#13566 Swapping back to using From<Color> for StandardMaterial in examples
  examples/3d/3d_scene.rs
  examples/3d/3d_viewport_to_world.rs
  examples/3d/anti_aliasing.rs
Labels: C-Examples, S-Ready-For-Final-Review

#13568 Clarify cone position
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Docs, D-Trivial, A-Math

#13562 Set the default target exposure to the minimum value, not 0
  crates/bevy_core_pipeline/src/auto_exposure/auto_exposure.wgsl
  examples/3d/auto_exposure.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, X-Uncontroversial, D-Modest, D-Shaders
