Repository bevyengine/bevy, pull requests merged in 2024-10, with the labels that each got.

#14194 Replace `AsyncSeek` trait by `AsyncSeekForward` for `Reader` to address #12880
  crates/bevy_asset/src/io/file/file_asset.rs
  crates/bevy_asset/src/io/file/sync_file_asset.rs
  crates/bevy_asset/src/io/memory.rs
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_asset/src/io/processor_gated.rs
Labels: A-Assets, C-Usability, C-Breaking-Change, D-Straightforward, S-Needs-Review

#11495 Add directory related functions to `AndroidAssetReader`
  crates/bevy_asset/src/io/android.rs
Labels: C-Feature, A-Assets, O-Android, D-Straightforward, S-Needs-Review

#15537 Add `sub_camera_view`, enabling sheared projection
  Cargo.toml
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/camera/projection.rs
  examples/3d/camera_sub_view.rs
  examples/README.md
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review, D-Modest

#15509 bevy_asset: Improve `NestedLoader` API
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/loader_builders.rs
  crates/bevy_asset/src/server/info.rs
  crates/bevy_asset/src/server/mod.rs
  examples/asset/asset_decompression.rs
  examples/asset/processing/asset_processing.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15566 Fix Mesh allocator bug and reduce Mesh data copies by two
  crates/bevy_pbr/src/meshlet/from_mesh.rs
  crates/bevy_render/src/mesh/allocator.rs
  crates/bevy_render/src/mesh/mesh/mod.rs
Labels: C-Bug, A-Rendering, C-Performance, P-High, S-Ready-For-Final-Review, C-Regression, C-Breaking-Change, D-Straightforward

#15422 Change ReflectMapEntities to operate on components before insertion
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/reflect/map_entities.rs
  crates/bevy_ecs/src/reflect/mod.rs
  crates/bevy_scene/src/dynamic_scene.rs
  crates/bevy_scene/src/scene.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Scenes, C-Breaking-Change, A-Networking, X-Contentious

#15568 Migrate fog volumes to required components
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  examples/3d/volumetric_fog.rs
Labels: D-Trivial, A-Rendering, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change, X-Blessed

#15578 Update the UI texture slice pipeline to work with the retained render world changes
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
Labels: C-Bug, A-Rendering, A-UI, S-Ready-For-Final-Review

#12095 Add features to switch `NativeActivity` and `GameActivity` usage
  .github/workflows/daily.yml
  .github/workflows/validation-jobs.yml
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_winit/Cargo.toml
  docs-template/EXAMPLE_README.md.tpl
  docs/cargo_features.md
  examples/README.md
  examples/mobile/.gitignore
  examples/mobile/Cargo.toml
  examples/mobile/android_basic/Cargo.toml
  examples/mobile/android_basic/readme.md
  examples/mobile/android_example/app/CMakeLists.txt
  examples/mobile/android_example/app/build.gradle
  examples/mobile/android_example/app/src/main/AndroidManifest.xml
  examples/mobile/android_example/app/src/main/cpp/dummy.cpp
  examples/mobile/android_example/app/src/main/java/org/bevyengine/example/MainActivity.java
  examples/mobile/android_example/build.gradle
  examples/mobile/android_example/gradle.properties
  examples/mobile/android_example/gradle/libs.versions.toml
  examples/mobile/android_example/gradle/wrapper/gradle-wrapper.jar
  examples/mobile/android_example/gradle/wrapper/gradle-wrapper.properties
  examples/mobile/android_example/gradlew
  examples/mobile/android_example/gradlew.bat
  examples/mobile/android_example/settings.gradle
  examples/mobile/android_example_native/app/CMakeLists.txt
  examples/mobile/android_example_native/app/build.gradle
  examples/mobile/android_example_native/app/src/main/AndroidManifest.xml
  examples/mobile/android_example_native/app/src/main/cpp/dummy.cpp
  examples/mobile/android_example_native/app/src/main/java/org/bevyengine/example/MainActivity.java
  examples/mobile/android_example_native/build.gradle
  examples/mobile/android_example_native/gradle.properties
  examples/mobile/android_example_native/gradle/libs.versions.toml
  examples/mobile/android_example_native/gradle/wrapper/gradle-wrapper.jar
  examples/mobile/android_example_native/gradle/wrapper/gradle-wrapper.properties
  examples/mobile/android_example_native/gradlew
  examples/mobile/android_example_native/gradlew.bat
  examples/mobile/android_example_native/settings.gradle
Labels: C-Docs, C-Feature, C-Examples, O-Android, A-App, C-Breaking-Change, D-Complex, C-Needs-Release-Note, S-Needs-Review

#15583 Rename BreakLineOn to LineBreak
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_ui/src/node_bundles.rs
  crates/bevy_ui/src/widget/text.rs
  examples/2d/text2d.rs
  examples/stress_tests/many_glyphs.rs
  examples/stress_tests/text_pipeline.rs
  examples/ui/text_wrap_debug.rs
Labels: D-Trivial, A-UI, C-Code-Quality, C-Usability, S-Ready-For-Final-Review

#15579 Migrate scenes to required components
  crates/bevy_animation/src/lib.rs
  crates/bevy_gltf/src/lib.rs
  crates/bevy_scene/src/bundle.rs
  crates/bevy_scene/src/components.rs
  crates/bevy_scene/src/dynamic_scene.rs
  crates/bevy_scene/src/lib.rs
  crates/bevy_scene/src/scene.rs
  crates/bevy_scene/src/scene_spawner.rs
  examples/3d/anisotropy.rs
  examples/3d/anti_aliasing.rs
  examples/3d/atmospheric_fog.rs
  examples/3d/clearcoat.rs
  examples/3d/color_grading.rs
  examples/3d/deferred_rendering.rs
  examples/3d/depth_of_field.rs
  examples/3d/irradiance_volumes.rs
  examples/3d/lightmaps.rs
  examples/3d/load_gltf.rs
  examples/3d/load_gltf_extras.rs
  examples/3d/pcss.rs
  examples/3d/post_processing.rs
  examples/3d/query_gltf_primitives.rs
  examples/3d/reflection_probes.rs
  examples/3d/split_screen.rs
  examples/3d/ssr.rs
  examples/3d/tonemapping.rs
  examples/3d/update_gltf_scene.rs
  examples/3d/visibility_range.rs
  examples/3d/volumetric_fog.rs
  examples/animation/animated_fox.rs
  examples/animation/animation_graph.rs
  examples/animation/animation_masks.rs
  examples/animation/gltf_skinned_mesh.rs
  examples/animation/morph_targets.rs
  examples/asset/hot_asset_reloading.rs
  examples/asset/multi_asset_sync.rs
  examples/camera/projection_zoom.rs
  examples/games/alien_cake_addict.rs
  examples/games/loading_screen.rs
  examples/scene/scene.rs
  examples/stress_tests/many_foxes.rs
  examples/transforms/align.rs
  examples/window/multiple_windows.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Scenes, C-Breaking-Change

#15573 Migrate audio to required components
  crates/bevy_audio/src/audio.rs
  crates/bevy_audio/src/audio_output.rs
  crates/bevy_audio/src/lib.rs
  crates/bevy_audio/src/pitch.rs
  crates/bevy_audio/src/sinks.rs
  examples/audio/audio.rs
  examples/audio/audio_control.rs
  examples/audio/decodable.rs
  examples/audio/pitch.rs
  examples/audio/soundtrack.rs
  examples/audio/spatial_audio_2d.rs
  examples/audio/spatial_audio_3d.rs
  examples/games/breakout.rs
  examples/mobile/src/lib.rs
Labels: A-ECS, A-Audio, C-Breaking-Change, D-Straightforward, S-Needs-Review

#15572 Migrate motion blur, TAA, SSAO, and SSR to required components
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/motion_blur/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/ssr/mod.rs
  examples/3d/anti_aliasing.rs
  examples/3d/motion_blur.rs
  examples/3d/scrolling_fog.rs
  examples/3d/ssao.rs
  examples/3d/ssr.rs
  examples/3d/transmission.rs
Labels: D-Trivial, A-Rendering, A-ECS, S-Ready-For-Final-Review, C-Breaking-Change, X-Blessed

#15556 Make `SystemIdMarker` reflect-able
  crates/bevy_ecs/src/system/system_registry.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Reflection

#15581 Refactor TextPipeline::update_buffer to accept an interator
  crates/bevy_text/src/pipeline.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Text

#15341 Add UI `GhostNode`
  Cargo.toml
  crates/bevy_ui/src/accessibility.rs
  crates/bevy_ui/src/ghost_hierarchy.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/layout/ui_surface.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/stack.rs
  crates/bevy_ui/src/update.rs
  examples/README.md
  examples/ui/ghost_nodes.rs
Labels: C-Feature, A-UI, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Blessed, D-Modest

#15516 Include errors along side successful components in BRP `bevy/get` method
  crates/bevy_remote/src/builtin_methods.rs
  crates/bevy_remote/src/lib.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Dev-Tools, D-Straightforward

#15585 move ANDROID_APP to bevy_window
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/src/io/android.rs
  crates/bevy_derive/src/bevy_main.rs
  crates/bevy_window/Cargo.toml
  crates/bevy_window/src/lib.rs
  crates/bevy_winit/src/lib.rs
Labels: A-Windowing, C-Dependencies, C-Code-Quality, O-Android, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15387 Documentation for variadics
  crates/bevy_app/src/lib.rs
  crates/bevy_app/src/plugin.rs
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/tuple.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#15523 Revert "Have EntityCommands methods consume self for easier chaining"
  benches/benches/bevy_ecs/world/commands.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_input/src/gamepad.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/wireframe.rs
  crates/bevy_picking/src/focus.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_sprite/src/mesh2d/wireframe2d.rs
  crates/bevy_ui/src/render/mod.rs
  examples/2d/sprite_slice.rs
  examples/3d/anti_aliasing.rs
  examples/3d/depth_of_field.rs
  examples/3d/motion_blur.rs
  examples/3d/pcss.rs
  examples/3d/ssao.rs
  examples/animation/animation_graph.rs
  examples/ecs/observers.rs
  examples/games/game_menu.rs
  examples/stress_tests/many_buttons.rs
  examples/stress_tests/many_cubes.rs
  examples/stress_tests/transform_hierarchy.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, X-Blessed, D-Straightforward

#13454 Added visibility bitmask as an alternative SSAO method
  crates/bevy_pbr/src/deferred/deferred_lighting.wgsl
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/ssao/preprocess_depth.wgsl
  crates/bevy_pbr/src/ssao/spatial_denoise.wgsl
  crates/bevy_pbr/src/ssao/ssao.wgsl
  crates/bevy_pbr/src/ssao/ssao_utils.wgsl
  examples/3d/ssao.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review, C-Breaking-Change

#14788 add curve utilities to create curves interpolating/easing between two values
  crates/bevy_math/src/curve/easing.rs
  crates/bevy_math/src/curve/interval.rs
  crates/bevy_math/src/curve/mod.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Animation, A-Math, C-Needs-Release-Note, D-Straightforward

#15594 Cleanup `clearcoat` example
  examples/3d/clearcoat.rs
Labels: D-Trivial, C-Examples, C-Code-Quality, S-Ready-For-Final-Review

#15593 Enable `EntityRef::get_by_id` and friends to take multiple ids and get multiple pointers back
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/error.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, D-Modest, D-Unsafe

#15601 Allow access a method handler
  crates/bevy_remote/src/lib.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Dev-Tools

#15598 Remove `TransformCurve`
  crates/bevy_animation/src/animation_curves.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Animation, D-Straightforward

#15599 Implement `SystemParam::queue()` method for blanket implementation of `ParamSet`
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/src/observer/mod.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#15602 Use circle gizmos for capsule
  crates/bevy_gizmos/src/primitives/dim3.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Math, A-Gizmos

#15500 Better warnings about invalid parameters
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/schedule/executor/simple.rs
  crates/bevy_ecs/src/schedule/executor/single_threaded.rs
  crates/bevy_ecs/src/system/adapter_system.rs
  crates/bevy_ecs/src/system/combinator.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_render/src/extract_param.rs
  examples/ecs/fallible_params.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, X-Contentious, D-Modest

#15610 Despawn and despawn_recursive benchmarks
  benches/benches/bevy_ecs/world/despawn.rs
  benches/benches/bevy_ecs/world/despawn_recursive.rs
  benches/benches/bevy_ecs/world/mod.rs
Labels: A-ECS, S-Ready-For-Final-Review, C-Benchmarks

#15480 Add try_despawn methods to World/Commands
  benches/benches/bevy_ecs/world/despawn_recursive.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_hierarchy/src/hierarchy.rs
  crates/bevy_ui/src/layout/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, X-Contentious, D-Straightforward

#15616 Rename observe to observe_entity on EntityWorldMut
  benches/benches/bevy_ecs/observers/propagation.rs
  benches/benches/bevy_ecs/observers/simple.rs
  crates/bevy_dev_tools/src/ci_testing/systems.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/lib.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#15625 Fix `extract_text2d_sprite` entity leak
  crates/bevy_text/src/text2d.rs
Labels: C-Bug, D-Trivial, A-Rendering, S-Ready-For-Final-Review, A-Text

#15626 Fix entity leak in `extract_uinode_borders`
  crates/bevy_ui/src/render/mod.rs
Labels: C-Bug, A-Rendering, A-UI

#15189 System param for dynamic resources
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_ecs/src/world/filtered_resource.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, C-Needs-Release-Note

#15620 Eliminate redundant clamping from sample-interpolated curves
  crates/bevy_animation/src/animation_curves.rs
  crates/bevy_animation/src/gltf_curves.rs
  crates/bevy_color/src/color_gradient.rs
  crates/bevy_math/src/curve/sample_curves.rs
Labels: D-Trivial, C-Performance, S-Ready-For-Final-Review, A-Animation, A-Math, X-Uncontroversial

#15629 send_events is ambiguous_with_all
  crates/bevy_dev_tools/src/ci_testing/mod.rs
Labels: A-Build-System, C-Code-Quality, S-Ready-For-Final-Review

#15026 Add method to remove component and all required components for removed component
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Feature, A-ECS, C-Usability, X-Blessed, D-Straightforward, D-Unsafe, S-Needs-Review

#15630 Get rid of unnecessary mutable access in ui picking backend
  crates/bevy_ui/src/picking_backend.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Picking

#15269 Allow a closure to be used as a required component default
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/component.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Contentious, D-Straightforward, D-Macros

#15637 Fix `bevy_window` and `bevy_winit` readme badges
  crates/bevy_window/README.md
  crates/bevy_winit/README.md
Labels: C-Bug, D-Trivial, A-Meta, S-Ready-For-Final-Review

#15638 Fix audio not playing
  crates/bevy_audio/src/audio_output.rs
Labels: C-Bug, D-Trivial, A-Audio, S-Ready-For-Final-Review, X-Uncontroversial

#15634 Invert the dependency between bevy_animation and bevy_ui
  crates/bevy_animation/Cargo.toml
  crates/bevy_animation/src/lib.rs
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/lib.rs
Labels: A-UI, C-Code-Quality, S-Ready-For-Final-Review, A-Animation

#15633 Clean up the `simple_picking` example
  examples/picking/simple_picking.rs
Labels: D-Trivial, C-Examples, C-Code-Quality, S-Ready-For-Final-Review, A-Picking

#15522 drop info locks in single threaded
  crates/bevy_asset/src/server/mod.rs
Labels: C-Bug, A-Assets, P-Crash, S-Ready-For-Final-Review, D-Straightforward

#15648 Fix cargo-ndk build command
  docs-template/EXAMPLE_README.md.tpl
  examples/README.md
Labels: C-Docs, A-Build-System, O-Android

#15463 Minor fixes for `bevy_utils` in `no_std`
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/src/lib.rs
  crates/bevy_utils/src/time.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Utils, P-Compile-Failure, X-Uncontroversial

#15650 Split off bevy_image from bevy_render
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/render_asset.rs
  crates/bevy_image/Cargo.toml
  crates/bevy_image/src/basis.rs
  crates/bevy_image/src/dds.rs
  crates/bevy_image/src/exr_texture_loader.rs
  crates/bevy_image/src/hdr_texture_loader.rs
  crates/bevy_image/src/image.rs
  crates/bevy_image/src/image_texture_conversion.rs
  crates/bevy_image/src/ktx2.rs
  crates/bevy_image/src/lib.rs
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/render_asset.rs
  crates/bevy_render/src/render_resource/texture.rs
  crates/bevy_render/src/texture/compressed_image_saver.rs
  crates/bevy_render/src/texture/fallback_image.rs
  crates/bevy_render/src/texture/gpu_image.rs
  crates/bevy_render/src/texture/mod.rs
Labels: A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Blessed, D-Straightforward

#15569 Zero Copy Mesh
  crates/bevy_render/src/mesh/allocator.rs
  crates/bevy_render/src/mesh/mesh/mod.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#15631 Implement additive blending for animation graphs.
  assets/animation_graphs/Fox.animgraph.ron
  crates/bevy_animation/src/animation_curves.rs
  crates/bevy_animation/src/graph.rs
  crates/bevy_animation/src/lib.rs
  examples/animation/animation_masks.rs
Labels: C-Bug, C-Feature, C-Examples, A-Animation, C-Breaking-Change, C-Needs-Release-Note, X-Uncontroversial, D-Modest, S-Needs-Review

#15656 Fix deferred rendering
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/render/mesh.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#15658 Deprecate `Events::oldest_id`
  crates/bevy_ecs/src/event/collections.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change

#15646 fix: corrected projection calculation of camera sub view
  crates/bevy_render/src/camera/projection.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#15662 Fix additive blending of quaternions
  crates/bevy_animation/src/animatable.rs
  crates/bevy_animation/src/animation_curves.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Animation, C-Breaking-Change, D-Straightforward

#15667 Fix QuerySingle -> Single missed in example
  examples/ecs/fallible_params.rs
Labels: C-Bug, A-ECS, C-Examples, S-Ready-For-Final-Review

#15669 Fix text measurement when multiple font sizes are present
  crates/bevy_text/src/pipeline.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Text, D-Straightforward

#15622 Display the bounds of each text node in the `text_debug` ui example
  examples/ui/text_debug.rs
Labels: D-Trivial, C-Examples, A-UI, S-Ready-For-Final-Review

#15672 Fix wrong link in error
  crates/bevy_ecs/src/system/builder.rs
Labels: C-Docs, S-Ready-For-Final-Review

#15538 Add Support for Triggering Events via `AnimationEvent`s
  Cargo.toml
  crates/bevy_animation/Cargo.toml
  crates/bevy_animation/derive/Cargo.toml
  crates/bevy_animation/derive/src/lib.rs
  crates/bevy_animation/src/animation_event.rs
  crates/bevy_animation/src/lib.rs
  examples/README.md
  examples/animation/animated_fox.rs
  examples/animation/animation_events.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Animation, C-Needs-Release-Note

#15651 Add with_headers() method to RemoteHttpPlugin
  crates/bevy_remote/src/http.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Dev-Tools, D-Straightforward

#15666 Split out bevy_mesh from bevy_render
  crates/bevy_animation/src/lib.rs
  crates/bevy_mesh/Cargo.toml
  crates/bevy_mesh/src/conversions.rs
  crates/bevy_mesh/src/index.rs
  crates/bevy_mesh/src/lib.rs
  crates/bevy_mesh/src/mesh.rs
  crates/bevy_mesh/src/mikktspace.rs
  crates/bevy_mesh/src/morph.rs
  crates/bevy_mesh/src/primitives/dim2.rs
  crates/bevy_mesh/src/primitives/dim3/capsule.rs
  crates/bevy_mesh/src/primitives/dim3/cone.rs
  crates/bevy_mesh/src/primitives/dim3/conical_frustum.rs
  crates/bevy_mesh/src/primitives/dim3/cuboid.rs
  crates/bevy_mesh/src/primitives/dim3/cylinder.rs
  crates/bevy_mesh/src/primitives/dim3/mod.rs
  crates/bevy_mesh/src/primitives/dim3/plane.rs
  crates/bevy_mesh/src/primitives/dim3/sphere.rs
  crates/bevy_mesh/src/primitives/dim3/tetrahedron.rs
  crates/bevy_mesh/src/primitives/dim3/torus.rs
  crates/bevy_mesh/src/primitives/dim3/triangle3d.rs
  crates/bevy_mesh/src/primitives/extrusion.rs
  crates/bevy_mesh/src/primitives/mod.rs
  crates/bevy_mesh/src/skinning.rs
  crates/bevy_mesh/src/vertex.rs
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/mesh/mod.rs
  crates/bevy_render/src/render_resource/mod.rs
  crates/bevy_render/src/render_resource/pipeline.rs
  crates/bevy_render/src/render_resource/pipeline_specializer.rs
  crates/bevy_render/src/view/visibility/mod.rs
  crates/bevy_sprite/src/lib.rs
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Blessed, D-Straightforward

#15649 Inverse bevy_render bevy_winit dependency and move cursor to bevy_winit
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_winit/Cargo.toml
  crates/bevy_winit/src/converters.rs
  crates/bevy_winit/src/cursor.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
  docs/cargo_features.md
  examples/window/screenshot.rs
  examples/window/window_settings.rs
Labels: A-Rendering, A-Windowing, C-Code-Quality, S-Ready-For-Final-Review, C-Breaking-Change, D-Straightforward

#15677 Don't trigger animation events when paused
  crates/bevy_animation/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Animation

#15679 Add scene summary
  crates/bevy_scene/src/scene.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Scenes

#15680 simplify adding headers and improve consistency for RemoteHttpPlugin
  crates/bevy_remote/src/http.rs
Labels: C-Code-Quality, C-Usability, A-Dev-Tools, S-Needs-Review

#15262 Fix transparent_window example on wayland
  examples/window/transparent_window.rs
Labels: C-Bug, C-Examples, A-Windowing, S-Ready-For-Final-Review

#15682 Don't trigger animation events when paused 2
  crates/bevy_animation/src/lib.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Animation

#15686 Spelling
  crates/bevy_math/src/curve/easing.rs
  examples/math/cubic_splines.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#15689 Fixes to animation graph evaluation
  crates/bevy_animation/src/lib.rs
Labels: C-Bug, A-Animation, X-Uncontroversial, D-Straightforward, S-Needs-Review

#10392 Add `Image` methods for easy access to a pixel's color
  Cargo.toml
  crates/bevy_image/src/image.rs
  examples/2d/cpu_draw.rs
  examples/README.md
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review

#15614 Allow `World::entity` family of functions to take multiple entities and get multiple references back
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/observer/entity_observer.rs
  crates/bevy_ecs/src/reflect/entity_commands.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_registry.rs
  crates/bevy_ecs/src/world/deferred_world.rs
  crates/bevy_ecs/src/world/entity_fetch.rs
  crates/bevy_ecs/src/world/error.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_hierarchy/src/child_builder.rs
  crates/bevy_hierarchy/src/hierarchy.rs
  crates/bevy_remote/src/builtin_methods.rs
  crates/bevy_render/src/world_sync.rs
  crates/bevy_scene/src/bundle.rs
  crates/bevy_scene/src/scene_spawner.rs
  crates/bevy_scene/src/serde.rs
  crates/bevy_transform/src/commands.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, C-Needs-Release-Note, D-Modest, D-Unsafe

#15627 Add more tools for traversing hierarchies
  crates/bevy_hierarchy/src/query_extension.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Hierarchy, C-Needs-Release-Note

#15675 Add most common interpolations
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/curve/easing.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Animation, A-Math, C-Needs-Release-Note, D-Straightforward

#15688 Use global clear color for camera driver node.
  crates/bevy_render/src/camera/camera_driver_node.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#15652 Deprecate `get_or_spawn`
  benches/benches/bevy_ecs/world/commands.rs
  benches/benches/bevy_ecs/world/mod.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/dof/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_pbr/src/cluster/mod.rs
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_render/src/extract_param.rs
  crates/bevy_ui/src/render/mod.rs
  examples/stress_tests/transform_hierarchy.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Contentious

#15690 Migrate bevy picking
  crates/bevy_picking/src/input.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_picking/src/pointer.rs
Labels: A-ECS, S-Ready-For-Final-Review, A-Picking

#15691 bevy_ecs: Replace panics in `QueryData` derive compile errors
  crates/bevy_ecs/compile_fail/tests/ui/world_query_derive.rs
  crates/bevy_ecs/macros/src/query_data.rs
Labels: A-ECS, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, D-Macros

#15693 Fix a system ordering issue with motion blur for skinned meshes.
  crates/bevy_pbr/src/render/mesh.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#15586 Feature-gate all image formats
  Cargo.toml
  crates/bevy_core_pipeline/Cargo.toml
  crates/bevy_gltf/Cargo.toml
  crates/bevy_image/Cargo.toml
  crates/bevy_image/src/image.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/texture/image_loader.rs
  crates/bevy_render/src/texture/mod.rs
  docs/cargo_features.md
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#15707 Rename the `Pickable` component and fix incorrect documentation
  crates/bevy_picking/src/backend.rs
  crates/bevy_picking/src/focus.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_sprite/src/picking_backend.rs
  crates/bevy_ui/src/picking_backend.rs
  examples/ui/scroll.rs
  examples/ui/ui.rs
Labels: C-Docs, C-Usability, S-Ready-For-Final-Review, A-Picking

#15703 add example for ease functions
  Cargo.toml
  examples/README.md
  examples/animation/easing_functions.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Animation, A-Math

#15700 Add new crates to publish.sh
  tools/publish.sh
Labels: C-Bug, A-Build-System, S-Ready-For-Final-Review

#15706 fix some of the ease functions from interpolation
  crates/bevy_math/src/curve/easing.rs
  examples/animation/easing_functions.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Animation, A-Math, D-Straightforward

#15567 Screen shake example
  Cargo.toml
  examples/README.md
  examples/camera/2d_screen_shake.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#15713 Stop using `Handle<T>` as a component in `bevy_gizmos`
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
Labels: S-Ready-For-Final-Review, A-Gizmos, D-Straightforward

#15714 Curves: `FromReflect` boogaloo part 2
  crates/bevy_math/src/curve/adaptors.rs
  crates/bevy_math/src/curve/easing.rs
Labels: C-Bug, D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#15715 Fix `query_gltf_primitives` example
  examples/3d/query_gltf_primitives.rs
Labels: D-Trivial, C-Examples, S-Ready-For-Final-Review

#15628 Serialize and deserialize tuple struct with one field as newtype struct
  crates/bevy_reflect/src/serde/de/deserializer.rs
  crates/bevy_reflect/src/serde/de/mod.rs
  crates/bevy_reflect/src/serde/de/tuple_structs.rs
  crates/bevy_reflect/src/serde/mod.rs
  crates/bevy_reflect/src/serde/ser/mod.rs
  crates/bevy_reflect/src/serde/ser/tuple_structs.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change, D-Straightforward

#15719 Fix `shader_prepass` example
  examples/shader/shader_prepass.rs
Labels: D-Trivial, C-Examples, S-Ready-For-Final-Review

#14876 Add Order Independent Transparency
  Cargo.toml
  crates/bevy_core_pipeline/Cargo.toml
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/oit/mod.rs
  crates/bevy_core_pipeline/src/oit/oit_draw.wgsl
  crates/bevy_core_pipeline/src/oit/resolve/mod.rs
  crates/bevy_core_pipeline/src/oit/resolve/node.rs
  crates/bevy_core_pipeline/src/oit/resolve/oit_resolve.wgsl
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.wgsl
  crates/bevy_pbr/src/render/pbr.wgsl
  examples/3d/order_independent_transparency.rs
  examples/README.md
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review, C-Needs-Release-Note, D-Domain-Expert, D-Shaders

#15685 Add some missing features from the gamepads-as-entities change that were needed to update `leafwing-input-manager`.
  crates/bevy_gilrs/src/gilrs_system.rs
  crates/bevy_input/src/axis.rs
  crates/bevy_input/src/gamepad.rs
  crates/bevy_input/src/lib.rs
Labels: A-Input, S-Ready-For-Final-Review, C-Regression, D-Straightforward

#15710 Vary transforms for custom_skinned_mesh example
  assets/textures/uv_checker_bw.png
  examples/animation/custom_skinned_mesh.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review, A-Transform

#15728 Fix oit webgl
  crates/bevy_core_pipeline/src/lib.rs
  crates/bevy_core_pipeline/src/oit/resolve/mod.rs
  crates/bevy_pbr/src/render/mesh_view_bindings.rs
  crates/bevy_render/src/render_resource/mod.rs
Labels: C-Bug, A-Rendering, P-High, S-Ready-For-Final-Review

#15544 introduction of `ConvexPolygon` and `ConvexPolygonMeshBuilder`
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_mesh/src/primitives/dim2.rs
  crates/bevy_mesh/src/primitives/extrusion.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review, A-Math, X-Uncontroversial, D-Straightforward

#15681 improve sub view example with dynamic viewports
  examples/3d/camera_sub_view.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#15721 fix: `register_type::<ScrollPosition>`
  crates/bevy_ui/src/lib.rs
Labels: D-Trivial, A-UI, S-Ready-For-Final-Review, A-Reflection

#15733 Implement `From` translation and rotation for isometries
  crates/bevy_gizmos/src/arcs.rs
  crates/bevy_gizmos/src/circles.rs
  crates/bevy_gizmos/src/cross.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_gizmos/src/grid.rs
  crates/bevy_gizmos/src/light.rs
  crates/bevy_gizmos/src/primitives/dim2.rs
  crates/bevy_gizmos/src/primitives/dim3.rs
  crates/bevy_gizmos/src/rounded_box.rs
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/bounding/bounded3d/extrusion.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
  crates/bevy_math/src/isometry.rs
  crates/bevy_math/src/primitives/dim3.rs
  examples/2d/2d_viewport_to_world.rs
  examples/2d/bounding_2d.rs
  examples/2d/mesh2d_arcs.rs
  examples/ecs/observers.rs
  examples/gizmos/2d_gizmos.rs
  examples/gizmos/3d_gizmos.rs
  examples/math/cubic_splines.rs
  examples/math/custom_primitives.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math, A-Gizmos, D-Straightforward

#15608 Watching versions of `bevy/get` and `bevy/list` with HTTP SSE
  crates/bevy_remote/src/builtin_methods.rs
  crates/bevy_remote/src/http.rs
  crates/bevy_remote/src/lib.rs
  examples/remote/server.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Dev-Tools

#15204 box shadow
  Cargo.toml
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/box_shadow.rs
  crates/bevy_ui/src/render/box_shadow.wgsl
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/ui_node.rs
  examples/README.md
  examples/ui/box_shadow.rs
Labels: C-Feature, A-Rendering, A-UI, S-Ready-For-Final-Review, C-Needs-Release-Note, X-Contentious, D-Modest, D-Shaders

#15674 Add the functions `start_drag_move` and `start_drag_resize` to `Window`
  crates/bevy_window/src/window.rs
  crates/bevy_winit/src/converters.rs
  crates/bevy_winit/src/system.rs
Labels: C-Feature, A-Windowing, S-Ready-For-Final-Review, D-Straightforward

#15735 Use `Dir2`/`Dir3` instead of `Vec2`/`Vec3` for `Ray2d::new`/`Ray3d::new`
  crates/bevy_math/src/ray.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math, C-Breaking-Change

#15643 Per-meshlet compressed vertex data
  Cargo.toml
  crates/bevy_pbr/Cargo.toml
  crates/bevy_pbr/src/meshlet/asset.rs
  crates/bevy_pbr/src/meshlet/from_mesh.rs
  crates/bevy_pbr/src/meshlet/meshlet_bindings.wgsl
  crates/bevy_pbr/src/meshlet/meshlet_mesh_manager.rs
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/meshlet/persistent_buffer_impls.rs
  crates/bevy_pbr/src/meshlet/resource_manager.rs
  crates/bevy_pbr/src/meshlet/visibility_buffer_hardware_raster.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_resolve.wgsl
  crates/bevy_pbr/src/meshlet/visibility_buffer_software_raster.wgsl
  crates/bevy_pbr/src/render/utils.wgsl
  examples/3d/meshlet.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review, D-Complex, D-Modest

#15740 Replace `Handle<M: UiMaterial>` component with `UiMaterialHandle` wrapper
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/node_bundles.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  crates/bevy_ui/src/ui_material.rs
  examples/ui/ui_material.rs
Labels: A-UI, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#15711 Simplified easing curves
  Cargo.toml
  crates/bevy_math/src/common_traits.rs
  crates/bevy_math/src/curve/easing.rs
  crates/bevy_math/src/curve/mod.rs
  examples/README.md
  examples/animation/cubic_curve.rs
  examples/animation/eased_motion.rs
  examples/animation/easing_functions.rs
Labels: C-Usability, A-Math, D-Straightforward, S-Needs-Review

#15736 Remove warning for children in UI hierarchies without Style
  crates/bevy_ui/src/layout/ui_surface.rs
Labels: A-UI, C-Usability, X-Contentious, D-Straightforward, S-Needs-SME

#15739 Improve `fps_overlay` example
  examples/dev_tools/fps_overlay.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Dev-Tools, D-Straightforward

#15748 remove the interpolation dependency from bevy_math
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/curve/easing.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Math

#15582 Synchronize removed components with the render world
  crates/bevy_core_pipeline/src/auto_exposure/buffers.rs
  crates/bevy_core_pipeline/src/core_2d/camera_2d.rs
  crates/bevy_core_pipeline/src/core_2d/mod.rs
  crates/bevy_core_pipeline/src/core_3d/camera_3d.rs
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/dof/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_pbr/src/bundle.rs
  crates/bevy_pbr/src/cluster/mod.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/light/directional_light.rs
  crates/bevy_pbr/src/light/point_light.rs
  crates/bevy_pbr/src/light/spot_light.rs
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/extract_component.rs
  crates/bevy_render/src/extract_param.rs
  crates/bevy_render/src/gpu_readback.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/pipelined_rendering.rs
  crates/bevy_render/src/sync_component.rs
  crates/bevy_render/src/sync_world.rs
  crates/bevy_sprite/src/bundle.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_ui/src/render/box_shadow.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
  examples/3d/fog_volumes.rs
Labels: C-Bug, A-Rendering, A-ECS, S-Ready-For-Final-Review

#14848 Improved text batching
  crates/bevy_ui/src/render/mod.rs
Labels: A-Rendering, C-Performance, A-UI, S-Ready-For-Final-Review, A-Text, C-Needs-Release-Note, D-Modest

#15747 Use shader_def for oit resolve layer count
  crates/bevy_core_pipeline/src/oit/resolve/mod.rs
  crates/bevy_core_pipeline/src/oit/resolve/oit_resolve.wgsl
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#15743 Fix failing ` cargo check` with only the bevy_dev_tools feature
  crates/bevy_gizmos/src/lib.rs
Labels: C-Bug, D-Trivial, S-Ready-For-Final-Review, A-Gizmos

#15744 easing_functions example: draw point closer to its curve
  examples/animation/easing_functions.rs
Labels: D-Trivial, C-Examples, S-Ready-For-Final-Review, A-Math

#15742 Replace `Handle<AnimationGraph>` component with a wrapper
  crates/bevy_animation/src/graph.rs
  crates/bevy_animation/src/lib.rs
  crates/bevy_animation/src/transition.rs
  examples/3d/irradiance_volumes.rs
  examples/animation/animated_fox.rs
  examples/animation/animated_transform.rs
  examples/animation/animated_ui.rs
  examples/animation/animation_events.rs
  examples/animation/animation_graph.rs
  examples/animation/animation_masks.rs
  examples/animation/morph_targets.rs
  examples/stress_tests/many_foxes.rs
  examples/tools/scene_viewer/animation_plugin.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Animation, C-Breaking-Change, D-Straightforward

#15750 Ensure Bevy's rendering byte usage is little-endian
  crates/bevy_image/src/hdr_texture_loader.rs
  crates/bevy_image/src/image_texture_conversion.rs
  crates/bevy_render/src/diagnostic/internal.rs
Labels: C-Bug, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#15654 fix: Skip some rendering logics when the viewport width or height is zero
  crates/bevy_core_pipeline/src/bloom/settings.rs
  crates/bevy_pbr/src/cluster/assign.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/camera/camera_driver_node.rs
Labels: A-Rendering, A-Windowing, O-Windows, S-Ready-For-Final-Review, D-Straightforward

#15737 Migrate reflection probes to required components
  crates/bevy_pbr/src/light_probe/environment_map.rs
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/ssr/mod.rs
  examples/3d/reflection_probes.rs
Labels: A-Rendering, A-ECS, S-Ready-For-Final-Review

#15783 Add `register_type` for `UiAntiAlias`
  crates/bevy_ui/src/lib.rs
Labels: D-Trivial, S-Ready-For-Final-Review

#15784 Add `register_type` for `UiMaterialHandle` and `AnimationGraphHandle`
  crates/bevy_animation/src/lib.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
Labels: D-Trivial, S-Ready-For-Final-Review

#15759 Remove `thiserror` from `bevy_time`
  crates/bevy_time/Cargo.toml
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Time, X-Uncontroversial

#15786 Remove eprintln from `2d_screen_shake` example
  examples/camera/2d_screen_shake.rs
Labels: C-Examples, C-Code-Quality, S-Ready-For-Final-Review

#15787 Fix missing Msaa::Off in scrolling_fog example
  examples/3d/scrolling_fog.rs
Labels: D-Trivial, A-Rendering, C-Examples, S-Ready-For-Final-Review

#15780 Remove `thiserror` from `bevy_animation`
  crates/bevy_animation/Cargo.toml
  crates/bevy_animation/src/gltf_curves.rs
  crates/bevy_animation/src/graph.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Animation, X-Uncontroversial

#15779 Remove `thiserror` from `bevy_app`
  crates/bevy_app/Cargo.toml
  crates/bevy_app/src/app.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-App, X-Uncontroversial

#15777 Remove `thiserror` from `bevy_color`
  crates/bevy_color/Cargo.toml
  crates/bevy_color/src/color.rs
  crates/bevy_color/src/srgba.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial, A-Color

#15775 Remove `thiserror` from `bevy_core_pipeline`
  crates/bevy_core_pipeline/Cargo.toml
  crates/bevy_core_pipeline/src/auto_exposure/compensation_curve.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15774 Remove `thiserror` from `bevy_ecs`
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/error.rs
  crates/bevy_ecs/src/removal_detection.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/schedule/stepping.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_name.rs
  crates/bevy_ecs/src/system/system_registry.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/error.rs
  crates/bevy_ecs/src/world/reflect.rs
Labels: D-Trivial, A-ECS, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15773 Remove `thiserror` from `bevy_gilrs`
  crates/bevy_gilrs/Cargo.toml
  crates/bevy_gilrs/src/rumble.rs
Labels: D-Trivial, A-Input, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15772 Remove `thiserror` from `bevy_gltf`
  crates/bevy_gltf/Cargo.toml
  crates/bevy_gltf/src/loader.rs
  crates/bevy_gltf/src/vertex_attributes.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial, A-glTF

#15770 Remove `thiserror` from `bevy_input`
  crates/bevy_input/Cargo.toml
  crates/bevy_input/src/gamepad.rs
Labels: D-Trivial, A-Input, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15769 Remove `thiserror` from `bevy_math`
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/aspect_ratio.rs
  crates/bevy_math/src/cubic_splines.rs
  crates/bevy_math/src/curve/cores.rs
  crates/bevy_math/src/curve/interval.rs
  crates/bevy_math/src/curve/mod.rs
  crates/bevy_math/src/direction.rs
  crates/bevy_math/src/primitives/dim2.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#15768 Remove `thiserror` from `bevy_mesh`
  crates/bevy_mesh/Cargo.toml
  crates/bevy_mesh/src/conversions.rs
  crates/bevy_mesh/src/index.rs
  crates/bevy_mesh/src/mikktspace.rs
  crates/bevy_mesh/src/morph.rs
  crates/bevy_mesh/src/primitives/dim3/sphere.rs
  crates/bevy_mesh/src/vertex.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15771 Remove `thiserror` from `bevy_image`
  crates/bevy_image/Cargo.toml
  crates/bevy_image/src/exr_texture_loader.rs
  crates/bevy_image/src/hdr_texture_loader.rs
  crates/bevy_image/src/image.rs
  crates/bevy_image/src/image_texture_conversion.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15765 Remove `thiserror` from `bevy_render`
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/camera/clear_color.rs
  crates/bevy_render/src/camera/projection.rs
  crates/bevy_render/src/mesh/components.rs
  crates/bevy_render/src/render_asset.rs
  crates/bevy_render/src/render_graph/context.rs
  crates/bevy_render/src/render_graph/mod.rs
  crates/bevy_render/src/render_graph/node.rs
  crates/bevy_render/src/render_graph/node_slot.rs
  crates/bevy_render/src/render_phase/draw.rs
  crates/bevy_render/src/render_resource/bind_group.rs
  crates/bevy_render/src/render_resource/pipeline_cache.rs
  crates/bevy_render/src/render_resource/pipeline_specializer.rs
  crates/bevy_render/src/render_resource/shader.rs
  crates/bevy_render/src/renderer/graph_runner.rs
  crates/bevy_render/src/texture/compressed_image_saver.rs
  crates/bevy_render/src/texture/image_loader.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15766 Remove `thiserror` from `bevy_reflect`
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/enums/variants.rs
  crates/bevy_reflect/src/func/args/error.rs
  crates/bevy_reflect/src/func/error.rs
  crates/bevy_reflect/src/generics.rs
  crates/bevy_reflect/src/kind.rs
  crates/bevy_reflect/src/path/mod.rs
  crates/bevy_reflect/src/path/parse.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/type_info.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Reflection, X-Uncontroversial

#15760 Remove `thiserror` from `bevy_ui`
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/geometry.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/ui_material.rs
  crates/bevy_ui/src/ui_node.rs
Labels: D-Trivial, A-UI, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15761 Remove `thiserror` from `bevy_transform`
  crates/bevy_transform/Cargo.toml
  crates/bevy_transform/src/components/global_transform.rs
  crates/bevy_transform/src/helper.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Transform, X-Uncontroversial

#15762 Remove `thiserror` from `bevy_text`
  crates/bevy_text/Cargo.toml
  crates/bevy_text/src/error.rs
  crates/bevy_text/src/font_loader.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Text, X-Uncontroversial

#15764 Remove `thiserror` from `bevy_scene`
  crates/bevy_scene/Cargo.toml
  crates/bevy_scene/src/components.rs
  crates/bevy_scene/src/scene_loader.rs
  crates/bevy_scene/src/scene_spawner.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Scenes, X-Uncontroversial

#15763 Remove `thiserror` from `bevy_sprite`
  crates/bevy_sprite/Cargo.toml
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/texture_atlas_builder.rs
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15778 Remove `thiserror` from `bevy_asset`
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/src/assets.rs
  crates/bevy_asset/src/handle.rs
  crates/bevy_asset/src/id.rs
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_asset/src/io/source.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/path.rs
  crates/bevy_asset/src/processor/log.rs
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_asset/src/processor/process.rs
  crates/bevy_asset/src/server/info.rs
  crates/bevy_asset/src/server/loaders.rs
  crates/bevy_asset/src/server/mod.rs
Labels: D-Trivial, A-Assets, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#15754 Rename `App/World::observe` to `add_observer`, `EntityWorldMut::observe_entity` to `observe`.
  benches/benches/bevy_ecs/observers/propagation.rs
  benches/benches/bevy_ecs/observers/simple.rs
  crates/bevy_app/src/app.rs
  crates/bevy_dev_tools/src/ci_testing/systems.rs
  crates/bevy_ecs/README.md
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/observer_system.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_picking/src/events.rs
  crates/bevy_picking/src/lib.rs
  crates/bevy_render/src/sync_world.rs
  crates/bevy_scene/src/scene_spawner.rs
  crates/bevy_winit/src/cursor.rs
  examples/animation/animated_fox.rs
  examples/ecs/observer_propagation.rs
  examples/ecs/observers.rs
  examples/ecs/removal_detection.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, D-Domain-Agnostic

#15489 Migrate bevy_sprite to required components
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_sprite/src/bundle.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_sprite/src/picking_backend.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/sprite.rs
  crates/bevy_sprite/src/texture_atlas_builder.rs
  crates/bevy_sprite/src/texture_slice/computed_slices.rs
  examples/2d/bloom_2d.rs
  examples/2d/cpu_draw.rs
  examples/2d/move_sprite.rs
  examples/2d/pixel_grid_snap.rs
  examples/2d/rotation.rs
  examples/2d/sprite.rs
  examples/2d/sprite_animation.rs
  examples/2d/sprite_flipping.rs
  examples/2d/sprite_sheet.rs
  examples/2d/sprite_slice.rs
  examples/2d/sprite_tile.rs
  examples/2d/text2d.rs
  examples/2d/texture_atlas.rs
  examples/2d/transparency_2d.rs
  examples/animation/color_animation.rs
  examples/animation/easing_functions.rs
  examples/asset/alter_sprite.rs
  examples/asset/asset_decompression.rs
  examples/asset/asset_settings.rs
  examples/asset/custom_asset_reader.rs
  examples/asset/embedded_asset.rs
  examples/asset/extra_source.rs
  examples/audio/spatial_audio_2d.rs
  examples/ecs/fallible_params.rs
  examples/ecs/hierarchy.rs
  examples/ecs/parallel_query.rs
  examples/ecs/removal_detection.rs
  examples/games/breakout.rs
  examples/games/contributors.rs
  examples/games/desk_toy.rs
  examples/movement/physics_in_fixed_timestep.rs
  examples/picking/sprite_picking.rs
  examples/shader/compute_shader_game_of_life.rs
  examples/state/computed_states.rs
  examples/state/custom_transitions.rs
  examples/state/states.rs
  examples/state/sub_states.rs
  examples/stress_tests/bevymark.rs
  examples/stress_tests/many_animated_sprites.rs
  examples/stress_tests/many_sprites.rs
  examples/time/virtual_time.rs
  examples/tools/gamepad_viewer.rs
  examples/window/transparent_window.rs
  tests/window/minimising.rs
  tests/window/resizing.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, X-Blessed

#15790 Put curve-related stuff behind a feature
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/cubic_splines.rs
  crates/bevy_math/src/lib.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Math, X-Uncontroversial

#15749 Remove `Handle<T>` trait implementations that are dependent on `Component`
  crates/bevy_pbr/src/material.rs
  crates/bevy_render/src/extract_component.rs
  crates/bevy_render/src/extract_instances.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#15086 bevy_reflect: Add crate level `functions` feature docs
  crates/bevy_reflect/src/lib.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#15795 promote atlas sources texture_ids to pub visibility
  crates/bevy_sprite/src/texture_atlas.rs
Labels: D-Trivial, A-Rendering, A-UI, C-Usability, S-Ready-For-Final-Review

#15758 Add `World::get_resource_or_init` as an alternative to `World::get_resource_or_insert_with`
  crates/bevy_asset/src/lib.rs
  crates/bevy_ecs/src/event/registry.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_state/src/state/transitions.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward, D-Unsafe

#15797 Rename TextBlock to TextLayout
  crates/bevy_text/src/lib.rs
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_text/src/text_access.rs
  crates/bevy_ui/src/widget/text.rs
  examples/2d/sprite_slice.rs
  examples/2d/text2d.rs
  examples/2d/texture_atlas.rs
  examples/3d/blend_modes.rs
  examples/3d/tonemapping.rs
  examples/animation/animated_ui.rs
  examples/animation/animation_graph.rs
  examples/animation/animation_masks.rs
  examples/asset/multi_asset_sync.rs
  examples/async_tasks/external_source_external_thread.rs
  examples/ecs/one_shot_systems.rs
  examples/math/render_primitives.rs
  examples/mobile/src/lib.rs
  examples/stress_tests/many_glyphs.rs
  examples/stress_tests/text_pipeline.rs
  examples/time/virtual_time.rs
  examples/ui/display_and_visibility.rs
  examples/ui/size_constraints.rs
  examples/ui/text.rs
  examples/ui/text_debug.rs
  examples/ui/text_wrap_debug.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Text, X-Blessed

#15796 Remove the `Component` trait implementation from `Handle`
  crates/bevy_animation/src/animation_event.rs
  crates/bevy_asset/src/handle.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_gltf/src/loader.rs
  crates/bevy_pbr/src/meshlet/asset.rs
  crates/bevy_pbr/src/meshlet/instance_manager.rs
  crates/bevy_pbr/src/meshlet/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_sprite/src/bundle.rs
  crates/bevy_sprite/src/lib.rs
  examples/3d/clearcoat.rs
  examples/3d/meshlet.rs
  examples/animation/eased_motion.rs
  examples/asset/alter_sprite.rs
  examples/shader/compute_shader_game_of_life.rs
  examples/shader/custom_shader_instancing.rs
  examples/shader/specialized_mesh_pipeline.rs
Labels: A-Cross-Cutting, X-Blessed, D-Straightforward, S-Needs-Review

#15798 Improvements .gitignore
  .gitignore
Labels: D-Trivial, A-Meta, S-Ready-For-Final-Review, X-Uncontroversial
