Repository bevyengine/bevy, pull requests merged in 2024-01, with the labels that each got.

#11164 impl ExclusiveSystemParam for WorldId
  crates/bevy_ecs/src/world/identifier.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11153 impl ExclusiveSystemParam for PhantomData
  crates/bevy_ecs/src/system/exclusive_system_param.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11149 Remove little warn on bevy_ecs
  crates/bevy_ecs/macros/src/lib.rs
Labels: A-ECS, C-Code-Quality

#11118 Rename `ArchetypeEntity::entity` into `ArchetypeEntity::id`
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_scene/src/scene.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#11040 Replace or document ignored doctests
  crates/bevy_app/src/app.rs
  crates/bevy_app/src/plugin_group.rs
  crates/bevy_asset/src/path.rs
  crates/bevy_asset/src/reflect.rs
  crates/bevy_core/src/name.rs
  crates/bevy_diagnostic/src/diagnostic.rs
  crates/bevy_ecs/src/change_detection.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/reflect/component.rs
  crates/bevy_ecs/src/reflect/entity_commands.rs
  crates/bevy_ecs/src/schedule/state.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/system/system_registry.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_input/src/common_conditions.rs
  crates/bevy_macro_utils/src/fq_std.rs
  crates/bevy_math/src/rects/irect.rs
  crates/bevy_math/src/rects/rect.rs
  crates/bevy_math/src/rects/urect.rs
  crates/bevy_reflect/bevy_reflect_derive/src/container_attributes.rs
  crates/bevy_reflect/bevy_reflect_derive/src/derive_data.rs
  crates/bevy_reflect/bevy_reflect_derive/src/lib.rs
  crates/bevy_reflect/bevy_reflect_derive/src/reflect_value.rs
  crates/bevy_reflect/bevy_reflect_derive/src/utility.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/serde/de.rs
  crates/bevy_reflect/src/type_path.rs
  crates/bevy_reflect/src/type_registry.rs
  crates/bevy_render/src/extract_param.rs
  crates/bevy_render/src/render_phase/draw.rs
  crates/bevy_render/src/render_phase/draw_state.rs
  crates/bevy_render/src/render_resource/bind_group_entries.rs
  crates/bevy_render/src/render_resource/bind_group_layout_entries.rs
  crates/bevy_tasks/src/single_threaded_task_pool.rs
  crates/bevy_tasks/src/slice.rs
  crates/bevy_tasks/src/task_pool.rs
  crates/bevy_tasks/src/thread_executor.rs
  crates/bevy_time/src/common_conditions.rs
  crates/bevy_transform/src/components/global_transform.rs
  examples/animation/gltf_skinned_mesh.rs
Labels: C-Docs, C-Code-Quality, S-Ready-For-Final-Review, C-Testing

#11103 Fixed Typo in the description of EntityMut
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#11104 Implement Deref and DerefMut for In
  crates/bevy_ecs/src/system/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11106 refactor collide code (Adopted)
  crates/bevy_sprite/src/collide_aabb.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Physics

#11110 Fix Mesh::ATTRIBUTE_UV_0 documentation
  crates/bevy_render/src/mesh/mesh/mod.rs
  crates/bevy_render/src/texture/image.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#11163 impl ExclusiveSystemParam for SystemName
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/system_name.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11170 Print to stderr from panic handler in LogPlugin
  crates/bevy_log/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Diagnostics

#11166 Export tonemapping_pipeline_key (2d), alpha_mode_pipeline_key
  crates/bevy_pbr/src/material.rs
  crates/bevy_sprite/src/mesh2d/material.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#11171 Add ability to panic to logs example
  examples/app/logs.rs
Labels: C-Examples, S-Ready-For-Final-Review, C-Testing, A-Diagnostics

#11128 Add window entity to TouchInput events
  crates/bevy_input/src/touch.rs
  crates/bevy_winit/src/converters.rs
  crates/bevy_winit/src/lib.rs
Labels: C-Bug, A-Input, S-Ready-For-Final-Review, C-Breaking-Change

#11179 Implement `Neg` for `Direction2d` and `Direction3d`
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#11176 Add `approx` feature to `bevy_math`
  crates/bevy_math/Cargo.toml
  crates/bevy_transform/Cargo.toml
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#11178 Enable cloning EntityHashMap and PreHashMap
  crates/bevy_utils/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Utils

#10892 Publish dev-docs with Github Pages artifacts (2nd attempt)
  .github/workflows/docs.yml
Labels: C-Docs, C-Enhancement, A-Build-System, S-Ready-For-Final-Review

#11045 Simplify examples/3d/orthographic
  examples/3d/orthographic.rs
Labels: A-Rendering, C-Examples

#10951 Add `bevy_hierarchy` Crate and plugin documentation
  crates/bevy_hierarchy/src/lib.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Hierarchy

#10231 Implement lightmaps.
  Cargo.toml
  assets/lightmaps/CornellBox-Box.zstd.ktx2
  assets/lightmaps/CornellBox-Large.zstd.ktx2
  assets/lightmaps/CornellBox-Small.zstd.ktx2
  assets/models/CornellBox/CornellBox.glb
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/lightmap/lightmap.wgsl
  crates/bevy_pbr/src/lightmap/mod.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/prepass/prepass_io.wgsl
  crates/bevy_pbr/src/render/forward_io.wgsl
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/render/mesh.wgsl
  crates/bevy_pbr/src/render/mesh_bindings.rs
  crates/bevy_pbr/src/render/mesh_types.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_types.wgsl
  examples/3d/lightmaps.rs
  examples/README.md
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review, D-Complex

#11182 Add static assertions to bevy_utils for compile-time checks
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/src/lib.rs
Labels: C-Code-Quality, C-Testing

#10520 Unload render assets from RAM
  crates/bevy_asset/src/assets.rs
  crates/bevy_asset/src/event.rs
  crates/bevy_asset/src/handle.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_core_pipeline/src/tonemapping/mod.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gltf/src/loader.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_render/src/mesh/mesh/mod.rs
  crates/bevy_render/src/mesh/morph.rs
  crates/bevy_render/src/mesh/shape/capsule.rs
  crates/bevy_render/src/mesh/shape/cylinder.rs
  crates/bevy_render/src/mesh/shape/icosphere.rs
  crates/bevy_render/src/mesh/shape/mod.rs
  crates/bevy_render/src/mesh/shape/regular_polygon.rs
  crates/bevy_render/src/mesh/shape/torus.rs
  crates/bevy_render/src/mesh/shape/uvsphere.rs
  crates/bevy_render/src/render_asset.rs
  crates/bevy_render/src/render_resource/pipeline_cache.rs
  crates/bevy_render/src/texture/compressed_image_saver.rs
  crates/bevy_render/src/texture/exr_texture_loader.rs
  crates/bevy_render/src/texture/fallback_image.rs
  crates/bevy_render/src/texture/hdr_texture_loader.rs
  crates/bevy_render/src/texture/image.rs
  crates/bevy_render/src/texture/image_loader.rs
  crates/bevy_render/src/texture/image_texture_conversion.rs
  crates/bevy_render/src/view/window/screenshot.rs
  crates/bevy_sprite/src/dynamic_texture_atlas_builder.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/texture_atlas_builder.rs
  crates/bevy_text/src/font.rs
  crates/bevy_text/src/font_atlas.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  crates/bevy_ui/src/widget/text.rs
  examples/2d/mesh2d_manual.rs
  examples/3d/3d_shapes.rs
  examples/3d/anti_aliasing.rs
  examples/3d/generate_custom_mesh.rs
  examples/3d/lines.rs
  examples/3d/tonemapping.rs
  examples/animation/custom_skinned_mesh.rs
  examples/shader/compute_shader_game_of_life.rs
  examples/stress_tests/bevymark.rs
  examples/stress_tests/many_cubes.rs
Labels: A-Rendering, A-Assets, C-Performance, S-Ready-For-Final-Review, C-Breaking-Change

#11191 Bump the vertex attribute index for prepass joints.
  crates/bevy_pbr/src/prepass/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#11192 Fix: Gizmos crash due to the persistence policy being set to `Unload`. Change it to `Keep`
  crates/bevy_gizmos/src/lib.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#11193 Fix typos plugin.rs
  crates/bevy_app/src/plugin.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-App

#11146 Print a warning for un-applied commands being dropped from a CommandQueue
  crates/bevy_ecs/src/system/commands/command_queue.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11188 Create serialize feature for bevy_ui
  crates/bevy_internal/Cargo.toml
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/focus.rs
  crates/bevy_ui/src/geometry.rs
  crates/bevy_ui/src/ui_node.rs
Labels: A-UI, C-Code-Quality, S-Ready-For-Final-Review

#11199 Made the remaining types from bevy_ui to reflect the Default trait if…
  crates/bevy_ui/src/focus.rs
  crates/bevy_ui/src/geometry.rs
  crates/bevy_ui/src/ui_node.rs
Labels: A-UI, C-Usability, S-Ready-For-Final-Review

#11206 missed negation during accessibility refactor
  crates/bevy_winit/src/accessibility.rs
Labels: C-Bug, C-Accessibility, S-Ready-For-Final-Review

#10736 Usability methods for RenderTargets and image handles
  crates/bevy_render/src/camera/camera.rs
  examples/3d/render_to_texture.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#11189 Explain Camera physical size is in pixel
  crates/bevy_render/src/camera/camera.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#11195 Implement TypePath for EntityHash
  crates/bevy_reflect/src/impls/std.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#10799 Fix integer overflow in BlobVec::push for ZST
  crates/bevy_ecs/src/storage/blob_vec.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#10930 Extend `Touches` with clear and reset methods
  crates/bevy_input/src/touch.rs
Labels: C-Enhancement, A-Input, S-Ready-For-Final-Review

#11212 assets should be kept on CPU by default
  crates/bevy_gltf/src/loader.rs
  crates/bevy_render/src/mesh/shape/capsule.rs
  crates/bevy_render/src/mesh/shape/cylinder.rs
  crates/bevy_render/src/mesh/shape/icosphere.rs
  crates/bevy_render/src/mesh/shape/mod.rs
  crates/bevy_render/src/mesh/shape/regular_polygon.rs
  crates/bevy_render/src/mesh/shape/torus.rs
  crates/bevy_render/src/mesh/shape/uvsphere.rs
  crates/bevy_render/src/render_asset.rs
  crates/bevy_render/src/texture/image.rs
  crates/bevy_render/src/texture/image_loader.rs
  crates/bevy_sprite/src/texture_atlas_builder.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review

#11234 Fix integer overflow in BlobVec::reserve_exact
  crates/bevy_ecs/src/storage/blob_vec.rs
Labels: C-Bug, A-ECS

#11227 Fix perf degradation on web builds
  crates/bevy_render/src/renderer/mod.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/winit_config.rs
Labels: C-Bug, A-Windowing, C-Performance, P-High

#11238 Add `libm` feature to `bevy_math`
  crates/bevy_math/Cargo.toml
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#11239 Change SceneSpawner::spawn_dynamic_sync to return InstanceID
  crates/bevy_scene/src/scene_spawner.rs
Labels: C-Bug, C-Usability, S-Ready-For-Final-Review, A-Scenes

#11243 update Outdated comment
  crates/bevy_pbr/src/render/mesh.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#11242 Migrate third party plugins guidelines to the book
  README.md
  docs/plugins_guidelines.md
Labels: C-Docs, A-Meta, S-Ready-For-Final-Review

#11250 example showcase patches: use default instead of game mode for desktop
  tools/example-showcase/remove-desktop-app-mode.patch
Labels: A-Build-System, S-Ready-For-Final-Review

#11218 Don't auto create assets folder
  crates/bevy_asset/src/io/file/mod.rs
  crates/bevy_asset/src/io/source.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review, S-Controversial

#10939 Add `reserve_handle` to `Assets`.
  crates/bevy_asset/src/assets.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review

#11023 Explain OrthographicProjection.scale
  crates/bevy_render/src/camera/projection.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#11030 Mul<f32> for ScalingMode
  crates/bevy_render/src/camera/projection.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#11089 StateTransitionEvent
  crates/bevy_app/src/app.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/state.rs
  examples/ecs/state.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11107 Restore support for running `fn` `EntityCommands` on entities that might be despawned
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#11142 Remove apply_deferred example
  Cargo.toml
  examples/README.md
  examples/ecs/apply_deferred.rs
Labels: A-ECS, C-Examples, S-Ready-For-Final-Review

#11172 Add `new_and_length` method to `Direction2d` and `Direction3d`
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_math/src/primitives/mod.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#11226 Minimize small allocations by dropping the tick Vecs from Resources
  crates/bevy_ecs/src/storage/resource.rs
  crates/bevy_ecs/src/storage/table.rs
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review

#9907 Change Entity::generation from u32 to NonZeroU32 for niche optimization
  benches/benches/bevy_utils/entity_hash.rs
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_scene/src/serde.rs
Labels: A-ECS, C-Performance, C-Usability, S-Ready-For-Final-Review

#11018 Explain where rendering is
  crates/bevy_app/src/main_schedule.rs
  crates/bevy_render/src/lib.rs
Labels: C-Docs, A-Rendering, A-ECS, S-Ready-For-Final-Review

#11082 Update `glam`, `encase` and `hexasphere`
  benches/Cargo.toml
  crates/bevy_animation/src/lib.rs
  crates/bevy_math/Cargo.toml
  crates/bevy_math/src/lib.rs
  crates/bevy_mikktspace/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_render/Cargo.toml
  examples/3d/parallax_mapping.rs
  examples/ui/ui_scaling.rs
Labels: C-Dependencies, S-Ready-For-Final-Review, A-Math

#11254 Better error message on incorrect asset label
  crates/bevy_asset/src/server/mod.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review

#11095 Add run conditions for executing a system after a delay
  crates/bevy_time/src/common_conditions.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Time

#11031 Rustdoc examples for OrthographicProjection
  crates/bevy_render/src/camera/projection.rs
Labels: C-Docs, A-Rendering, S-Ready-For-Final-Review

#11261 Fix missed explicit conversions in examples
  examples/2d/2d_shapes.rs
  examples/2d/bloom_2d.rs
  examples/2d/mesh2d.rs
  examples/2d/mesh2d_vertex_color_texture.rs
  examples/2d/pixel_grid_snap.rs
  examples/3d/transmission.rs
Labels: C-Examples, C-Code-Quality, S-Ready-For-Final-Review

#11248 Option to enable deterministic rendering
  Cargo.toml
  crates/bevy_render/src/deterministic.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/view/visibility/mod.rs
  examples/3d/deterministic.rs
  examples/README.md
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#11245 mobile and webgpu: trigger redraw request when needed and improve window creation
  crates/bevy_winit/src/lib.rs
Labels: C-Bug, A-Windowing, P-High, O-Android, O-iOS, S-Ready-For-Final-Review, O-WebGPU

#11269 Remove unused event-listener dependency
  crates/bevy_ecs/Cargo.toml
Labels: C-Dependencies

#11270 Remove unnecessary unsafe impls for WinitWindows on Wasm
  crates/bevy_winit/src/winit_windows.rs
Labels: A-Windowing, C-Code-Quality, S-Ready-For-Final-Review

#10411 resolve all internal ambiguities
  crates/bevy_a11y/src/lib.rs
  crates/bevy_app/src/app.rs
  crates/bevy_audio/src/audio_output.rs
  crates/bevy_core_pipeline/src/blit/mod.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  crates/bevy_internal/src/default_plugins.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/view/mod.rs
  crates/bevy_text/src/lib.rs
  crates/bevy_ui/src/accessibility.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_winit/src/accessibility.rs
Labels: A-ECS, C-Usability, A-Meta, S-Ready-For-Final-Review

#11162 fix B0003 example and update logs
  errors/B0003.md
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#10946 Implement bounding volume types
  crates/bevy_math/src/bounding/bounded2d.rs
  crates/bevy_math/src/bounding/bounded3d.rs
  crates/bevy_math/src/bounding/mod.rs
  crates/bevy_math/src/lib.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math

#11293 Fixed typo in generate_custom_mesh.rs example
  examples/3d/generate_custom_mesh.rs
Labels: C-Examples

#11292 Fix ssao only sampling mip 0
  crates/bevy_pbr/src/ssao/gtao.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#11313 Add paused run condition
  crates/bevy_time/src/common_conditions.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, A-Time

#9797 Unified identifer for entities & relations
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/identifier/error.rs
  crates/bevy_ecs/src/identifier/kinds.rs
  crates/bevy_ecs/src/identifier/masks.rs
  crates/bevy_ecs/src/identifier/mod.rs
  crates/bevy_ecs/src/lib.rs
Labels: C-Enhancement, A-ECS, C-Code-Quality, D-Complex

#11316 Simplify conditions
  crates/bevy_ecs/src/change_detection.rs
  crates/bevy_ecs/src/schedule/condition.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_pbr/src/wireframe.rs
  examples/ecs/run_conditions.rs
Labels: A-ECS, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#11319 Add example using `State` in docs
  crates/bevy_ecs/src/schedule/state.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#11268 Skip rehashing TypeIds
  crates/bevy_ecs/src/lib.rs
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review

#11306 Clean up code to find the current keyframe
  crates/bevy_animation/src/lib.rs
Labels: C-Code-Quality, C-Usability, S-Ready-For-Final-Review, A-Animation

#11330 Skip alloc when updating animation path cache
  crates/bevy_animation/src/lib.rs
Labels: C-Performance, A-Animation

#11326 UI text rotation and scaling fix
  crates/bevy_ui/src/render/mod.rs
Labels: C-Bug, A-UI, A-Transform, A-Text

#11332 Inline trivial methods in bevy_hierarchy
  crates/bevy_hierarchy/src/components/children.rs
  crates/bevy_hierarchy/src/components/parent.rs
Labels: C-Performance, S-Ready-For-Final-Review, A-Hierarchy

#11334 Make `TypeId::hash` more robust in case of upstream rustc changes
  crates/bevy_ecs/src/lib.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review

#11335 Remove `Default` impl for `CubicCurve`
  crates/bevy_math/src/cubic_splines.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math, C-Breaking-Change

#11338 Extract examples `CameraController` into a module
  examples/3d/shadow_biases.rs
  examples/3d/skybox.rs
  examples/helpers/camera_controller.rs
  examples/tools/scene_viewer/camera_controller_plugin.rs
  examples/tools/scene_viewer/main.rs
  examples/tools/scene_viewer/scene_viewer_plugin.rs
Labels: C-Examples, C-Code-Quality, S-Ready-For-Final-Review

#11296 Warn when bevy_sprite and bevy_pbr are not enabled with bevy_gizmos
  crates/bevy_gizmos/Cargo.toml
  crates/bevy_gizmos/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Gizmos

#11331 Make sure tracy deps conform to compatibility table
  crates/bevy_log/Cargo.toml
Labels: C-Dependencies, C-Code-Quality, S-Ready-For-Final-Review, A-Diagnostics

#11327 Describe purpose of bevy_diagnostic
  crates/bevy_diagnostic/src/lib.rs
Labels: C-Docs, S-Ready-For-Final-Review, A-Diagnostics

#10822 Add support for updating the tracing subscriber in LogPlugin
  Cargo.toml
  crates/bevy_log/src/lib.rs
  examples/README.md
  examples/app/log_layers.rs
  examples/ecs/system_piping.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Diagnostics

#11092 Remove the ability to ignore global volume
  crates/bevy_audio/src/audio.rs
  crates/bevy_audio/src/audio_output.rs
  crates/bevy_audio/src/lib.rs
Labels: A-Audio, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#11353 Use EntityHashMap whenever possible
  crates/bevy_gltf/src/loader.rs
  crates/bevy_pbr/src/bundle.rs
  crates/bevy_pbr/src/light.rs
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_render/src/primitives/mod.rs
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_render/src/view/window/screenshot.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_winit/src/accessibility.rs
  crates/bevy_winit/src/system.rs
  crates/bevy_winit/src/winit_windows.rs
Labels: C-Performance, S-Ready-For-Final-Review

#11152 Approximate indirect specular occlusion
  crates/bevy_pbr/src/deferred/deferred_lighting.wgsl
  crates/bevy_pbr/src/deferred/pbr_deferred_functions.wgsl
  crates/bevy_pbr/src/render/pbr_fragment.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
  crates/bevy_pbr/src/render/pbr_types.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#11305 Change `WinitPlugin` defaults to limit game update rate when window is not visible (for real this time)
  crates/bevy_winit/src/winit_config.rs
Labels: C-Bug, A-Windowing, S-Ready-For-Final-Review

#11360 Fix doc of [`Schedules`] to mention exclusion of current schedule.
  crates/bevy_ecs/src/schedule/schedule.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#10692 Async channel v2
  crates/bevy_ecs/Cargo.toml
  crates/bevy_render/Cargo.toml
  crates/bevy_render/src/lib.rs
  crates/bevy_tasks/Cargo.toml
Labels: A-ECS, C-Dependencies, S-Ready-For-Final-Review, A-Tasks, C-Breaking-Change

#10559 Camera-driven UI
  Cargo.toml
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_ui/src/camera_config.rs
  crates/bevy_ui/src/focus.rs
  crates/bevy_ui/src/layout/debug.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/render_pass.rs
  crates/bevy_ui/src/ui_node.rs
  crates/bevy_ui/src/update.rs
  examples/3d/split_screen.rs
  examples/README.md
  examples/ui/relative_cursor_position.rs
  examples/ui/render_ui_to_texture.rs
  examples/window/multiple_windows.rs
Labels: C-Enhancement, A-UI, S-Ready-For-Final-Review

#11342 Bump toml_edit in build-template-pages tool
  crates/bevy_macro_utils/Cargo.toml
  tools/build-templated-pages/Cargo.toml
  tools/example-showcase/Cargo.toml
Labels: A-Build-System, C-Performance, S-Ready-For-Final-Review

#5103 Texture Atlas rework
  crates/bevy_sprite/src/bundle.rs
  crates/bevy_sprite/src/dynamic_texture_atlas_builder.rs
  crates/bevy_sprite/src/lib.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/texture_atlas.rs
  crates/bevy_sprite/src/texture_atlas_builder.rs
  crates/bevy_text/src/font_atlas.rs
  crates/bevy_text/src/font_atlas_set.rs
  crates/bevy_text/src/glyph_brush.rs
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/node_bundles.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/ui_node.rs
  crates/bevy_ui/src/widget/image.rs
  crates/bevy_ui/src/widget/text.rs
  examples/2d/sprite_sheet.rs
  examples/2d/texture_atlas.rs
  examples/stress_tests/many_animated_sprites.rs
  examples/ui/font_atlas_debug.rs
  examples/ui/ui_texture_atlas.rs
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, S-Controversial

#11361 Use glam for computing gLTF node transform
  crates/bevy_gltf/src/loader.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review, A-Math

#11370 Fix embedded watcher to work with external crates
  crates/bevy_asset/src/io/embedded/mod.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review

#11368 Remove Vec from GpuArrayBuffer
  crates/bevy_render/src/render_resource/gpu_array_buffer.rs
Labels: A-Rendering, C-Performance, C-Code-Quality, S-Ready-For-Final-Review

#9774 Dynamic queries and builder API
  Cargo.toml
  crates/bevy_ecs/macros/src/world_query.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/builder.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/mod.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/query/world_query.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs_compile_fail_tests/tests/ui/query_transmute_safety.rs
  crates/bevy_ecs_compile_fail_tests/tests/ui/query_transmute_safety.stderr
  examples/README.md
  examples/ecs/dynamic.rs
Labels: C-Enhancement, A-ECS, S-Ready-For-Final-Review, S-Controversial

#11373 Make `DynamicUniformBuffer::push` accept an `&T` instead of `T`
  crates/bevy_render/src/render_resource/batched_uniform_buffer.rs
  crates/bevy_render/src/render_resource/uniform_buffer.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#11388 Remove duplicate `#[automatically_derived]` in ECS macro
  crates/bevy_ecs/macros/src/world_query.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review

#11371 fix occasional crash moving ui root nodes
  crates/bevy_ui/src/layout/mod.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#11381 [doc] Fix typo and formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: C-Docs, S-Ready-For-Final-Review

#11389 Restore brightness in the remaining three examples after exposure PR
  examples/asset/asset_loading.rs
  examples/asset/hot_asset_reloading.rs
  examples/ui/render_ui_to_texture.rs
Labels: A-Rendering, C-Examples

#11369 Added AssetLoadFailedEvent, UntypedAssetLoadFailedEvent
  crates/bevy_asset/src/event.rs
  crates/bevy_asset/src/io/mod.rs
  crates/bevy_asset/src/io/source.rs
  crates/bevy_asset/src/io/wasm.rs
  crates/bevy_asset/src/lib.rs
  crates/bevy_asset/src/loader.rs
  crates/bevy_asset/src/processor/mod.rs
  crates/bevy_asset/src/server/info.rs
  crates/bevy_asset/src/server/mod.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review

#10342 Multiple Configurations for Gizmos
  crates/bevy_gizmos/Cargo.toml
  crates/bevy_gizmos/macros/Cargo.toml
  crates/bevy_gizmos/macros/src/lib.rs
  crates/bevy_gizmos/src/aabb.rs
  crates/bevy_gizmos/src/arcs.rs
  crates/bevy_gizmos/src/arrows.rs
  crates/bevy_gizmos/src/circles.rs
  crates/bevy_gizmos/src/config.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_gizmos/src/pipeline_2d.rs
  crates/bevy_gizmos/src/pipeline_3d.rs
  examples/2d/2d_gizmos.rs
  examples/3d/3d_gizmos.rs
  examples/tools/scene_viewer/scene_viewer_plugin.rs
Labels: C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, A-Gizmos

#11404 Get Change Tick methods for Resources
  crates/bevy_ecs/src/world/mod.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11407 Use `static_assertions` to check for trait impls
  crates/bevy_reflect/Cargo.toml
  crates/bevy_reflect/src/impls/std.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Reflection

#11405 Fix panic on Text UI without Cameras
  crates/bevy_ui/src/layout/mod.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#11412 Customizable camera main texture usage
  crates/bevy_core_pipeline/src/core_2d/camera_2d.rs
  crates/bevy_core_pipeline/src/core_3d/camera_3d.rs
  crates/bevy_render/src/camera/camera.rs
  crates/bevy_render/src/camera/mod.rs
  crates/bevy_render/src/view/mod.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#11421 Miri is failing on latest nightly: pin nightly to last known working version
  .github/workflows/ci.yml
Labels: A-Build-System, S-Ready-For-Final-Review

#11420 Fix gizmos app new panic
  crates/bevy_gizmos/src/lib.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Gizmos

#11419 move once from bevy_log to bevy_utils, to allow for it's use in bevy_ecs
  crates/bevy_log/src/lib.rs
  crates/bevy_utils/src/lib.rs
  crates/bevy_utils/src/once.rs
Labels: S-Ready-For-Final-Review, A-Diagnostics, A-Utils

#11416 Cleanup deterministic example
  examples/3d/deterministic.rs
Labels: A-Rendering, C-Examples, S-Ready-For-Final-Review

#11403 Winit update: fix suspend on Android
  crates/bevy_winit/src/lib.rs
Labels: C-Bug, A-Audio, A-Windowing, O-Android, S-Ready-For-Final-Review

#9623 Add `ReflectFromWorld` and replace the `FromWorld` requirement on `ReflectComponent` and `ReflectBundle` with `FromReflect`
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/reflect/bundle.rs
  crates/bevy_ecs/src/reflect/component.rs
  crates/bevy_ecs/src/reflect/entity_commands.rs
  crates/bevy_ecs/src/reflect/from_world.rs
  crates/bevy_ecs/src/reflect/mod.rs
  crates/bevy_scene/src/dynamic_scene.rs
  crates/bevy_scene/src/scene.rs
  examples/scene/scene.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection

#11417 Optional state
  crates/bevy_ecs/src/schedule/condition.rs
  crates/bevy_ecs/src/schedule/state.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#11418 Bump dev-docs pages actions
  .github/workflows/docs.yml
Labels: A-Build-System, S-Ready-For-Final-Review

#11323 optimize batch_and_prepare_render_phase
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/batching/mod.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#9266 Replace `DiagnosticId` by `DiagnosticPath`
  crates/bevy_diagnostic/Cargo.toml
  crates/bevy_diagnostic/src/diagnostic.rs
  crates/bevy_diagnostic/src/entity_count_diagnostics_plugin.rs
  crates/bevy_diagnostic/src/frame_time_diagnostics_plugin.rs
  crates/bevy_diagnostic/src/lib.rs
  crates/bevy_diagnostic/src/log_diagnostics_plugin.rs
  crates/bevy_diagnostic/src/system_information_diagnostics_plugin.rs
  examples/diagnostics/custom_diagnostic.rs
  examples/stress_tests/bevymark.rs
  examples/stress_tests/many_gizmos.rs
  examples/ui/text.rs
  examples/ui/text_debug.rs
Labels: C-Usability, S-Ready-For-Final-Review, C-Breaking-Change, A-Diagnostics

#11434 Improve `Rectangle` and `Cuboid` consistency
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Usability, A-Math

#11435 Change `Ellipse` representation and improve helpers
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/primitives/dim2.rs
Labels: C-Usability, A-Math

#11440 add a required feature for shader_material_glsl
  Cargo.toml
Labels: C-Examples, S-Ready-For-Final-Review

#11433 Add `Aabb2d::new` and `Aabb3d::new` constructors
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded2d/primitive_impls.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#11432 Add geometric primitives to `bevy_math::prelude`
  crates/bevy_math/src/lib.rs
  examples/3d/3d_viewport_to_world.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Math

#11425 Direction: Rename `from_normalized` to `new_unchecked`
  crates/bevy_math/src/bounding/bounded3d/primitive_impls.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Math

#11284 auto create imported asset folder if needed
  crates/bevy_asset/src/io/file/mod.rs
  crates/bevy_asset/src/io/source.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review

#11422 Use Direction3d for gizmos.circle normal
  crates/bevy_gizmos/src/circles.rs
  crates/bevy_gizmos/src/gizmos.rs
  examples/3d/3d_gizmos.rs
  examples/3d/3d_viewport_to_world.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Gizmos

#11447 Fix reflected serialization/deserialization on `Name` component
  crates/bevy_core/src/name.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Reflection, C-Breaking-Change

#11455 Fix wrong transmuted type in `TaskPool::scope_with_executor_inner`
  crates/bevy_tasks/src/task_pool.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Tasks

#11027 Revert rendering-related associated type name changes
  crates/bevy_core_pipeline/src/bloom/mod.rs
  crates/bevy_core_pipeline/src/bloom/settings.rs
  crates/bevy_core_pipeline/src/contrast_adaptive_sharpening/mod.rs
  crates/bevy_core_pipeline/src/core_3d/main_opaque_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_transmissive_pass_3d_node.rs
  crates/bevy_core_pipeline/src/core_3d/main_transparent_pass_3d_node.rs
  crates/bevy_core_pipeline/src/deferred/copy_lighting_id.rs
  crates/bevy_core_pipeline/src/deferred/node.rs
  crates/bevy_core_pipeline/src/fxaa/node.rs
  crates/bevy_core_pipeline/src/prepass/node.rs
  crates/bevy_core_pipeline/src/skybox/mod.rs
  crates/bevy_core_pipeline/src/taa/mod.rs
  crates/bevy_core_pipeline/src/tonemapping/node.rs
  crates/bevy_core_pipeline/src/upscaling/node.rs
  crates/bevy_gizmos/src/lib.rs
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/light_probe/environment_map.rs
  crates/bevy_pbr/src/material.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_render/macros/src/extract_component.rs
  crates/bevy_render/src/extract_component.rs
  crates/bevy_render/src/extract_instances.rs
  crates/bevy_render/src/render_graph/node.rs
  crates/bevy_render/src/render_phase/draw.rs
  crates/bevy_render/src/render_phase/mod.rs
  crates/bevy_sprite/src/mesh2d/material.rs
  crates/bevy_sprite/src/mesh2d/mesh.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_ui/src/render/render_pass.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  examples/shader/post_processing.rs
  examples/shader/shader_instancing.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#11167 Double the capacity when BlobVec is full
  crates/bevy_ecs/src/storage/blob_vec.rs
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review

#11289 Fix scene example
  assets/scenes/load_scene_example.scn.ron
Labels: C-Bug, C-Examples, S-Ready-For-Final-Review, A-Scenes

#11397 Add Reflection for Wrapping/Saturating types
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/type_uuid_impl.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection

#11400 Add logical key data to KeyboardInput
  crates/bevy_input/Cargo.toml
  crates/bevy_input/src/keyboard.rs
  crates/bevy_input/src/lib.rs
  crates/bevy_winit/src/converters.rs
Labels: C-Enhancement, A-Input, S-Ready-For-Final-Review

#11442 Meshlet prep
  crates/bevy_core_pipeline/src/core_3d/mod.rs
  crates/bevy_core_pipeline/src/deferred/copy_lighting_id.rs
  crates/bevy_core_pipeline/src/deferred/node.rs
  crates/bevy_core_pipeline/src/prepass/mod.rs
  crates/bevy_pbr/src/deferred/pbr_deferred_functions.wgsl
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/prepass/prepass.wgsl
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_render/src/mesh/mesh/mod.rs
  crates/bevy_render/src/primitives/mod.rs
  crates/bevy_render/src/render_resource/mod.rs
  crates/bevy_render/src/view/mod.rs
  examples/3d/spotlight.rs
  examples/3d/update_gltf_scene.rs
Labels: C-Enhancement, A-Rendering, S-Ready-For-Final-Review

#11321 document which lifetime is needed for systemparam derive
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#11445 refactor: Simplify lifetimes for `Commands` and related types
  crates/bevy_ecs/src/reflect/entity_commands.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_hierarchy/src/child_builder.rs
  crates/bevy_hierarchy/src/hierarchy.rs
  crates/bevy_transform/src/commands.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, C-Breaking-Change

#11461 Fix memory leak in dynamic ECS example
  examples/ecs/dynamic.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Pointers

#11474 TextureAtlasBuilder now respects insertion order
  crates/bevy_sprite/src/texture_atlas_builder.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, A-Animation

#11444 Implement `Debug` for `CommandQueue`
  crates/bevy_ecs/src/system/commands/command_queue.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review

#11439 Implement bounding volume intersections
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
Labels: C-Enhancement, S-Ready-For-Final-Review, A-Math

#11462 Unpin nightly for miri
  .github/workflows/ci.yml
Labels: A-Build-System, S-Ready-For-Final-Review

#11486 Fix typo in comment
  crates/bevy_ecs/src/world/mod.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#11483 Register `AssetPath` as type for reflection
  crates/bevy_asset/src/lib.rs
Labels: A-Assets, C-Usability, A-Reflection

#11484 Tweak gamepad viewer example style
  examples/tools/gamepad_viewer.rs
Labels: C-Examples, C-Code-Quality, S-Ready-For-Final-Review

#11491 Fix minor typo
  crates/bevy_asset/src/server/mod.rs
Labels: C-Docs, A-Assets, S-Ready-For-Final-Review

#11506 Add `.toml` extension to `.cargo/config_fast_builds`
  .cargo/config_fast_builds.toml
Labels: C-Docs, S-Ready-For-Final-Review

#11508 Add README to benches
  benches/README.md
Labels: C-Docs, S-Ready-For-Final-Review, C-Benchmarks

#11513 Fix panic in examples using argh on the web
  examples/stress_tests/bevymark.rs
  examples/stress_tests/many_buttons.rs
  examples/stress_tests/many_cubes.rs
  examples/stress_tests/many_foxes.rs
  examples/ui/text_wrap_debug.rs
Labels: C-Bug, C-Examples, O-Web, S-Ready-For-Final-Review

#11205 UI and unloaded assets: don't filter out nodes with an unloaded image
  crates/bevy_ui/src/render/mod.rs
Labels: C-Bug, A-Assets, A-UI, S-Ready-For-Final-Review

#11504 Include asset path in get_meta_path panic message
  crates/bevy_asset/src/io/mod.rs
Labels: A-Assets, C-Usability, S-Ready-For-Final-Review
