Repository bevyengine/bevy, pull requests merged in 2025-10, with the labels that each got.

#21312 Fix documentation for shared method in BevyManifest
  crates/bevy_macro_utils/src/bevy_manifest.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, D-Macros

#21324 Update `cargo-binstall` to v1.15.6
  .github/workflows/ci.yml
Labels: A-Build-System, C-Dependencies, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward

#21321 bevy_render: improve panic message when render graph node doesn't exist
  crates/bevy_render/src/render_graph/app.rs
  crates/bevy_render/src/render_graph/graph.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#21328 Remove empty DevToolsPlugin
  crates/bevy_dev_tools/src/lib.rs
  crates/bevy_internal/src/default_plugins.rs
Labels: C-Code-Quality, A-Dev-Tools, D-Straightforward

#21314 `font_count` method
  crates/bevy_text/src/font_atlas_set.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Text

#21338 Avoid a "RefCell already borrowed" error with WINIT_WINDOWS
  crates/bevy_winit/src/state.rs
Labels: C-Bug, A-Windowing, O-Windows, S-Ready-For-Final-Review, D-Straightforward

#21344 Implement `Reflect` for `CameraOutputMode`
  crates/bevy_camera/Cargo.toml
  crates/bevy_camera/src/camera.rs
  crates/bevy_reflect/src/impls/wgpu_types.rs
Labels: S-Ready-For-Final-Review, A-Reflection, D-Straightforward

#21367 Reexport `Entry` from `indexmap` crate
  crates/bevy_ecs/src/entity/index_map.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review

#21364 set spawn_despawn on the correct entity when despawning
  crates/bevy_ecs/src/world/entity_ref.rs
  tools/ci/src/commands/test.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#21325 Use slider precision to format feathers slider label
  crates/bevy_feathers/src/controls/slider.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review, D-Straightforward

#21371 Remove unnecessary calls to `world.flush()`
  crates/bevy_ecs/src/observer/entity_cloning.rs
Labels: D-Trivial, A-ECS

#21360 Relax deferred UnsafeWorldCell visibility
  crates/bevy_ecs/src/world/deferred_world.rs
Labels: D-Trivial, A-ECS, S-Ready-For-Final-Review, D-Unsafe

#21365 Fix u32 overflow when window is resize
  examples/2d/2d_viewport_to_world.rs
Labels: C-Bug, A-Rendering, C-Examples, A-Windowing, S-Ready-For-Final-Review, D-Straightforward

#21387 Fixed fog contribution for point and spotlights
  crates/bevy_pbr/src/volumetric_fog/volumetric_fog.wgsl
  examples/3d/volumetric_fog.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#21380 Fix clippy lint for importing `Arc` from `std` instead of `alloc`
  crates/bevy_diagnostic/src/system_information_diagnostics_plugin.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#21315 Derive `Copy` and `Clone` for `FontAtlasKey`
  crates/bevy_text/src/font_atlas_set.rs
Labels: D-Trivial, A-Text, S-Needs-Review

#21401 Fix entity reservation on 32-bit platforms
  crates/bevy_ecs/src/entity/mod.rs
Labels: C-Bug, D-Trivial, A-ECS, S-Ready-For-Final-Review, O-Embedded

#21404 Emit slider drag value change only when value changes
  crates/bevy_ui_widgets/src/slider.rs
Labels: C-Bug, A-UI, S-Ready-For-Final-Review

#21397 Call `world.flush()` after `mark_spawn_despawn()`
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Bug, A-ECS, S-Needs-Review

#21399 Remove uses of `#[cfg(feature = "track_location")]` outside of the implementation of `MaybeLocation`
  crates/bevy_ecs/src/world/command_queue.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#21419 Fix clippy when `target_os = "windows"`
  crates/bevy_winit/src/state.rs
Labels: D-Trivial, A-Build-System, C-Code-Quality, S-Needs-Review

#21288 Remove unused wgsl functions
  crates/bevy_core_pipeline/src/tonemapping/tonemapping_shared.wgsl
Labels: D-Trivial, A-Rendering, C-Code-Quality, S-Ready-For-Final-Review

#21342 `TextPipeline::queue_text` refactor
  crates/bevy_text/src/pipeline.rs
Labels: C-Code-Quality, S-Ready-For-Final-Review, A-Text, D-Straightforward

#21391 Solari initial realtime specular work
  crates/bevy_solari/src/pathtracer/pathtracer.wgsl
  crates/bevy_solari/src/realtime/gbuffer_utils.wgsl
  crates/bevy_solari/src/realtime/mod.rs
  crates/bevy_solari/src/realtime/restir_di.wgsl
  crates/bevy_solari/src/realtime/restir_gi.wgsl
  crates/bevy_solari/src/scene/brdf.wgsl
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review

#21420 Optimize `prepare_bloom_bind_groups`
  crates/bevy_post_process/src/bloom/mod.rs
Labels: A-Rendering, C-Performance, S-Ready-For-Final-Review

#21422 Use `ptr::is_aligned` now that it's stable.
  crates/bevy_ptr/src/lib.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review

#21393 Rename cuboid to cube
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_gizmos/src/rounded_box.rs
  examples/3d/irradiance_volumes.rs
  examples/gizmos/3d_gizmos.rs
  examples/testbed/3d.rs
  release-content/migration-guides/gizmos-cuboid.md
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Gizmos

#21390 Make bevy_mikktspace optional
  Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_mesh/Cargo.toml
  crates/bevy_mesh/src/lib.rs
  crates/bevy_mesh/src/mesh.rs
  crates/bevy_mesh/src/mikktspace.rs
  docs/cargo_features.md
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review

#21409 Add a few basic tests for asset processing.
  crates/bevy_asset/src/io/memory.rs
  crates/bevy_asset/src/lib.rs
  release-content/migration-guides/asset_plugin_processed_override.md
  tools/example-showcase/asset-source-website.patch
Labels: A-Assets, S-Ready-For-Final-Review, C-Testing, X-Uncontroversial, D-Straightforward

#21435 Rename bevy_ui_picking_backend to ui_picking
  Cargo.toml
  crates/bevy_feathers/Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/widget/viewport.rs
  docs/cargo_features.md
  release-content/migration-guides/feature-cleanup.md
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Picking

#20215 Add bevy_camera_controllers crate and move freecam implementation into it
  Cargo.toml
  crates/bevy_camera_controller/Cargo.toml
  crates/bevy_camera_controller/LICENSE-APACHE
  crates/bevy_camera_controller/LICENSE-MIT
  crates/bevy_camera_controller/src/free_cam.rs
  crates/bevy_camera_controller/src/lib.rs
  crates/bevy_internal/Cargo.toml
  crates/bevy_internal/src/lib.rs
  docs/cargo_features.md
  examples/3d/decal.rs
  examples/3d/meshlet.rs
  examples/3d/parallax_mapping.rs
  examples/3d/shadow_biases.rs
  examples/3d/skybox.rs
  examples/3d/solari.rs
  examples/README.md
  examples/gizmos/3d_gizmos.rs
  examples/tools/scene_viewer/main.rs
  examples/tools/scene_viewer/scene_viewer_plugin.rs
  release-content/release-notes/camera_controllers.md
Labels: C-Feature, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Release-Note, X-Blessed, A-Camera

#21451 Reduce default sensitivity for free_cam controller
  crates/bevy_camera_controller/src/free_cam.rs
Labels: D-Trivial, S-Ready-For-Final-Review, A-Camera, C-Refinement
