Repository bevyengine/bevy, pull requests merged in 2025-05, with the labels that each got.

#18971 Audio sink seek adopted
  crates/bevy_audio/src/sinks.rs
Labels: C-Feature, D-Trivial, A-Audio, S-Ready-For-Final-Review

#19023 Add TextureAtlas convenience methods
  crates/bevy_image/src/texture_atlas.rs
Labels: C-Feature, A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#18892 Text background colors
  Cargo.toml
  crates/bevy_text/src/lib.rs
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/mod.rs
  examples/README.md
  examples/ui/text_background_colors.rs
  release-content/release-notes/text-background-colors.md
Labels: C-Feature, A-Rendering, A-Accessibility, A-UI, S-Ready-For-Final-Review, M-Needs-Release-Note

#18604 Add NonNilUuid support to bevy_reflect
  crates/bevy_reflect/src/impls/uuid.rs
Labels: D-Trivial, C-Usability, S-Ready-For-Final-Review, A-Reflection

#18962 refactor ui/borders example to use new children! macro
  examples/ui/borders.rs
Labels: C-Examples, A-UI, S-Ready-For-Final-Review

#18765 Create a `When` system param wrapper for skipping systems that fail validation
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, X-Uncontroversial

#18469 Implement `RelationshipSourceCollection` for `BTreeSet`
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/relationship/relationship_source_collection.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#18471 Implement `RelationshipSourceCollection` for `IndexSet`
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/relationship/relationship_source_collection.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#19015 Fix `rotate_by` implementation for `Aabb2d`
  crates/bevy_math/src/bounding/bounded2d/mod.rs
  crates/bevy_math/src/bounding/bounded3d/mod.rs
Labels: C-Bug, A-Math, D-Straightforward, S-Needs-Review

#19028 Update `sysinfo` version to `0.35.0`
  crates/bevy_diagnostic/Cargo.toml
Labels: C-Dependencies, S-Ready-For-Final-Review, A-Diagnostics

#19038 Ignore RUSTSEC-2023-0089 until postcard is updated
  deny.toml
Labels: A-Build-System, C-Dependencies, S-Ready-For-Final-Review

#18979 Strip unused features from `bevy_asset` dependencies
  crates/bevy_asset/Cargo.toml
  crates/bevy_asset/src/lib.rs
Labels: A-Assets, C-Code-Quality, S-Ready-For-Final-Review, D-Modest

#19073 Update ktx2 to 0.4.0
  crates/bevy_image/Cargo.toml
  crates/bevy_image/src/ktx2.rs
  crates/bevy_render/Cargo.toml
Labels: A-Rendering, C-Dependencies, S-Ready-For-Final-Review

#19075 Upgrade `atomicow` version
  crates/bevy_asset/Cargo.toml
Labels: C-Dependencies, S-Ready-For-Final-Review, O-Embedded

#19016 Sprite picking docs fix
  crates/bevy_sprite/src/picking_backend.rs
  examples/picking/sprite_picking.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#19059 Fix sparse set components ignoring `insert_if_new`/`InsertMode`
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/storage/blob_vec.rs
  crates/bevy_ecs/src/storage/sparse_set.rs
  crates/bevy_ecs/src/storage/table/column.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#19061 Fix tonemapping example when using a local image
  examples/3d/tonemapping.rs
Labels: C-Bug, A-Rendering, C-Examples, A-Assets, S-Ready-For-Final-Review

#19033 Prevent exclusive systems from being used as observers
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  release-content/migration-guides/observers_may_not_be_exclusive.md
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, P-Unsound, X-Uncontroversial

#18974 Fix occlusion culling not respecting device limits
  examples/3d/occlusion_culling.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#11214 ignore files starting with . when loading folders
  crates/bevy_asset/src/io/file/file_asset.rs
  crates/bevy_asset/src/io/file/sync_file_asset.rs
Labels: C-Bug, A-Assets, O-MacOS, O-iOS, S-Ready-For-Final-Review, X-Contentious, D-Straightforward

#16885 Stop using `ArchetypeComponentId` in the executor
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/system/adapter_system.rs
  crates/bevy_ecs/src/system/combinator.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/observer_system.rs
  crates/bevy_ecs/src/system/schedule_system.rs
  crates/bevy_ecs/src/system/system.rs
  release-content/migration-guides/remove_archetypecomponentid.md
Labels: A-ECS, C-Performance, S-Ready-For-Final-Review, X-Contentious, D-Modest

#17253 Add a viewport UI widget
  Cargo.toml
  crates/bevy_ui/Cargo.toml
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/widget/mod.rs
  crates/bevy_ui/src/widget/viewport.rs
  examples/README.md
  examples/ui/viewport_node.rs
  release-content/release-notes/viewport-node.md
Labels: C-Feature, A-UI, S-Ready-For-Final-Review, A-Editor, M-Needs-Release-Note, D-Modest, A-Picking

#17722 feat(log): support customizing default log formatting
  crates/bevy_log/src/lib.rs
  examples/app/log_layers.rs
  examples/app/log_layers_ecs.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Diagnostics

#18148 Remove `insert_or_spawn` function family
  benches/benches/bevy_ecs/world/commands.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/mod.rs
  release-content/migration-guides/remove_deprecated_batch_spawning.md
Labels: A-ECS, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#18192 Add Allows filter to bypass DefaultQueryFilters
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/state.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward, D-Unsafe

#18236 Let `FilteredEntity(Ref|Mut)` receive access when nested.
  crates/bevy_ecs/macros/src/query_data.rs
  crates/bevy_ecs/src/query/access.rs
  crates/bevy_ecs/src/query/builder.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/query/world_query.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: C-Bug, C-Feature, A-ECS, S-Ready-For-Final-Review, D-Complex, X-Uncontroversial, D-Unsafe

#18521 Add `BundleRemover`
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial, D-Unsafe

#18524 Move initializing the `ScreenshotToScreenPipeline` to the `ScreenshotPlugin`.
  crates/bevy_render/src/view/window/mod.rs
  crates/bevy_render/src/view/window/screenshot.rs
Labels: D-Trivial, A-Windowing, S-Ready-For-Final-Review

#18601 Added `StableInterpolate` implementations for linear colors.
  crates/bevy_color/src/interpolate.rs
  crates/bevy_color/src/lib.rs
Labels: C-Feature, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward, A-Color

#18653 Implemented `Alpha` for `f32`.
  crates/bevy_color/src/color_ops.rs
Labels: C-Feature, S-Ready-For-Final-Review, D-Straightforward, A-Color

#18659 Speed up ECS benchmarks by limiting variations
  benches/benches/bevy_ecs/components/archetype_updates.rs
  benches/benches/bevy_ecs/empty_archetypes.rs
  benches/benches/bevy_ecs/events/mod.rs
  benches/benches/bevy_ecs/scheduling/run_condition.rs
  benches/benches/bevy_ecs/scheduling/running_systems.rs
  benches/benches/bevy_ecs/world/commands.rs
  benches/benches/bevy_ecs/world/despawn.rs
  benches/benches/bevy_ecs/world/despawn_recursive.rs
  benches/benches/bevy_ecs/world/spawn.rs
Labels: A-ECS, S-Ready-For-Final-Review, C-Benchmarks, D-Straightforward

#18684 Use new `run_without_applying_deferred` method in `SingleThreadedExecutor`
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/single_threaded.rs
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Straightforward

#18728 Merge ObserverState and Observer into single component
  crates/bevy_ecs/src/observer/entity_observer.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  release-content/migration-guides/merge_observerState_observer_single_component.md
Labels: A-ECS, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide, P-Unsound, X-Uncontroversial, D-Modest

#18730 Add `EntityWorldMut::reborrow_scope()`
  crates/bevy_ecs/src/world/entity_ref.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Complex, D-Unsafe

#18753 deprecate `SimpleExecutor`
  benches/benches/bevy_ecs/scheduling/schedule.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/simple.rs
  crates/bevy_ecs/src/schedule/mod.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  release-content/migration-guides/simple_executor_going_away.md
Labels: A-ECS, S-Ready-For-Final-Review, M-Needs-Migration-Guide, X-Contentious, D-Straightforward

#18773 The toml workflow job will now install taplo-cli using cargo-binstall
  .github/workflows/ci.yml
Labels: A-Build-System, C-Performance, S-Ready-For-Final-Review

#18811 Derive `clone_behavior` for `Components`
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/clone_entities.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_render/src/sync_world.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, D-Straightforward, D-Macros

#18818 Rename `StateScoped` to `DespawnOnExitState` and add `DespawnOnEnterState`
  Cargo.toml
  crates/bevy_state/src/app.rs
  crates/bevy_state/src/lib.rs
  crates/bevy_state/src/state/states.rs
  crates/bevy_state/src/state_scoped.rs
  crates/bevy_state/src/state_scoped_events.rs
  examples/README.md
  examples/ecs/state_scoped.rs
  examples/games/alien_cake_addict.rs
  examples/state/computed_states.rs
  examples/state/sub_states.rs
  examples/testbed/2d.rs
  examples/testbed/3d.rs
  examples/testbed/ui.rs
  release-content/migration-guides/rename_StateScoped.md
Labels: S-Ready-For-Final-Review, M-Needs-Migration-Guide, X-Contentious, D-Straightforward, A-States

#18822 Create `bevy_platform::cfg` for viral feature management
  crates/bevy_platform/Cargo.toml
  crates/bevy_platform/src/cfg.rs
  crates/bevy_platform/src/lib.rs
  crates/bevy_platform/src/sync/mod.rs
  crates/bevy_platform/src/thread.rs
  crates/bevy_platform/src/time/fallback.rs
  crates/bevy_platform/src/time/mod.rs
Labels: C-Feature, S-Ready-For-Final-Review, A-Utils, X-Blessed, D-Straightforward

#18865 Increase upper limit of `children!`
  crates/bevy_ecs/src/hierarchy.rs
  crates/bevy_ecs/src/spawn.rs
Labels: C-Bug, A-ECS, C-Usability, S-Ready-For-Final-Review, D-Macros

#18880 Add `world` and `world_mut` methods to `RelatedSpawner`
  crates/bevy_ecs/src/relationship/related_methods.rs
Labels: D-Trivial, A-ECS, C-Usability, S-Ready-For-Final-Review, X-Contentious

#19006 Expose CustomCursorUrl
  crates/bevy_winit/src/cursor.rs
Labels: C-Bug, D-Trivial, A-Windowing, S-Ready-For-Final-Review

#19071 implement MapEntities for higher-order types
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/entity/map_entities.rs
Labels: A-ECS, S-Ready-For-Final-Review, A-Networking, D-Straightforward

#17875 Add image sampler configuration in GLTF loader
  crates/bevy_gltf/src/lib.rs
  crates/bevy_gltf/src/loader/gltf_ext/texture.rs
  crates/bevy_gltf/src/loader/mod.rs
Labels: C-Feature, A-Assets, S-Ready-For-Final-Review, X-Uncontroversial, D-Modest, A-glTF

#18067 Add `IntoSystem::with_input` and `::with_input_from` system wrappers
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/schedule_system.rs
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, D-Modest

#18386 Remove remaining internal use of `!Send` resources
  crates/bevy_gilrs/src/lib.rs
  crates/bevy_winit/src/accessibility.rs
  crates/bevy_winit/src/lib.rs
  crates/bevy_winit/src/state.rs
  crates/bevy_winit/src/system.rs
  crates/bevy_winit/src/winit_windows.rs
Labels: A-ECS, A-App, X-Blessed, S-Waiting-on-Author

#19097 Missing punctuation
  crates/bevy_image/src/image.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#19107 Make `NonSendMarker` `!Send`
  crates/bevy_ecs/src/system/system_param.rs
Labels: D-Trivial, A-ECS, C-Code-Quality, S-Ready-For-Final-Review, X-Uncontroversial

#19108 Deprecated Begone! 0.16 Cleanup
  crates/bevy_asset/src/handle.rs
  crates/bevy_ecs/README.md
  crates/bevy_ecs/src/component.rs
  crates/bevy_ecs/src/event/writer.rs
  crates/bevy_ecs/src/hierarchy.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_math/src/primitives/dim2.rs
  crates/bevy_math/src/primitives/dim3.rs
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/enums/enum_trait.rs
  crates/bevy_reflect/src/func/function.rs
  crates/bevy_reflect/src/impls/std.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/reflect.rs
  crates/bevy_reflect/src/set.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  crates/bevy_transform/src/commands.rs
  crates/bevy_transform/src/components/global_transform.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, A-Cross-Cutting, X-Uncontroversial

#18766 Generic `SystemParam` impls for `Option` and `Result`
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/system_param.rs
  examples/ecs/fallible_params.rs
  release-content/migration-guides/generic-option-parameter.md
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#19115 Add system ticks to EntityRef/Mut WorldQuery
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#18704 Make `entity::index` non max
  assets/scenes/load_scene_example.scn.ron
  benches/Cargo.toml
  benches/benches/bevy_ecs/world/entity_hash.rs
  benches/benches/bevy_ecs/world/world_get.rs
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/observer/mod.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/relationship/relationship_source_collection.rs
  crates/bevy_ecs/src/storage/sparse_set.rs
  crates/bevy_ecs/src/storage/table/mod.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_remote/src/builtin_methods.rs
  crates/bevy_scene/src/dynamic_scene_builder.rs
  crates/bevy_scene/src/scene_spawner.rs
  crates/bevy_scene/src/serde.rs
  crates/bevy_transform/src/systems.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/layout/ui_surface.rs
  examples/ecs/error_handling.rs
  release-content/migration-guides/make_entity_index_non_max.md
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, D-Complex, X-Contentious

#19121 Make entity generation a new type and remove identifier
  benches/benches/bevy_ecs/world/entity_hash.rs
  crates/bevy_ecs/src/entity/map_entities.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/identifier/error.rs
  crates/bevy_ecs/src/identifier/kinds.rs
  crates/bevy_ecs/src/identifier/masks.rs
  crates/bevy_ecs/src/identifier/mod.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/name.rs
  crates/bevy_scene/src/serde.rs
  release-content/migration-guides/entity_representation.md
  release-content/migration-guides/make_entity_index_non_max.md
Labels: A-ECS, C-Code-Quality, S-Ready-For-Final-Review, X-Blessed

#19047 Track spawn `Tick` of entities, offer methods, query data `SpawnDetails` and query filter `Spawned`
  crates/bevy_ecs/src/bundle.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/query.rs
  crates/bevy_ecs/src/world/entity_ref.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
  release-content/release-notes/entity-spawn-ticks.md
Labels: C-Feature, A-ECS, S-Ready-For-Final-Review, M-Needs-Release-Note, X-Contentious

#19134 fix `.insert_related` index bound
  crates/bevy_ecs/src/hierarchy.rs
  crates/bevy_ecs/src/relationship/related_methods.rs
  crates/bevy_ecs/src/relationship/relationship_source_collection.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, D-Straightforward

#19155 Fix macro pollution in SystemParam derive
  crates/bevy_ecs/macros/src/lib.rs
Labels: C-Bug, D-Trivial, C-Code-Quality, S-Ready-For-Final-Review, D-Macros

#19139 fix windows wasm embedded assets
  crates/bevy_asset/src/io/embedded/mod.rs
Labels: C-Bug, A-Assets, S-Ready-For-Final-Review, D-Straightforward

#19157 Fix specular cutoff on lights with radius overlapping with mesh
  crates/bevy_pbr/src/render/pbr_lighting.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, M-Deliberate-Rendering-Change

#19137 Use embedded_asset to load PBR shaders
  crates/bevy_asset/src/io/embedded/mod.rs
  crates/bevy_asset/src/path.rs
  crates/bevy_pbr/src/deferred/mod.rs
  crates/bevy_pbr/src/lib.rs
  crates/bevy_pbr/src/pbr_material.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/render_resource/pipeline_cache.rs
  crates/bevy_render/src/render_resource/shader.rs
Labels: C-Feature, A-Rendering, S-Ready-For-Final-Review

#19253 Pin nightly due to miri issue
  .github/workflows/ci.yml
Labels: C-Bug, D-Trivial, A-Build-System, S-Ready-For-Final-Review, P-Critical

#19266 fix(render): transitive shader imports now work consistently on web
  crates/bevy_render/src/render_resource/pipeline_cache.rs
Labels: C-Bug, A-Rendering, S-Needs-Review

#19265 Fix point light shadow glitches
  crates/bevy_pbr/src/render/light.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review

#19170 Make sure prepass notices changes in alpha mode
  crates/bevy_pbr/src/prepass/mod.rs
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#18810 Per world error handler
  Cargo.toml
  crates/bevy_app/src/app.rs
  crates/bevy_ecs/Cargo.toml
  crates/bevy_ecs/src/error/command_handling.rs
  crates/bevy_ecs/src/error/handler.rs
  crates/bevy_ecs/src/error/mod.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/schedule/executor/simple.rs
  crates/bevy_ecs/src/schedule/executor/single_threaded.rs
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_ecs/src/world/unsafe_world_cell.rs
  crates/bevy_internal/Cargo.toml
  docs/cargo_features.md
  examples/ecs/error_handling.rs
  examples/ecs/fallible_params.rs
  release-content/migration-guides/per-world-error-handler.md
Labels: A-ECS, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#19077 Remove `YAxisOrientation` from `bevy_text`
  crates/bevy_text/src/lib.rs
  crates/bevy_text/src/pipeline.rs
  crates/bevy_text/src/text2d.rs
  crates/bevy_ui/src/widget/text.rs
Labels: A-Rendering, C-Code-Quality, S-Ready-For-Final-Review, A-Text, X-Uncontroversial, D-Straightforward

#19259 Add boilerplate docs for PointerHits::new and HitData::new
  crates/bevy_picking/src/backend.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Picking

#19298 Add missing words in Traversal doc comment
  crates/bevy_ecs/src/traversal.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#19273 Fix spot light shadow glitches
  crates/bevy_pbr/src/render/light.rs
Labels: C-Bug, A-Rendering, D-Straightforward, S-Needs-Review

#19294 Fix warnings and errors reported on Rust beta
  clippy.toml
  crates/bevy_macro_utils/src/bevy_manifest.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#18139 UI Node Gradients
  Cargo.toml
  crates/bevy_ui/src/geometry.rs
  crates/bevy_ui/src/gradients.rs
  crates/bevy_ui/src/layout/mod.rs
  crates/bevy_ui/src/lib.rs
  crates/bevy_ui/src/render/gradient.rs
  crates/bevy_ui/src/render/gradient.wgsl
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui.wgsl
  crates/bevy_ui/src/ui_node.rs
  examples/README.md
  examples/testbed/full_ui.rs
  examples/ui/gradients.rs
  examples/ui/radial_gradients.rs
  examples/ui/stacked_gradients.rs
  release-content/release-notes/ui_gradients.md
Labels: C-Feature, A-Rendering, A-UI, S-Ready-For-Final-Review, M-Needs-Release-Note, D-Shaders

#18393 Fix `Anchor` component inconsistancies
  crates/bevy_sprite/src/lib.rs
  crates/bevy_sprite/src/picking_backend.rs
  crates/bevy_sprite/src/render/mod.rs
  crates/bevy_sprite/src/sprite.rs
  crates/bevy_sprite/src/texture_slice/computed_slices.rs
  examples/picking/sprite_picking.rs
  examples/testbed/2d.rs
  release-content/migration-guides/anchor_is_removed_from_sprite.md
Labels: A-Rendering, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, X-Contentious, D-Straightforward

#19306 fix(picking): Location is not a Component anymore.
  crates/bevy_picking/src/pointer.rs
  release-content/migration-guides/picking_location_not_component.md
Labels: D-Trivial, S-Ready-For-Final-Review, A-Picking

#19328 Rename `Condition` to `SystemCondition``
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/schedule/condition.rs
  crates/bevy_ecs/src/schedule/config.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_input/src/button_input.rs
  crates/bevy_state/src/app.rs
  crates/bevy_state/src/condition.rs
  release-content/migration-guides/rename_condition.md
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#19329 Add documentation and examples of [`ScheduleLabel`] usage.
  crates/bevy_ecs/src/schedule/schedule.rs
  crates/bevy_ecs/src/schedule/set.rs
  crates/bevy_ecs/src/world/mod.rs
Labels: C-Docs, A-ECS, S-Ready-For-Final-Review

#19338 Fix one-character typo in SystemParam docs
  crates/bevy_ecs/src/system/system_param.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#19337 Diagnostic reset sum ema
  crates/bevy_diagnostic/src/diagnostic.rs
Labels: C-Bug, S-Ready-For-Final-Review, A-Diagnostics, X-Uncontroversial, D-Straightforward

#19312 Add debug build option to build-wasm-example
  docs-template/EXAMPLE_README.md.tpl
  examples/README.md
  tools/build-wasm-example/src/main.rs
Labels: C-Examples, O-Web, C-Testing, S-Needs-Review

#19090 Simplify `bevy_utils` Features
  crates/bevy_app/Cargo.toml
  crates/bevy_diagnostic/Cargo.toml
  crates/bevy_ecs/Cargo.toml
  crates/bevy_image/Cargo.toml
  crates/bevy_input/Cargo.toml
  crates/bevy_internal/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_state/Cargo.toml
  crates/bevy_transform/Cargo.toml
  crates/bevy_utils/Cargo.toml
  crates/bevy_utils/src/lib.rs
  crates/bevy_utils/src/map.rs
  crates/bevy_utils/src/parallel_queue.rs
Labels: C-Code-Quality, A-Utils, X-Blessed, D-Straightforward, S-Needs-Review

#19361 Register some types
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/sync_world.rs
  crates/bevy_ui/src/lib.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Reflection

#18851 Allow access to font atlases
  crates/bevy_text/src/pipeline.rs
Labels: C-Performance, C-Usability, S-Ready-For-Final-Review, A-Text, D-Straightforward

#10386 Added explicit dependencies for Arch Linux
  docs/linux_dependencies.md
Labels: C-Docs, D-Trivial, O-Linux, S-Ready-For-Final-Review

#18931 bevy_ecs: forward `type_id` in `InfallibleSystemWrapper`
  crates/bevy_ecs/src/system/schedule_system.rs
Labels: A-ECS, C-Usability, S-Ready-For-Final-Review

#18990 Improve visibility of debug picking node
  crates/bevy_dev_tools/src/picking_debug.rs
Labels: C-Examples, S-Ready-For-Final-Review, A-Picking

#18991 Make SystemChangeTick Clone
  crates/bevy_ecs/src/system/system_param.rs
Labels: D-Trivial, A-ECS, S-Ready-For-Final-Review

#17639 Better macro errors for get_struct_fields
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_macro_utils/src/shape.rs
Labels: C-Usability, S-Ready-For-Final-Review, A-Utils, D-Straightforward, D-Macros

#18682 separate border colors
  crates/bevy_ui/src/render/debug_overlay.rs
  crates/bevy_ui/src/render/gradient.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/ui.wgsl
  crates/bevy_ui/src/ui_node.rs
  examples/3d/color_grading.rs
  examples/3d/split_screen.rs
  examples/animation/animation_graph.rs
  examples/animation/animation_masks.rs
  examples/helpers/widgets.rs
  examples/testbed/full_ui.rs
  examples/testbed/ui.rs
  examples/ui/borders.rs
  examples/ui/box_shadow.rs
  examples/ui/button.rs
  examples/ui/directional_navigation.rs
  examples/ui/ghost_nodes.rs
  examples/ui/overflow.rs
  examples/ui/overflow_clip_margin.rs
  examples/ui/size_constraints.rs
  examples/ui/tab_navigation.rs
  examples/ui/viewport_debug.rs
  examples/ui/viewport_node.rs
  release-content/migration-guides/separate-border-colors.md
Labels: C-Feature, A-Rendering, A-UI, S-Ready-For-Final-Review, M-Needs-Migration-Guide, X-Uncontroversial, D-Straightforward

#19105 Derive `PartialEq` for `ImageSampler`
  crates/bevy_image/src/image.rs
Labels: D-Trivial, A-Rendering, S-Ready-For-Final-Review

#19116 Remove warning from Image::resize
  crates/bevy_image/src/image.rs
Labels: A-Rendering, S-Ready-For-Final-Review

#19093 Fix `AssetChanged` code documentation to mention the `PostUpdate` schedule
  crates/bevy_asset/src/asset_changed.rs
Labels: C-Docs, D-Trivial, A-Assets, S-Ready-For-Final-Review

#19173 Add `AudioSinkPlayback::position`
  crates/bevy_audio/src/sinks.rs
  examples/audio/audio_control.rs
Labels: A-Audio, S-Ready-For-Final-Review, D-Straightforward

#19174 Fix mismatched FogFalloff
  examples/3d/fog.rs
Labels: C-Bug, D-Trivial, A-Rendering, C-Examples, S-Ready-For-Final-Review

#19178 Added support for .wesl files to the regex pattern for examples
  tools/example-showcase/src/main.rs
Labels: C-Docs, D-Trivial, C-Examples, S-Ready-For-Final-Review

#19179 don't filter dragged entity out of DragEnter events
  crates/bevy_picking/src/events.rs
  release-content/migration-guides/dragenter_includes_dragged_entity.md
Labels: C-Bug, S-Ready-For-Final-Review, M-Needs-Migration-Guide, D-Straightforward, A-Picking

#19190 Optional explicit compressed image format support
  crates/bevy_gltf/src/lib.rs
  crates/bevy_image/Cargo.toml
  crates/bevy_image/src/image.rs
  crates/bevy_render/src/lib.rs
  crates/bevy_render/src/texture/mod.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Modest

#19211 Explanation for the '2d shapes' example
  examples/2d/2d_shapes.rs
Labels: C-Docs, A-Rendering, C-Examples, S-Ready-For-Final-Review, D-Straightforward

#19375 Fixed broken link in release content README.
  release-content/README.md
Labels: C-Docs, S-Ready-For-Final-Review

#19218 Navigate through TabGroups in order.
  crates/bevy_input_focus/src/tab_navigation.rs
Labels: C-Bug, A-Input, A-UI, S-Ready-For-Final-Review, D-Straightforward

#19223 Add a Dir4 to resolve #17983
  crates/bevy_math/src/direction.rs
Labels: S-Ready-For-Final-Review, A-Math, D-Straightforward

#19229 Make sure that `serde_json::Map::into_values` exists
  Cargo.toml
  crates/bevy_gltf/Cargo.toml
  crates/bevy_reflect/Cargo.toml
  crates/bevy_remote/Cargo.toml
Labels: C-Bug, D-Trivial, A-Build-System, C-Dependencies, S-Ready-For-Final-Review, P-Regression

#19234 New cooldown example
  Cargo.toml
  assets/textures/food_kenney.png
  examples/README.md
  examples/usage/cooldown.rs
Labels: C-Examples, A-UI, S-Ready-For-Final-Review

#19243 Make remove_reflect parameter names consistent between ReflectCommandExt and impl for EntityCommands
  crates/bevy_ecs/src/reflect/entity_commands.rs
Labels: C-Docs, D-Trivial, A-ECS, S-Ready-For-Final-Review, A-Reflection

#19244 Remove apostrophes in possessive its
  crates/bevy_asset/src/path.rs
  crates/bevy_audio/src/volume.rs
  crates/bevy_ecs/examples/change_detection.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/event/registry.rs
  crates/bevy_ecs/src/query/iter.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_state/src/state/sub_states.rs
  crates/bevy_text/src/glyph.rs
  crates/bevy_utils/src/parallel_queue.rs
  examples/app/log_layers_ecs.rs
  examples/state/computed_states.rs
Labels: C-Docs, D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#19267 Add missing doc comments to system_information_diagnostics_plugin
  crates/bevy_diagnostic/src/system_information_diagnostics_plugin.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Diagnostics

#19237 Allow unfocused window creation
  crates/bevy_window/src/window.rs
  crates/bevy_winit/src/winit_windows.rs
Labels: C-Feature, A-Windowing, S-Ready-For-Final-Review, D-Straightforward

#19327 Update .entry() docs to show both insert-then-modify and modify-or-insert examples
  crates/bevy_ecs/src/system/commands/mod.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#19354 Enable state scoped entities by default
  crates/bevy_state/macros/src/states.rs
  crates/bevy_state/src/app.rs
  crates/bevy_state/src/state_scoped.rs
  examples/ecs/state_scoped.rs
  examples/games/alien_cake_addict.rs
  examples/state/computed_states.rs
  examples/testbed/2d.rs
  examples/testbed/3d.rs
  release-content/migration-guides/state_scoped_entities_by_default.md
Labels: S-Ready-For-Final-Review, D-Straightforward, A-States

#19264 Add missing docs for diagnostics.rs
  crates/bevy_diagnostic/src/diagnostic.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Diagnostics

#18595 Constify `Val::resolve` and `BorderRadius::resolve`
  crates/bevy_ui/src/geometry.rs
  crates/bevy_ui/src/ui_node.rs
Labels: D-Trivial, A-UI, S-Needs-Review

#19245 Adding context menu example
  Cargo.toml
  examples/README.md
  examples/usages/context_menu.rs
Labels: C-Docs, C-Examples, A-UI, S-Ready-For-Final-Review, D-Straightforward

#19261 Add missing doc comments for log_diagnostics_plugin
  crates/bevy_diagnostic/src/log_diagnostics_plugin.rs
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review, A-Diagnostics

#19388 Small fixes for gradient docs
  crates/bevy_ui/src/gradients.rs
Labels: C-Docs, D-Trivial, A-UI, S-Ready-For-Final-Review

#19391 Remove Shader weak_handles from bevy_anti_aliasing.
  crates/bevy_anti_aliasing/src/contrast_adaptive_sharpening/mod.rs
  crates/bevy_anti_aliasing/src/fxaa/mod.rs
  crates/bevy_anti_aliasing/src/smaa/mod.rs
  crates/bevy_anti_aliasing/src/taa/mod.rs
Labels: A-Rendering, A-Assets, S-Ready-For-Final-Review, D-Straightforward

#19143 Remove `ArchetypeComponentId` and `archetype_component_access`
  benches/benches/bevy_ecs/iteration/heavy_compute.rs
  benches/benches/bevy_ecs/iteration/iter_simple_system.rs
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/macros/src/world_query.rs
  crates/bevy_ecs/src/archetype.rs
  crates/bevy_ecs/src/lib.rs
  crates/bevy_ecs/src/observer/runner.rs
  crates/bevy_ecs/src/query/fetch.rs
  crates/bevy_ecs/src/query/filter.rs
  crates/bevy_ecs/src/query/mod.rs
  crates/bevy_ecs/src/query/state.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/executor/multi_threaded.rs
  crates/bevy_ecs/src/storage/resource.rs
  crates/bevy_ecs/src/system/adapter_system.rs
  crates/bevy_ecs/src/system/builder.rs
  crates/bevy_ecs/src/system/combinator.rs
  crates/bevy_ecs/src/system/commands/mod.rs
  crates/bevy_ecs/src/system/exclusive_function_system.rs
  crates/bevy_ecs/src/system/function_system.rs
  crates/bevy_ecs/src/system/mod.rs
  crates/bevy_ecs/src/system/observer_system.rs
  crates/bevy_ecs/src/system/schedule_system.rs
  crates/bevy_ecs/src/system/system.rs
  crates/bevy_ecs/src/system/system_param.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_gizmos/src/gizmos.rs
  crates/bevy_render/src/extract_param.rs
  crates/bevy_render/src/render_phase/draw.rs
  examples/stress_tests/many_components.rs
  release-content/migration-guides/remove_archetype_component_id.md
Labels: A-ECS, C-Performance, C-Code-Quality, S-Ready-For-Final-Review, M-Needs-Migration-Guide

#19189 Make light cascades and tonemapping luts pub
  crates/bevy_core_pipeline/src/tonemapping/mod.rs
  crates/bevy_pbr/src/light/mod.rs
Labels: A-Rendering, C-Usability, S-Ready-For-Final-Review, D-Straightforward

#19341 Fix custom relations panics with parent/child relations
  crates/bevy_ecs/src/relationship/mod.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#19386 Rename Timer::finished and Timer::paused to is_finished and is_paused
  crates/bevy_diagnostic/src/log_diagnostics_plugin.rs
  crates/bevy_time/src/common_conditions.rs
  crates/bevy_time/src/timer.rs
  examples/app/plugin.rs
  examples/ecs/event.rs
  examples/ecs/state_scoped.rs
  examples/games/alien_cake_addict.rs
  examples/games/game_menu.rs
  examples/time/timers.rs
  examples/ui/ui_scaling.rs
  examples/window/custom_cursor_image.rs
  release-content/migration-guides/rename_timer_paused_and_finished.md
Labels: D-Trivial, C-Code-Quality, C-Usability, S-Ready-For-Final-Review, M-Needs-Migration-Guide, A-Time

#19393 Remove Shader weak_handles from bevy_ui.
  crates/bevy_ui/src/render/box_shadow.rs
  crates/bevy_ui/src/render/gradient.rs
  crates/bevy_ui/src/render/mod.rs
  crates/bevy_ui/src/render/pipeline.rs
  crates/bevy_ui/src/render/ui_material_pipeline.rs
  crates/bevy_ui/src/render/ui_texture_slice_pipeline.rs
Labels: A-Rendering, A-Assets, S-Ready-For-Final-Review, D-Straightforward

#19365 Remove Shader weak_handles from bevy_pbr (excluding meshlets).
  crates/bevy_pbr/src/atmosphere/mod.rs
  crates/bevy_pbr/src/atmosphere/resources.rs
  crates/bevy_pbr/src/decal/clustered.rs
  crates/bevy_pbr/src/decal/forward.rs
  crates/bevy_pbr/src/light_probe/environment_map.rs
  crates/bevy_pbr/src/light_probe/irradiance_volume.rs
  crates/bevy_pbr/src/light_probe/mod.rs
  crates/bevy_pbr/src/lightmap/mod.rs
  crates/bevy_pbr/src/prepass/mod.rs
  crates/bevy_pbr/src/render/fog.rs
  crates/bevy_pbr/src/render/gpu_preprocess.rs
  crates/bevy_pbr/src/render/mesh.rs
  crates/bevy_pbr/src/ssao/mod.rs
  crates/bevy_pbr/src/ssr/mod.rs
  crates/bevy_pbr/src/volumetric_fog/mod.rs
  crates/bevy_pbr/src/volumetric_fog/render.rs
  crates/bevy_pbr/src/wireframe.rs
Labels: A-Rendering, A-Assets, S-Ready-For-Final-Review, D-Straightforward

#19396 More uninlined_format_args fixes
  crates/bevy_color/src/srgba.rs
  crates/bevy_ecs/macros/src/component.rs
  crates/bevy_ecs/macros/src/lib.rs
  crates/bevy_ecs/src/entity/mod.rs
  crates/bevy_ecs/src/error/bevy_error.rs
  crates/bevy_ecs/src/error/handler.rs
  crates/bevy_ecs/src/hierarchy.rs
  crates/bevy_ecs/src/schedule/executor/mod.rs
  crates/bevy_ecs/src/schedule/stepping.rs
  crates/bevy_ecs/src/world/mod.rs
  crates/bevy_math/src/cubic_splines/mod.rs
  crates/bevy_math/src/primitives/serde.rs
  crates/bevy_reflect/src/array.rs
  crates/bevy_reflect/src/attributes.rs
  crates/bevy_reflect/src/enums/dynamic_enum.rs
  crates/bevy_reflect/src/error.rs
  crates/bevy_reflect/src/func/dynamic_function.rs
  crates/bevy_reflect/src/func/info.rs
  crates/bevy_reflect/src/func/registry.rs
  crates/bevy_reflect/src/func/signature.rs
  crates/bevy_reflect/src/lib.rs
  crates/bevy_reflect/src/list.rs
  crates/bevy_reflect/src/map.rs
  crates/bevy_reflect/src/serde/de/error_utils.rs
  crates/bevy_reflect/src/serde/mod.rs
  crates/bevy_reflect/src/serde/ser/error_utils.rs
  crates/bevy_reflect/src/set.rs
  crates/bevy_reflect/src/struct_trait.rs
  crates/bevy_reflect/src/tuple.rs
  crates/bevy_reflect/src/tuple_struct.rs
  tools/example-showcase/src/main.rs
Labels: D-Trivial, C-Code-Quality, S-Ready-For-Final-Review

#19412 Update example in README to have proper Rusty formatting
  README.md
Labels: C-Docs, D-Trivial, S-Ready-For-Final-Review

#19401 Loosen `add_state_scoped_event` trait bound.
  crates/bevy_state/src/state_scoped_events.rs
Labels: C-Bug, S-Ready-For-Final-Review, X-Uncontroversial, D-Straightforward, A-States

#19326 Fix `EntityCloner` replacing required components.
  crates/bevy_ecs/src/entity/clone_entities.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review

#19221 Fix #19219 by moving observer triggers out of resource_scope
  crates/bevy_scene/src/scene_spawner.rs
Labels: C-Bug, A-ECS, S-Ready-For-Final-Review, D-Modest

#19147 fix distinct directional lights per view
  crates/bevy_pbr/src/render/light.rs
  crates/bevy_pbr/src/render/mesh_view_types.wgsl
  crates/bevy_pbr/src/render/pbr_functions.wgsl
Labels: C-Bug, A-Rendering, S-Ready-For-Final-Review, D-Straightforward

#19435 Refactor state scoped events to match entities.
  crates/bevy_state/src/state_scoped_events.rs
  release-content/migration-guides/rename_StateScoped.md
  release-content/migration-guides/rename_state_scoped.md
Labels: C-Usability, M-Needs-Migration-Guide, X-Uncontroversial, D-Modest, S-Waiting-on-Author, A-States

#19410 Add `resize_in_place` to `Image`
  crates/bevy_image/src/image.rs
Labels: C-Feature, A-Rendering, C-Performance, S-Ready-For-Final-Review
